Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Reenable ChargeLinkCommandAcceptedHandler tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/ChargeLinkCommandAcceptedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/DateTime/InstantExtensionsTests.cs
Due: none

Remove extra s from developer scripts
  source/GreenEnergyHub.Charges/deploy-from-localhost.cmd
Due: none

Remove unused usings
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/ChargeLinkCommandAcceptedHandlerTests.cs
Due: none

Renamed to CreateDefaultChargeLinks and Reply
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinks.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksReply.proto
Due: infrastructure

Renamed to CreateDefaultChargeLinkMessages and reply
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessages.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesReply.proto
Due: infrastructure

Update name of functionhost cd which was reporting wrong name
  .github/workflows/functionhost-cd.yml
Due: none

Move charge link received endpoint to functionhost (with extra sample settings)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/LinkCommandReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
Due: none

Rework after archs input - split reply into succeeded and failed
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessages.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesSucceeded.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksSucceeded.proto
Due: infrastructure

Test ChargeLinkCommand created from ChargeLink and ChargeLinkPeriodDetails
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkCommandFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkCommandAcceptedHandlerTests.cs
Due: none

Test map to accepted event from ChargeLinkCommand
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Mapping/ChargeLinkCommandMapperTests.cs
Due: none

minor text adjustments
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessages.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesSucceeded.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinks.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksSucceeded.proto
Due: infrastructure

Expect EndDateTime to equal
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkFactoryTests.cs
Due: none

Remove todo
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkCreatedEvents/ChargeLinkCreatedEventFactory.cs
Due: businesslogic

Added contracts-md-referal to README
  README.md
Due: none

Add dependency inject needed by charge link receiver
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
Due: none

build: terraform setup and connectionstrings
  build/infrastructure/env/Development/sbt-charge-created.tf
  build/infrastructure/main/azfun-functionhost.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/sbs-command-accepted-listener.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandAcceptedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/IChargeCommandAcceptedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeCommandAcceptedReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/FunctionHost/FunctionsShouldBeIncludedInCoverageTests.cs
Due: businesslogic

Add new settings to functionhost terraform
  build/infrastructure/main/azfun-functionhost.tf
Due: none

Remove charge link command receiver project
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/GreenEnergyHub.Charges.ChargeLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/host.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/local.settings.sample.json
Due: none

Remove pipeline and terraform of charge link command receiver
  .github/workflows/link-command-receiver-cd.yml
  .github/workflows/link-command-receiver-ci.yml
  build/infrastructure/main/azfun-link-command-receiver.tf
Due: none

Remove charge link command receiver from developer deployment script
  source/GreenEnergyHub.Charges/deploy-from-localhost.cmd
Due: none

Move link event publisher to function host
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/ChargeLinkEventPublisherServiceBusTrigger.cs
Due: none

Make ErrorCode unique
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksFailed.proto
Due: infrastructure

Update coverage test to use functionhost instead of old functions
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/FunctionHost/FunctionsShouldBeIncludedInCoverageTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
Due: none

Change link event publisher to use domain connection string
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/ChargeLinkEventPublisherServiceBusTrigger.cs
Due: none

temp using double instead of decimal
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargePricesUpdatedOutboundMapper.cs
Due: infrastructure

Move additonal settings needed by link event publisher to functionhost
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/ChargeLinkEventPublisherServiceBusTrigger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
Due: none

Add dependency injection needed by link event publisher
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
Due: none

Added requests and replies to contractsmd
  README.md
  docs/contracts.md
Due: none

Enhance naming and description for Azure sandbox
  build/infrastructure/README.md
  build/infrastructure/deploy-infrastructure-from-localhost.cmd
  deploy-from-localhost.cmd
  docs/local-development/README.md
  docs/local-development/publish-function-azure-sandbox.md
  source/GreenEnergyHub.Charges/publish-functions-from-localhost.cmd
Due: none

Update link event publisher to use correct extractor
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/ChargeLinkEventPublisherServiceBusTrigger.cs
Due: none

Remove link event publisher project
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/GreenEnergyHub.Charges.ChargeLinkEventPublisher.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Properties/serviceDependencies.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Properties/serviceDependencies.local.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/host.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/local.settings.sample.json
Due: none

Add new configuration needed by link event publisher to functionhost terraform
  build/infrastructure/main/azfun-functionhost.tf
Due: none

Remove terraform and pipelines of link event publisher
  .github/workflows/link-event-publisher-cd.yml
  .github/workflows/link-event-publisher-ci.yml
  build/infrastructure/main/azfun-link-event-publisher.tf
Due: none

Remove link event publisher from developer deployment script
  source/GreenEnergyHub.Charges/deploy-from-localhost.cmd
Due: none

Remove unused using
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/ChargeLinkEventPublisherServiceBusTrigger.cs
Due: none

Fix markdown
  docs/local-development/publish-function-azure-sandbox.md
Due: none

Move charge confirmation sender endpoint to functionhost
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeConfirmationSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/FunctionHost/FunctionsShouldBeIncludedInCoverageTests.cs
Due: none

Change confirmation sender to use correct extractor
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeConfirmationSenderEndpoint.cs
Due: none

Add configuration needed for charge confirmation sender to functionhost sample file
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
Due: none

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
