Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

change null exception tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeConfirmationOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeLinkCreatedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeRejectionOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/MeteringPointCreatedIntegrationInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandAcceptedInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandAcceptedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandReceivedInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandReceivedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandRejectedInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandRejectedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandAcceptedInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandAcceptedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandReceivedInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapperTests.cs
Due: none

renamed to convert
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandRejectedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandRejectedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapper.cs
Due: infrastructure

set TestCore to not be a unittest project
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
Due: none

change messaging ioc registration
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/MessageReceiverConfiguration.cs
Due: none

update squadron ioc
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/MessageReceiverConfiguration.cs
Due: none

deserialize protobuf instead of json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeLocalHostTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ServiceBusTestHelper.cs
Due: none

add extractor
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeLocalHostTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeSquadronTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ServiceBusTestHelper.cs
Due: none

made testable to convert protobuf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeSquadronTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ProtobufMessageChargeCommandReceivedDeserializerTestable.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ServiceBusTestHelper.cs
Due: none

move helper deserializer to local file
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ProtobufMessageChargeCommandReceivedDeserializerTestable.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ServiceBusTestHelper.cs
Due: none

Add unit tests of Timestamp/Instant extensions
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/DateTime/TimestampExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/DateTime/InstantExtensionsTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/DateTime/TimestampExtensionsTests.cs
Due: businesslogic

Update time extension to support full precision of times
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/DateTime/TimestampExtensions.cs
Due: businesslogic

Use time mappers in ChargeCommandAcceptedInboundMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedInboundMapper.cs
Due: infrastructure

Use time mappers in ChargeCommandAcceptedOutboundMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedOutboundMapper.cs
Due: infrastructure

Use time mappers in ChargeCommandReceivedInboundMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedInboundMapper.cs
Due: infrastructure

Use time mappers in ChargeCommandReceivedOutboundMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedOutboundMapper.cs
Due: infrastructure

Use time mappers in ChargeCommandRejectedInboundMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandRejectedInboundMapper.cs
Due: infrastructure

Use time mappers in ChargeCommandRejectedOutboundMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandRejectedOutboundMapper.cs
Due: infrastructure

Add support for truncating timestamps
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/DateTime/TimestampExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/DateTime/TimestampExtensionsTests.cs
Due: businesslogic

Update outbound mappers to truncate to seconds on timestamps
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/DateTime/TimestampExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandRejectedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/DateTime/TimestampExtensionsTests.cs
Due: businesslogic, infrastructure

Change method to ConvertPoints for consistency, as per review comment
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandRejectedOutboundMapper.cs
Due: infrastructure

Update link mappers to use new time converters
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapper.cs
Due: infrastructure

UpdatedRuleSetFlow drawio and png
  docs/images/PersistingChargesRuleSet_ProcessFlow.drawio
  docs/images/PersistingChargesRuleSet_ProcessFlow.png
Due: none

Fix unit tests and assert methods of ProtoBuf contracts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/AssertExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/FluentAssertionsExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/ProtoBufAssert.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeConfirmationOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeLinkCreatedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeRejectionOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandAcceptedInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandAcceptedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandReceivedInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandReceivedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandRejectedInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandRejectedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandAcceptedInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandAcceptedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandReceivedInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestCore/ProtoBufAssertHelpers/TestBaseContract.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestCore/ProtoBufAssertHelpers/TestDomainType.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestCore/ProtoBufAssertHelpers/TestDomainTypeEquivalentContract.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestCore/ProtoBufAssertHelpers/TrueSubsetContract.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestCore/ProtoBufAssertHelpers/TrueSupersetContract.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestCore/ProtoBufAssertTests.cs
Due: none

JetBrains configuration for automatic adding copyright to new files
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln.DotSettings
Due: none

AddedNoteOnStoringAStopCharge
  docs/images/PersistingChargesRuleSet_ProcessFlow.drawio
  docs/images/PersistingChargesRuleSet_ProcessFlow.png
Due: none

removedUnusedElements
  docs/images/PersistingChargesRuleSet_ProcessFlow.drawio
  docs/images/PersistingChargesRuleSet_ProcessFlow.png
Due: none

SimplifyOverLapExPeriodConditionsAndUseAbbr
  docs/images/PersistingChargesRuleSet_ProcessFlow.drawio
  docs/images/PersistingChargesRuleSet_ProcessFlow.png
Due: none

FixedErrorInConditionsHandlingExPeriods
  docs/images/PersistingChargesRuleSet_ProcessFlow.drawio
  docs/images/PersistingChargesRuleSet_ProcessFlow.png
Due: none

SimplifiedFlow
  docs/images/PersistingChargesRuleSet_ProcessFlow.drawio
  docs/images/PersistingChargesRuleSet_ProcessFlow.png
Due: none

StoreChargeOpNewLocation
  docs/images/PersistingChargesRuleSet_ProcessFlow.drawio
  docs/images/PersistingChargesRuleSet_ProcessFlow.png
Due: none

Add protobuf message extensions
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/ProtobufMessageExtensions.cs
Due: none

Add unfinished customization
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/AutoMoqDataAttribute.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/ProtobufCustomization.cs
Due: none

CorrectedFileNamesAndSpellingErrors
  .github/workflows/metering-point-created-receiver-cd.yml
  .github/workflows/metering-point-created-receiver-ci.yml
Due: none

Add functionality for reflecting what to customize
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/ProtobufCustomization.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/ProtobufCustomizationFunction.cs
Due: none

docs: Update rule set for persisting charges and prices (process flow update) (#481)
  docs/images/PersistingChargesRuleSet_ProcessFlow.drawio
  docs/images/PersistingChargesRuleSet_ProcessFlow.png
Due: none

Removed unused usings and add comments
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/ProtobufCustomization.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/ProtobufMessageExtensions.cs
Due: none

CorrectedFileNamesAndSpellingErrors (#483)
  .github/workflows/metering-point-created-receiver-cd.yml
  .github/workflows/metering-point-created-receiver-ci.yml
Due: none

Ignore Transaction properties from the GreenEnergyHub.Messaging assembly
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/ProtoBufAssert.cs
Due: none

Remove name from market participant
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MarketDocument/MarketParticipant.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MarketParticipantMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeCommandTestBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Mapping/MarketParticipantMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: businesslogic, infrastructure

Fix bug in Inbound rejection mapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandRejectedInboundMapper.cs
Due: infrastructure
