Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

fix: dependency injection error in receiver (#464)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
Due: none

add mapper and accepted file
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeCommandAccepted.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedOutboundMapper.cs
Due: infrastructure

create ChargeCommandReceivedInboundMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedInboundMapper.cs
Due: infrastructure

finished ChargeCommandReceivedInboundMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedInboundMapper.cs
Due: infrastructure

Remove jetbrains annotation from projects
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/GreenEnergyHub.Charges.Domain.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
Due: businesslogic, infrastructure

add more ChargeCommand mappers
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedOutboundMapper.cs
Due: infrastructure

Remove uses of Jetbrains.Annotation
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Acknowledgements/ChargeConfirmation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Acknowledgements/ChargeRejection.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Command/CommandBase.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/ChargeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/MessageDispatcher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/MessageExtractor.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/ValidationRules/CommandSenderMustBeAnExistingMarketParticipantRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/Json/JsonSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/TestableServiceBusChannel.cs
Due: businesslogic, infrastructure

refac: Remove use of Jetbrains.Annotation (#468)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Acknowledgements/ChargeConfirmation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Acknowledgements/ChargeRejection.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Command/CommandBase.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/GreenEnergyHub.Charges.Domain.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/ChargeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/MessageDispatcher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/MessageExtractor.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/ValidationRules/CommandSenderMustBeAnExistingMarketParticipantRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/Json/JsonSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/TestableServiceBusChannel.cs
Due: businesslogic, infrastructure

Add support for retries to ping webtest
  build/infrastructure/modules/ping-webtest/main.tf
  build/infrastructure/modules/ping-webtest/variables.tf
Due: none

Remove unused storage account module
  build/infrastructure/modules/storage-account/main.tf
  build/infrastructure/modules/storage-account/outputs.tf
  build/infrastructure/modules/storage-account/variables.tf
Due: none

Add module for monitor action groups using emails
  build/infrastructure/modules/monitor-action-group-email/main.tf
  build/infrastructure/modules/monitor-action-group-email/outputs.tf
  build/infrastructure/modules/monitor-action-group-email/variables.tf
Due: none

add integration outbound mappers
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Charge/ChargeConfirmation.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Charge/ChargeRejection.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargeConfirmationOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargeRejectionOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeCommandRejected.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedInboundMapper.cs
Due: infrastructure

Add module for availability alerts
  build/infrastructure/modules/availability-alert/main.tf
  build/infrastructure/modules/availability-alert/outputs.tf
  build/infrastructure/modules/availability-alert/variables.tf
Due: none

Fix whitespace issue in monitor action group tf
  build/infrastructure/modules/monitor-action-group-email/main.tf
Due: none

add rejection event mappers
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargeConfirmationOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargeRejectionOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandRejectedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandRejectedOutboundMapper.cs
Due: infrastructure

Add notification email to teardown pipeline
  .github/workflows/pr-env-teardown.yml
Due: none

Use notification secret in pr-setup-pipeline
  .github/workflows/pr-env-setup.yml
Due: none

Add action for setting up domain specific Terraform options
  .github/actions/setup-domain-specific-terraform-options/action.yml
Due: none

Add notification email to sample tfvars
  build/infrastructure/localhost.tfvars.sample
Due: none

Add notification email to intrastructure pipeline
  .github/workflows/infrastructure-cd.yml
Due: none

Add notification email as a Terraform variable
  build/infrastructure/main/variables.tf
Due: none

Update README.md with information about new Terraform variable
  build/infrastructure/README.md
Due: none

Fix variable in domain specific setup
  .github/actions/setup-domain-specific-terraform-options/action.yml
Due: none

Add missing dependencies to infrastructure pipeline
  .github/workflows/infrastructure-cd.yml
Due: none

change type in outbound mapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedOutboundMapper.cs
Due: infrastructure

setup IoC for protobuf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/GreenEnergyHub.Charges.ChargeConfirmationSender.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/GreenEnergyHub.Charges.ChargeRejectionSender.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/Startup.cs
Due: infrastructure

fix wrong connectionstring
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/Startup.cs
Due: infrastructure

Add documentation to availability test module
  build/infrastructure/modules/availability-alert/main.tf
Due: none

build: Add availability terraform modules (#469)
  build/infrastructure/modules/availability-alert/main.tf
  build/infrastructure/modules/availability-alert/outputs.tf
  build/infrastructure/modules/availability-alert/variables.tf
  build/infrastructure/modules/monitor-action-group-email/main.tf
  build/infrastructure/modules/monitor-action-group-email/outputs.tf
  build/infrastructure/modules/monitor-action-group-email/variables.tf
  build/infrastructure/modules/ping-webtest/main.tf
  build/infrastructure/modules/ping-webtest/variables.tf
Due: none

Remove extra whitespaces in terraform teardown
  .github/workflows/pr-env-teardown.yml
Due: none

fix mapper and dependency injection
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/ChargeCommandEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/GreenEnergyHub.Charges.ChargeCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/LinkCommandReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandRejectedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Registration/RegistrationExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/Startup.cs
Due: infrastructure

Fix spelling error in sample file
  build/infrastructure/localhost.tfvars.sample
Due: none

Rename terraform setup action
  .github/actions/setup-terraform-options/action.yml
  .github/workflows/infrastructure-cd.yml
  .github/workflows/pr-env-setup.yml
  .github/workflows/pr-env-teardown.yml
Due: none

Change trigger path to reflect renaming changes
  .github/workflows/infrastructure-cd.yml
Due: none

build: Add notification email to pipelines (#470)
  .github/actions/setup-terraform-options/action.yml
  .github/workflows/infrastructure-cd.yml
  .github/workflows/pr-env-setup.yml
  .github/workflows/pr-env-teardown.yml
  build/infrastructure/README.md
  build/infrastructure/localhost.tfvars.sample
  build/infrastructure/main/variables.tf
Due: none

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
