Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Updated charge link arch diagram to fit 588
  ARCHITECTURE-ChargeLinks.png
  ARCHITECTURE.drawio
Due: none

Use TestCommon 1.0.1 for pipeline integration test
  .github/workflows/ci.yml
  .github/workflows/clients-ci.yml
Due: none

Add ReceiptStatus to constants
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/CimChargeLinkReceiptConstants.cs
Due: infrastructure

Add interface for ChargeLinkReceiptSerializer
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/IChargeLinkReceiptSerializer.cs
Due: infrastructure

Rename interface to include CIM
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/IChargeLinkReceiptCimSerializer.cs
Due: infrastructure

Add CIM receipt constants with support for confirmations
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/CimChargeLinkReceiptConstants.cs
Due: infrastructure

Extend AvailableChargeLinkReceiptData with MeteringPointId
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinkReceiptData/AvailableChargeLinkReceiptData.cs
Due: businesslogic

Add AvailableChargeLinkReceiptData
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinkReceiptData/AvailableChargeLinkReceiptData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinkReceiptData/ReceiptStatus.cs
Due: businesslogic

Add document type for charge link receipts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MarketParticipants/DocumentType.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/DocumentTypeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/DocumentTypeMapperTests.cs
Due: businesslogic, infrastructure

Add bundle serializer for confirmations of charge links
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializer.cs
Due: infrastructure

Add ReceiptStatusMapper and tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ReceiptStatusMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ReceiptStatusMapperTests.cs
Due: infrastructure

Extend available receipt data with request time and ref ID
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinkReceiptData/AvailableChargeLinkReceiptData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializerTests.cs
Due: businesslogic

Add expected output of bundled confirmations for charge links
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkReceiptCimSerializerConfirmation.blob
Due: none

Refactor charge serializer to use new abstract class
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/ChargeCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/IChargeCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeBundle/Cim/ChargeCimSerializerTests.cs
Due: infrastructure

Refactor charge link serializer to use new abstract class
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/IChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleCreator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleCreatorTests.cs
Due: infrastructure

Add ChargeLinkReceiptCimSerializer tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializerTests.cs
Due: none

Extract shared functionality to abstract class and refactor reciept serializer to use it
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/IChargeLinkReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Cim/CimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializerTests.cs
Due: infrastructure

Generate reason codes in test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinkReceiptData/AvailableChargeLinkReceiptData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializerTests.cs
Due: businesslogic

Add expected output of rejection
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkReceiptCimSerializerRejection.blob
Due: none

Extend receipt data with reason codes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinkReceiptData/AvailableChargeLinkReceiptData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinkReceiptData/AvailableChargeLinkReceiptDataReasonCode.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinkReceiptData/ReasonCode.cs
Due: businesslogic

Add ReasonCode mapper and tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ReasonCodeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ReasonCodeMapperTests.cs
Due: infrastructure

Fix wrong namespace and root on rejections
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/CimChargeLinkReceiptConstants.cs
Due: infrastructure

Fix issue with ReceiptStatus and add support for reason codes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinkReceiptData/AvailableChargeLinkReceiptData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/CimChargeLinkReceiptConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Cim/CimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkReceiptCimSerializerConfirmation.blob
Due: businesslogic, infrastructure

Add test of rejections
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializerTests.cs
Due: none

added the simpleInjector project
  source/Energinet.Charges.Libraries/Energinet.DataHub.Charges.Libraries.sln
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/ContainerExtensions.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/Energinet.DataHub.Charges.Clients.SimpleInjector.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/documents/documentation.md
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/documents/release-notes/release-notes.md
Due: none

Overwrite build configuration
  .github/workflows/ci.yml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/functionapphost.settings.json
Due: none

Set new APPI instrumentation key
  .github/workflows/clients-ci.yml
Due: none

tests for simpleinjector extension
  source/Energinet.Charges.Libraries/Energinet.DataHub.Charges.Libraries.sln
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/ContainerExtensions.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjectorTests/ContainerExtensionsTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjectorTests/Energinet.DataHub.Charges.Clients.SimpleInjectorTests.csproj
Due: none

Add AZURE_APPI_INSTRUMENTATION_KEY secret
  .github/workflows/ci.yml
Due: none

misc fixes
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/Energinet.DataHub.Charges.Clients.SimpleInjector.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjectorTests/ContainerExtensionsTests.cs
Due: none

Update TestCommon to 1.1.0
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/Energinet.DataHub.Charges.Clients.IntegrationTests.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/Fixtures/ChargesClientsFixture.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Common/EnvironmentSettingNames.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
Due: none

updated documentation
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Configuration/DefaultChargeLinkClientConfiguration.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/documentation.md
Due: none

Remove Invalid secret
  .github/workflows/ci.yml
Due: none

Clients version bump
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
Due: none

inbound/outbound mappers
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/CreateDefaultChargeLinksClientConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/DefaultChargeLinksDataAvailableNotified.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/DefaultChargeLinksDataAvailableNotifiedLinkCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/DefaultChargeLinksDataAvailableNotifiedLinkCommandReceivedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedOutboundMapper.cs
Due: infrastructure

Removed unused resource
  .github/workflows/ci.yml
Due: none

move protobuf config
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/DefaultChargeLinkEventReplierConfiguration.cs
Due: none

Remove uncommented code
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/Fixtures/ChargesClientsFixture.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
Due: none

added workflows for CI / Publish for the new project
  .github/workflows/clients-simple-injector-ci.yml
  .github/workflows/clients-simple-injector-publish.yml
Due: none
