Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

refac: fix local env terraform scripts
  build/infrastructure/env/Development/sbs-charge-created-sub-charges.tf
  build/infrastructure/env/Development/sbs-charge-prices-updated-sub-charges.tf
  build/infrastructure/env/Development/sbt-charge-created.tf
  build/infrastructure/env/Development/sbt-charge-prices-updated.tf
Due: none

comment changes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessages.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesSucceeded.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinks.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksSucceeded.proto
Due: infrastructure

Updated comments for metering point id
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessages.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesSucceeded.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinks.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksSucceeded.proto
Due: infrastructure

Changed single line comments back to two slashes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessages.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesSucceeded.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinks.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksSucceeded.proto
Due: infrastructure

Fix parallel running ChargeRepositoryTests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: none

Enhance naming and description for Azure sandbox (#648)
  build/infrastructure/README.md
  build/infrastructure/deploy-infrastructure-from-localhost.cmd
  deploy-from-localhost.cmd
  docs/local-development/README.md
  docs/local-development/publish-function-azure-sandbox.md
  source/GreenEnergyHub.Charges/publish-functions-from-localhost.cmd
Due: none

refac: many pr comment fixes
  build/infrastructure/main/azfun-functionhost.tf
  build/infrastructure/main/locals.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/ChargeCreated.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Factories/ChargeCreatedFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Currency/Iso4217CurrencyConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Enumeration/EnumExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Period.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/Enumeration/EnumExtensionsTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeCreatedOutboundMapperTests.cs
Due: businesslogic

refac: moved into 2 senders
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/ChargePricesUpdatedSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/ChargeSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/IChargePricesUpdatedSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/IChargeSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandAcceptedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandAcceptedEventHandlerTests.cs
Due: businesslogic

Update IntegrationTest project to .NET 5.0
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/EmbeddedResourceHelper.cs
Due: none

test: make IncomingContractIsSuperset support decimalvalue
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Protobuf/ProtobufAssert.cs
Due: none

test: add support for DecimalValue in IncomingContractIsSuperset
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Protobuf/ProtobufAssert.cs
Due: none

refac: add safer cast of enum
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargeCreatedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargePricesUpdatedOutboundMapper.cs
Due: infrastructure

Upgrade IntegrationTest nuget packages to .NET 5.0 variants
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ChargeDbQueries.cs
Due: none

Target .NET 5.0 in TestCore
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
Due: none

test: add nodatime autofixture support
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Attributes/AutoMoqDataAttribute.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeCreatedOutboundMapperTests.cs
Due: none

Update nuget packages of TestCore to .NET 5.0 variants
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
Due: none

Update target of ApplyDBMigration to .NET 5.0
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
Due: infrastructure

Upgrade FunctionHost to .NET 5.0 nuget variants
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/GreenEnergyHub.Charges.FunctionHost.csproj
Due: none

Upgrade Infrastructure to .NET 5.0 with nuget package upgrades
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
Due: infrastructure

Target .NET 5.0 in Application project
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/GreenEnergyHub.Charges.Application.csproj
Due: businesslogic

Upgrade nuget packages of Application project to .NET 5.0 variants
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/GreenEnergyHub.Charges.Application.csproj
Due: businesslogic

Target .NET 5.0 in Domain project
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/GreenEnergyHub.Charges.Domain.csproj
Due: businesslogic

remove until better solution to avoid multiple DecimalValue
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Protobuf/ProtobufAssert.cs
Due: none

change sender name to publisher
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/ChargePricesUpdatedPublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/ChargePublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/IChargePricesUpdatedPublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/IChargePublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandAcceptedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandAcceptedEventHandlerTests.cs
Due: businesslogic

rename currency class
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Factories/ChargeCreatedFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Currency/CurrencyConfigurationIso4217.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
Due: businesslogic

Upgrade core project to target .NET 5.0
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/GreenEnergyHub.Charges.Core.csproj
Due: businesslogic

Upgrade ISO8601 to target .NET 5.0
  source/iso8601/GreenEnergyHub.Iso8601/GreenEnergyHub.Iso8601.csproj
Due: none

add enum text line break for easier readability
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Enumeration/EnumExtensions.cs
Due: businesslogic

do more enum text formatting
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Enumeration/EnumExtensions.cs
Due: businesslogic

Update geh json project to target .NET 5.0
  source/Shared/GreenEnergyHub/source/GreenEnergyHub.Json/GreenEnergyHub.Json.csproj
Due: none

remove HasPrices() helper method
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandAcceptedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeCommandAcceptedEvents/ChargeCommandAcceptedEvent.cs
Due: businesslogic

Update geh validation report dispatcher to target .NET 5.0
  source/queues/source/GreenEnergyHub.Queues.ValidationReportDispatcher/GreenEnergyHub.Queues.ValidationReportDispatcher.csproj
Due: none

Update geh Queues.Kafka to target .NET 5.0
  source/queues/source/GreenEnergyHub.Queues.Kafka/GreenEnergyHub.Queues.Kafka.csproj
Due: none

Update geh Queues.AzureServiceBus to target .NET 5.0
  source/queues/source/GreenEnergyHub.Queues.AzureServiceBus/GreenEnergyHub.Queues.AzureServiceBus.csproj
Due: none

Update geh Queues to target .NET 5.0
  source/queues/source/GreenEnergyHub.Queues/GreenEnergyHub.Queues.csproj
Due: none

Update GEH TestHelpers to target .NET 5.0
  source/Shared/GreenEnergyHub/source/GreenEnergyHub.TestHelpers/GreenEnergyHub.TestHelpers.csproj
Due: none

Update geh TestHelpers to use .NET 5.0 nuget variants
  source/Shared/GreenEnergyHub/source/GreenEnergyHub.TestHelpers/GreenEnergyHub.TestHelpers.csproj
Due: none

Update Messaging.Protobuf.Integration.ServiceCollection to target .NET 5.0
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf.Integration.ServiceCollection/GreenEnergyHub.Messaging.Protobuf.Integration.ServiceCollection.csproj
Due: none

Update Messaging.Protobuf.Integration.ServiceCollection to use .NET 5.0 nuget packages
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf.Integration.ServiceCollection/GreenEnergyHub.Messaging.Protobuf.Integration.ServiceCollection.csproj
Due: none
