Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  integration:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Check for messages in postoffice service bus topic (#280)
  .github/actions/integration-test/action.yml
  build/infrastructure/sb-charges.tf
  build/infrastructure/sb-post-office.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/local.settings.json.sample
Due: none

Service Bus subscription names using dashes
  build/infrastructure/sb-post-office.tf
Due: none

Operation names must match our ubiquitous language (#279)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/BusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ChargeCommandInputValidator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/OperationTypeValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChangeOfCharges/Transaction/OperationType.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/BusinessUpdateValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/OperationTypeValidationRuleTest.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeCommandTestBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: unit

Fix breaking change to ChargeType enum
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChangeOfCharges/Transaction/ChargeType.cs
Due: unit

Add code comment about enum numbers
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChangeOfCharges/Transaction/ChargeType.cs
Due: unit

Service Bus subscription names using dashes (#282)
  build/infrastructure/sb-post-office.tf
Due: none

Fix breaking change to ChargeType enum (#283)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChangeOfCharges/Transaction/ChargeType.cs
Due: unit

renamed ChargeRowID to ChargeRowId and changed Vatclassification to VatClassification
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202105191329 New charge model.sql
Due: integration

fixed casing in CorrelationID
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202105191329 New charge model.sql
Due: integration

Fixing naming mistakes in the new Charge DB model (#284)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202105191329 New charge model.sql
Due: integration

Delay while loop to allow RegistrerMessageHandler async function to run
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeLocalHostTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ServiceBusTestHelper.cs
Due: none

Add CommandSenderMustBeAnExistingPartyRule validation
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChangeOfCharges/Repositories/IMarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/ChargeCommandBusinessValidator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessAdditionValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessCreateValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessStopValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessUpdateValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/IBusinessAdditionValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/IBusinessCreateValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/IBusinessStopValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/IBusinessUpdateValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/IBusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/ValidationRules/CommandSenderMustBeAnExistingPartyRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/ValidationRuleIdentifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/IMarketParticipantMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/MarketParticipantMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/MarketParticipantRoleMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/QueryLogic/MarketParticipantQueryLogic.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/BusinessUpdateValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessCreateValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessStopValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessUpdateValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/ValidationRules/CommandSenderMustBeAnExistingPartyRuleTests.cs
Due: unit, integration

Make sure we use integrationtest local settings for localhost testing
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/FunctionHostConfigurationHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/integrationtest.local.settings.json.sample
Due: none

Delay while loop to allow RegistrerMessageHandler async function to run (#286)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeLocalHostTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/FunctionHostConfigurationHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ServiceBusTestHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/integrationtest.local.settings.json.sample
Due: none

Add process flow & use it in process-flows README
  docs/images/PersistingChargesRuleSet_ProcessFlow.drawio
  docs/images/PersistingChargesRuleSet_ProcessFlow.png
  docs/process-flows/README.md
Due: none

lint and markdown fix
  docs/process-flows/README.md
Due: none

Spell fix
  docs/process-flows/README.md
Due: none

refactored the ChargeRepository to support the new DB model
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChangeOfCharges/Repositories/IChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/BusinessAdditionValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/BusinessUpdateValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/ChargeOperation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/MarketParticipant.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/ChargeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Mapping/ChargeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: unit, integration

ChargePrice's Time was the wrong datatype, it is now a DateTime
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/ChargePrice.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/ChargeMapper.cs
Due: integration

Assert OriginalTransactionReferenceMRid equals document.Id
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ServiceBusTestHelper.cs
Due: none

Remove commented code
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ServiceBusTestHelper.cs
Due: none

Fix: Do not restrict to energy supplier + various fixes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChangeOfCharges/Repositories/IMarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessAdditionValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessCreateValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessStopValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessUpdateValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/IBusinessAdditionValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/MarketParticipantRole.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/MarketParticipantRoleMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeLocalHostTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/InvalidCreateTariffCommand.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/ValidCreateTariffCommand.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessCreateValidationRulesFactoryTests.cs
Due: unit, integration

Change of charges integrationtest22 (#289)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
Due: none

Get charge by correct collationId in pipeline integration test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
Due: none

Get charge by correct collationId in pipeline integration test (#291)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
Due: none

Move execution of pipeline integration test to follow MessageReceiver CD
  .github/workflows/charge-command-receiver-cd.yml
  .github/workflows/charge-confirmation-sender-cd.yml
  .github/workflows/charge-rejection-sender-cd.yml
  .github/workflows/message-receiver-cd.yml
Due: none

removed the unique constraint for some of the indexs that were created
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202105191329 New charge model.sql
Due: integration

Changed Charges Owner to MarketParticipantRowId
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202105191329 New charge model.sql
Due: integration

removed name from Charge, and we have decided on singular naming of the database table names
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/ChargeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: integration

Debug integration test build output
  .github/workflows/integration-test-ci.yml
Due: none

Simplify integration test build
  .github/workflows/integration-test-ci.yml
  .github/workflows/message-receiver-cd.yml
Due: none

Modify test file to match test data in database
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/InvalidCreateTariffCommand.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/ValidCreateTariffCommand.json
Due: none

New drawio vers & link on README to process-flows
  README.md
  docs/images/PersistingChargesRuleSet_ProcessFlow.drawio
Due: none

Git ignore *.local.settings.json
  .gitignore
Due: none

Rename from `Party` to `MarketParticipant`
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessCreateValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessStopValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/Factories/BusinessUpdateValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/ValidationRules/CommandSenderMustBeAnExistingMarketParticipantRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/ValidationRuleIdentifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessCreateValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessStopValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessUpdateValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/ValidationRules/CommandSenderMustBeAnExistingMarketParticipantRuleTests.cs
Due: unit

Fix/improve variable names
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessCreateValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessUpdateValidationRulesFactoryTests.cs
Due: none

Rename `GridOperator` to `GridAccessProvider`
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/MarketParticipantRole.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/MarketParticipantRoleMapper.cs
Due: unit, integration

work
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202105191329 New charge model.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/ChargePeriodDetails.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/ChargeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Mapping/ChargeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: integration
