Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Add new setting for charge link confirmation subscription, reorder settings and fix spelling error
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Common/EnvironmentSettingNames.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/MeteringPoint/ConsumptionMeteringPointPersisterEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
Due: none

Bump dotnet-create-function-artifact to 2.1.0
  .github/workflows/ci.yml
Due: none

Add bff class lib project
  source/Energinet.Charges.Libraries/Energinet.DataHub.Charges.Libraries.sln
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff/Energinet.DataHub.Charges.Clients.Bff.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff/documents/documentation.md
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff/documents/release-notes/release-notes.md
Due: none

Add Abstractions class lib project
  source/Energinet.Charges.Libraries/Energinet.DataHub.Charges.Libraries.sln
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/Energinet.DataHub.Charges.Clients.Abstractions.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/documents/documentation.md
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/documents/release-notes/release-notes.md
Due: none

Add ChargeLinkDto
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/Energinet.DataHub.Charges.Clients.Abstractions.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/Models/ChargeLinkDto.cs
Due: none

Add dto and IChargeLinkClient
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/Energinet.DataHub.Charges.Clients.Abstractions.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/IChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/Models/ChargeLinkDto.cs
Due: none

Bump NuGet version
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/release-notes/release-notes.md
Due: none

Upgrade Azure.Messaging.ServiceBus
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/Energinet.DataHub.Charges.Clients.SimpleInjector.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjectorTests/Energinet.DataHub.Charges.Clients.SimpleInjectorTests.csproj
Due: none

Fix project reference
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjectorTests/Energinet.DataHub.Charges.Clients.SimpleInjectorTests.csproj
Due: none

Bump simple injector package version
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/Energinet.DataHub.Charges.Clients.SimpleInjector.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/documents/release-notes/release-notes.md
Due: none

Update libraries NuGet dependencies (#860)
  source/Energinet.Charges.Libraries/source/Directory.Build.props
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/Energinet.DataHub.Charges.Clients.IntegrationTests.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/Energinet.DataHub.Charges.Clients.SimpleInjector.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/documents/release-notes/release-notes.md
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjectorTests/Energinet.DataHub.Charges.Clients.SimpleInjectorTests.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/Energinet.DataHub.Charges.Clients.Tests.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/release-notes/release-notes.md
Due: none

Added missing dotnet_solution_ci needs in ci.yml
  .github/workflows/ci.yml
Due: none

Make BundleSenderEndpoint adhere to open-closed principle
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/BundleSenderEndpointConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/MessageHub/BundleSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MessageHub/BundleRequestDispatcher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MessageHub/IBundleRequestDispatcher.cs
Due: infrastructure

Make bundle sending code cleaner
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/IChargeLinkBundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/MessageHub/ChargeBundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/MessageHub/ChargeDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/MessageHub/Infrastructure/IChargeBundleCreator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/MessageHub/Infrastructure/IChargeBundleReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MessageHub/IBundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/BundleSenderEndpointConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkBundleSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/MessageHub/BundleSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/ChargeBundleCreator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/MessageHub/ChargeBundleReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/ChargeLinkBundleCreator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MessageHub/BundleCreatorProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MessageHub/BundleReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MessageHub/BundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MessageHub/IBundleCreator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MessageHub/IBundleCreatorProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MessageHub/IBundleReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkBundleSenderTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/MessageHub/ChargeDataAvailableNotifierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeBundle/ChargeBundleCreatorTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/ChargeLinkBundleCreatorTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MessageHub/BundleReplierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MessageHub/BundleSenderTests.cs
Due: businesslogic, infrastructure

Minor code clean up
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/MessageHub/ChargeDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MarketParticipants/IMarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Health/HealthStatus.cs
Due: businesslogic

remove unused environment
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Common/EnvironmentSettingNames.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
Due: none

removed unused env
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
Due: none

renamed event
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ICreateDefaultChargeLinksReplierHandler.cs
Due: businesslogic

removed unused using and metadatacontext
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/CreateDefaultChargeLinksReplierEndpoint.cs
Due: none

renamed ReplierHandler to ReplyHandler
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ICreateDefaultChargeLinksReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/CreateDefaultChargeLinksReplierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/DefaultChargeLinkEventReplierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandlerTests.cs
Due: businesslogic

Add test for serializer
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeReceiptBundle/Cim/ChargeReceiptCimSerializerTests.cs
Due: none

Add serializer of charge receipts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeReceiptBundle/Cim/ChargeReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeReceiptBundle/Cim/IChargeReceiptCimSerializer.cs
Due: infrastructure

Add new document type for charge receipts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MarketParticipants/DocumentType.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/DocumentTypeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/DocumentTypeMapperTests.cs
Due: businesslogic, infrastructure

Add available data domain model for charge receipts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeReceiptData/AvailableChargeReceiptData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeReceiptData/AvailableChargeReceiptDataReasonCode.cs
Due: businesslogic

Add constants needed for charge receipts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeReceiptBundle/Cim/CimChargeReceiptConstants.cs
Due: infrastructure

removed prefixes from ressources
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesServiceBusResourceNames.cs
Due: none

Add Web API that delivers mocked charge links data for a metering point (#848)
  .github/workflows/ci.yml
  build/infrastructure/main/app-webapi.tf
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/WebApi/Controllers/ChargeLinksControllerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/Controllers/ChargeLinksController.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/Files/ChargeLinksMockData.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/GreenEnergyHub.Charges.WebApi.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/Models/ChargeLinkDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/Properties/launchSettings.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/Startup.cs
Due: none

Adjust dependabot settings
  .github/dependabot.yml
Due: none

Move enums to shared available data instead of specific receipt
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinkReceiptData/AvailableChargeLinkReceiptDataReasonCode.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeReceiptData/AvailableChargeReceiptDataReasonCode.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableData/ReasonCode.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableData/ReceiptStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ReasonCodeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ReceiptStatusMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeReceiptBundle/Cim/ChargeReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinkReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ReasonCodeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ReceiptStatusMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeReceiptBundle/Cim/ChargeReceiptCimSerializerTests.cs
Due: businesslogic, infrastructure

add overload with func
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/ContainerExtensions.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjectorTests/ContainerExtensionsTests.cs
Due: none

remove IDefaultChargeLinkReplyReader
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/ContainerExtensions.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjectorTests/ContainerExtensionsTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkReplyReader.cs
Due: none

updated version number and documentation
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/Energinet.DataHub.Charges.Clients.SimpleInjector.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/documents/release-notes/release-notes.md
Due: none

Add publish webapi to pub-release-contents action
  .github/actions/publish-release-contents/action.yml
Due: none

updated clients documentation and release notes
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/documentation.md
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/release-notes/release-notes.md
Due: none

added DefaultChargeLinkReplyReader to documentation
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/documentation.md
Due: none

lint
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/documentation.md
Due: none

Move ReceiptStatusMapper to MarketDocument
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeReceiptBundle/Cim/ChargeReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/ReceiptStatusMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ReceiptStatusMapperTests.cs
Due: infrastructure

Remove superfluous EF Core configuration
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinkReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinksDataConfiguration.cs
Due: infrastructure

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
