Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Use shared resources in charge-deployment to T (#442)
  build/infrastructure/env/Development/kv-shared-data.tf
  build/infrastructure/env/Development/kv-shared-stub.tf
  build/infrastructure/env/Development/sb-external-integration-events.tf
  build/infrastructure/env/Development/sb-metering-point-created.tf
  build/infrastructure/env/Development/sbs-metering-point-created-sub-charges.tf
  build/infrastructure/env/Development/sbt-metering-point-created.tf
  build/infrastructure/env/Test/kv-shared-data.tf
  build/infrastructure/env/Test/kv-shared-stub.tf
  build/infrastructure/env/Test/sb-metering-point-created.tf
  build/infrastructure/main/appi.tf
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-charges-message-receiver.tf
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/kv-shared-data.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/sb-post-office.tf
  build/infrastructure/main/sqlsrv-charges.tf
Due: none

build: update function deploy script
  source/GreenEnergyHub.Charges/deploy-from-localhost.cmd
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/MeteringPointCreatedReceiverEndpoint.cs
Due: none

Add default listener and sender to charges service bus namespace
  build/infrastructure/main/sb-charges.tf
Due: none

Add service bus topic for link command accepted
  build/infrastructure/main/sbt-link-command-accepted.tf
Due: none

Add subscription for event publisher using link command accepted events
  build/infrastructure/main/sbs-link-command-accepted-event-publisher.tf
Due: none

Update names of service bus namespace access rules
  build/infrastructure/main/sb-charges.tf
Due: none

Add new integration topic names to local terraform file
  build/infrastructure/main/locals.tf
Due: none

Add Azure Function terraform for event publisher
  build/infrastructure/main/azfun-link-event-publisher.tf
Due: none

Add secret for sender connection string to integration events
  build/infrastructure/env/Development/kv-shared-data.tf
  build/infrastructure/main/kv-shared-data.tf
Due: none

Fix whitespace issue in locals file
  build/infrastructure/main/locals.tf
Due: none

Fix whitespace issues in event publisher azure function
  build/infrastructure/main/azfun-link-event-publisher.tf
Due: none

build: remove tf modules due to refactoring
  build/infrastructure/env/Development/sbt-metering-point-created.tf
Due: none

build: Add terraform for link event publisher (#443)
  build/infrastructure/env/Development/kv-shared-data.tf
  build/infrastructure/main/azfun-link-event-publisher.tf
  build/infrastructure/main/kv-shared-data.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/sbs-link-command-accepted-event-publisher.tf
  build/infrastructure/main/sbt-link-command-accepted.tf
Due: none

refac: rename sb topic name back
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Registration/MessagingRegistrator.cs
Due: infrastructure

refac: remove unused outboundmapper for meteringpoint created
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/MeteringPointCreatedIntegrationOutboundMapper.cs
Due: infrastructure

refac: reverts sln guid names
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
Due: none

refac: remove IOutbound interface
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/MeteringPointCreatedEvent.cs
Due: businesslogic

Make secrets dependenct on keyvault they are in
  build/infrastructure/env/Development/kv-shared-stub.tf
Due: none

feat: add MP Created Receiver endpoint (#441)
  .github/utilities/md-spellcheck/wordlist.txt
  .github/workflows/metring-point-created-receiver-cd.yml
  .github/workflows/metring-point-created-receiver-ci.yml
  build/infrastructure/deploy-from-localhost.cmd
  build/infrastructure/env/Development/sbn-external-integration-events.tf
  build/infrastructure/env/Development/sbt-metering-point-created.tf
  build/infrastructure/main/locals.tf
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/deploy-from-localhost.cmd
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/InboundIntegrationEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/MeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/ChargeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/IMarketParticipantMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MarketParticipantMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/MeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/MeteringPointDomain/MeteringPointDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/README.md
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/GreenEnergyHub.Charges.MeteringPointCreatedReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/MeteringPointCreatedReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/host.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/MeteringPointCreatedIntegrationInboundMapperTests.cs
Due: businesslogic, infrastructure

add charge link command receiver function
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/GreenEnergyHub.Charges.ChargeLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/host.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/local.settings.sample.json
Due: none

Make secrets dependenct on keyvault they are in (#444)
  build/infrastructure/env/Development/kv-shared-stub.tf
Due: none

add IoC
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/GreenEnergyHub.Charges.ChargeLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/LinkCommandReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
Due: none

refac: split proto to individually classes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLink.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandAcceptedDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/DocumentDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Enums.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/MarketParticipantDomain.proto
Due: infrastructure

build: add missing copyright
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/DocumentDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Enums.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/MarketParticipantDomain.proto
Due: infrastructure

Update needed dependencies
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
Due: none

Bumb Logging.Abstraction to match dependabot upgrade
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/GreenEnergyHub.Charges.ChargeCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/GreenEnergyHub.Charges.MessageReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/GreenEnergyHub.Charges.MeteringPointCreatedReceiver.csproj
Due: infrastructure

refac: split proto to individually classes (#445)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLink.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandAcceptedDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/DocumentDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Enums.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/MarketParticipantDomain.proto
Due: infrastructure

adding stub command handler
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/ChargeLinkCommandAcceptedHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/LinkCommandReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
Due: businesslogic

build: fix spelling error in MP CD
  .github/workflows/metring-point-created-receiver-cd.yml
Due: none

build: fix spelling error in MP CD (#453)
  .github/workflows/metring-point-created-receiver-cd.yml
Due: none

Add basic service bus trigger
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/ChargeLinkEventPublisherServiceBusTrigger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/GreenEnergyHub.Charges.ChargeLinkChargeLinkEventPublisher.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Properties/serviceDependencies.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Properties/serviceDependencies.local.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/host.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/local.settings.sample.json
Due: none

Add project to solution
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
Due: none

Add service bus configuration to sample file
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/local.settings.sample.json
Due: none

More stub code
  source/GreenEnergyHub.Charges/deploy-from-localhost.cmd
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/ChargeLinkCommandAcceptedHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/IChargeLinkCommandAcceptedHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Mapping/ChargeLinkCommandMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Mapping/IChargeLinkCommandMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/LinkCommandReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/local.settings.sample.json
Due: businesslogic

Dependency inject correlation context
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Program.cs
Due: none

Update listener to correct name based on terraform
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/ChargeLinkEventPublisherServiceBusTrigger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/local.settings.sample.json
Due: none

build: add github actions workflows
  .github/workflows/link-command-receiver-cd.yml
  .github/workflows/link-command-receiver-ci.yml
Due: none

Add missing properties to project file
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/GreenEnergyHub.Charges.ChargeLinkChargeLinkEventPublisher.csproj
Due: none

Rename project to correct name
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/GreenEnergyHub.Charges.ChargeLinkChargeLinkEventPublisher.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/GreenEnergyHub.Charges.ChargeLinkReceiver.csproj
Due: infrastructure

Add missing properties to charge link receiver
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/GreenEnergyHub.Charges.ChargeLinkEventPublisher.csproj
Due: none
