Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Message grid operator when charge link created
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/PostOffice/IChargeLinkCreatedDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkCreatedDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
Due: businesslogic

Rename ChargeLinkDto.ChargeId to SenderProvidedChargeId
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkCommands/ChargeLinkCommandFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkCommands/ChargeLinkDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkCreatedEvents/ChargeLinkCreatedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkCommandFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkCreatedEventFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverterTests.cs
Due: businesslogic, infrastructure

More ChargeLink.ChargeId to SenderProvidedChargeId renaming
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandAccepted.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandReceived.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapper.cs
Due: infrastructure

Remove duplicated Github Action steps
  .github/actions/infrastructure-cd/action.yml
  .github/workflows/infrastructure-cd.yml
Due: none

What: Added license to sln file again
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
Due: none

What: Reverted changes to solution file
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
Due: none

What: Added TestCommon solution folder and projects
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
Due: none

What: Move projects to solution folders
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
Due: none

What: Added license header to solution (again)
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
Due: none

Use unofficial post office NuGet package
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/nuget.config
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/GreenEnergyHub.Charges.Application.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/GreenEnergyHub.Charges.FunctionHost.csproj
  source/PostOffice.Communicator/.editorconfig
  source/PostOffice.Communicator/AssemblyInfo.cs
  source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationParser.cs
  source/PostOffice.Communicator/DataAvailable/DataAvailableNotificationSender.cs
  source/PostOffice.Communicator/DataAvailable/IDataAvailableNotificationParser.cs
  source/PostOffice.Communicator/DataAvailable/IDataAvailableNotificationSender.cs
  source/PostOffice.Communicator/Dequeue/DequeueNotificationParser.cs
  source/PostOffice.Communicator/Dequeue/DequeueNotificationSender.cs
  source/PostOffice.Communicator/Dequeue/IDequeueNotificationParser.cs
  source/PostOffice.Communicator/Dequeue/IDequeueNotificationSender.cs
  source/PostOffice.Communicator/Exceptions/PostOfficeCommunicatorException.cs
  source/PostOffice.Communicator/Factories/IServiceBusClientFactory.cs
  source/PostOffice.Communicator/Factories/ServiceBusClientFactory.cs
  source/PostOffice.Communicator/Model/DataAvailableNotificationDto.cs
  source/PostOffice.Communicator/Model/DataBundleRequestDto.cs
  source/PostOffice.Communicator/Model/DataBundleResponseErrorDto.cs
  source/PostOffice.Communicator/Model/DataBundleResponseErrorReason.cs
  source/PostOffice.Communicator/Model/DequeueNotificationDto.cs
  source/PostOffice.Communicator/Model/DomainOrigin.cs
  source/PostOffice.Communicator/Model/GlobalLocationNumberDto.cs
  source/PostOffice.Communicator/Model/MessageTypeDto.cs
  source/PostOffice.Communicator/Model/RequestDataBundleResponseDto.cs
  source/PostOffice.Communicator/Peek/DataBundleRequestSender.cs
  source/PostOffice.Communicator/Peek/DataBundleResponseSender.cs
  source/PostOffice.Communicator/Peek/IDataBundleRequestSender.cs
  source/PostOffice.Communicator/Peek/IDataBundleResponseSender.cs
  source/PostOffice.Communicator/Peek/IRequestBundleParser.cs
  source/PostOffice.Communicator/Peek/IResponseBundleParser.cs
  source/PostOffice.Communicator/Peek/RequestBundleParser.cs
  source/PostOffice.Communicator/Peek/ResponseBundleParser.cs
  source/PostOffice.Communicator/PostOffice.Communicator.csproj
  source/PostOffice.Communicator/Protobuf/DataAvailableNotificationContract.proto
  source/PostOffice.Communicator/Protobuf/DequeueContract.proto
  source/PostOffice.Communicator/Protobuf/RequestBundleRequest.proto
  source/PostOffice.Communicator/Protobuf/RequestBundleResponse.proto
Due: businesslogic

What: Updated TestCommon test projects to .NET 5.0
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon.Tests/GreenEnergyHub.FunctionApp.TestCommon.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon.Tests/GreenEnergyHub.TestCommon.Tests.csproj
Due: none

added tests and dto to package
  source/GreenEnergyHub.Charges.Libraries/GreenEnergyHub.DataHub.Charges.Libraries.sln.DotSettings
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkRequest/DefaultChargeLinkRequestClientTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/MockedServiceBusClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkRequest/DefaultChargeLinkRequestClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Factories/IServiceBusClientFactory.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Factories/ServiceBusClientFactory.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksDto.cs
Due: none

Remove duplicated Github Action steps (#676)
  .github/actions/infrastructure-cd/action.yml
  .github/workflows/infrastructure-cd.yml
Due: none

What: Removed unnecessary TODO's
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppServiceBusOptions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon.Tests/Fixtures/ServiceBusListenerMockServiceBusOptions.cs
Due: none

Fixed using MpId instead of Gsrn and ProductType no longer part of event
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPointCreatedEvents/ConsumptionMeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPointFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapperTests.cs
Due: businesslogic, infrastructure

Removed MeteringMethod from being used in event
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPointCreatedEvents/ConsumptionMeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapperTests.cs
Due: businesslogic, infrastructure

Removed MeterReadingPeriodicity from being used in event
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPointCreatedEvents/ConsumptionMeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedHandlerTests.cs
Due: businesslogic, infrastructure

Fix infra CD pipeline
  .github/actions/infrastructure-cd/action.yml
  .github/workflows/infrastructure-cd.yml
Due: none

What: Implement OnConfigureHostSettings
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
Due: none

Removed netSettlementGroup from being used in event
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPointCreatedEvents/ConsumptionMeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapperTests.cs
Due: businesslogic, infrastructure

command removed from queue tf
  build/infrastructure/env/Development/sbq-create-link.tf
Due: none

added missing licens to files
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkRequest/DefaultChargeLinkRequestClientTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksDto.cs
Due: none

What: Added IsTestProject property to TestCommon libraries
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/GreenEnergyHub.FunctionApp.TestCommon.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon/GreenEnergyHub.TestCommon.csproj
Due: none

Fix: infra CD pipeline (#677)
  .github/actions/infrastructure-cd/action.yml
  .github/workflows/infrastructure-cd.yml
Due: none

Removed unused classes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeterReadingPeriodicity.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringMethod.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/NetSettlementGroup.cs
Due: businesslogic

fixed MD checks on documentation and releas-notes for the package
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/documents/documentation.md
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/documents/release-notes/release-notes.md
Due: none

fixed MD checks on documentation
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/documents/documentation.md
Due: none

removed unused test methods
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/MockedServiceBusClient.cs
Due: none

fixed namespaces
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkRequest/DefaultChargeLinkRequestClientTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkRequest/DefaultChargeLinkRequestClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Factories/IServiceBusClientFactory.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Factories/ServiceBusClientFactory.cs
Due: none

Removed use of GsrnNumber in created event
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPointCreatedEvents/ConsumptionMeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPointFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapperTests.cs
Due: businesslogic, infrastructure

Remove use of secrets from shared action
  .github/actions/infrastructure-cd/action.yml
  .github/workflows/infrastructure-cd.yml
Due: none

add clients-ci workflow
  .github/workflows/clients-ci.yml
Due: none

Rename GridAreaCode to GridAreaId to align with internal naming
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPointCreatedEvents/ConsumptionMeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPointFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapperTests.cs
Due: businesslogic

Removed unused ProductType.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/ProductType.cs
Due: businesslogic

Add unofficial post office NuGet package
  source/GreenEnergyHub.Charges/source/poor-man-package-sharing/GreenEnergyHub.PostOffice.Communicator.1.0.0-CI-05.nupkg
Due: none

fix: Remove use of secrets from shared action (#678)
  .github/actions/infrastructure-cd/action.yml
  .github/workflows/infrastructure-cd.yml
Due: none

added inital nuget package and renamed steps in clients-ci
  .github/workflows/clients-ci.yml
  source/GreenEnergyHub.Charges.Libraries/dist/GreenEnergyHub.DataHub.Charges.Clients.1.0.0-CI-1.nupkg
Due: none

added documentation to the dto
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksDto.cs
Due: none

Use latest consumptionMpCreated contract
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPointCreatedEvents/ConsumptionMeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPointFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/MeteringPointDomain/MeteringPointDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapperTests.cs
Due: businesslogic, infrastructure

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
