Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

docs: Update issue templates (#550)
  .github/ISSUE_TEMPLATE/Bug_Report.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/Project_Risk.md
  .github/ISSUE_TEMPLATE/Support_Question.md
Due: none

Update comment for Operation ID
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkOperation.cs
Due: businesslogic

Update comment
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkOperation.cs
Due: businesslogic

Rename to ChargeLinkOperation.SenderProvidedId
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109071000 Refactor ChargeLink Model.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkOperation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/ChargeLinkEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeLinkRepositoryTests.cs
Due: businesslogic, infrastructure

Add persisting of created charge link (#558)
  build/infrastructure/main/azfun-link-command-receiver.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Factories/ChargeLinkFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109071000 Refactor ChargeLink Model.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202109080933 Metering Point Test Data.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkOperation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkPeriodDetails.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurationExtensions/PropertyBuilderExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/ChargeLinkEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/ChargeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Squadron/SqlServerOptions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: businesslogic, infrastructure

ConenctionState.New enum value
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/ConnectionState.cs
Due: businesslogic

feat: ConenctionState.New enum value (#568)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/ConnectionState.cs
Due: businesslogic

RenameToSenderProvidedId_RemoveNullableEndDateTime
  docs/data-models/ChargeLinkDataModel.drawio
  docs/data-models/ChargeLinkDataModel.png
Due: none

RenameToSenderProvidedId_RemoveNullableEndDateTime (#569)
  docs/data-models/ChargeLinkDataModel.drawio
  docs/data-models/ChargeLinkDataModel.png
Due: none

Fix connection state to connected
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202109080933 Metering Point Test Data.sql
Due: infrastructure

Use correct fix
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202109080933 Update Metering Point Test Data.sql
Due: infrastructure

Include hosts local.settings.json references (#567)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/GreenEnergyHub.Charges.ChargeCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/GreenEnergyHub.Charges.ChargeConfirmationSender.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/GreenEnergyHub.Charges.ChargeLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/GreenEnergyHub.Charges.ChargeLinkEventPublisher.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/GreenEnergyHub.Charges.ChargeLinkReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeReceiver/GreenEnergyHub.Charges.ChargeReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/GreenEnergyHub.Charges.ChargeRejectionSender.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.CreateLinkCommandReceiver/GreenEnergyHub.Charges.CreateLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/GreenEnergyHub.Charges.MeteringPointCreatedReceiver.csproj
Due: infrastructure

Undo wrong fix
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202109080933 Metering Point Test Data.sql
Due: infrastructure

Fix connection state to connected (#570)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202109080933 Metering Point Test Data.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202109080933 Update Metering Point Test Data.sql
Due: infrastructure

editorconfig csharp_brace_style = allow multiple
  .editorconfig
Due: none

Check Points are stored with correct price
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: none

Check that charge prices were added to db in pipeline test (#560)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeLocalHostTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: none

Try adding terraform security check
  .github/workflows/tfsec-analysis.yml
Due: none

Update trigger
  .github/workflows/tfsec-analysis.yml
Due: none

refac: use new context for reading database values
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeRejectionOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/DefaultChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

refac: expected to actual
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: none

Add open source license header
  .github/workflows/tfsec-analysis.yml
Due: none

Align comment style with Protobuf conventions
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Charge/ChargeConfirmation.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Charge/ChargeRejection.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/ChargeLinkCreated.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/MeteringPointDomain/MeteringPointDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeCommandAccepted.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeCommandReceived.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeCommandRejected.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandAccepted.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandReceived.proto
Due: infrastructure

test: add test of GetMeteringPointAsync
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

impl
  build/infrastructure/main/sqldb-charges.tf
Due: none

use the same app service plan for all functions
  build/infrastructure/main/asp-charges.tf
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-receiver.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-create-link-command-receiver.tf
  build/infrastructure/main/azfun-link-command-receiver.tf
  build/infrastructure/main/azfun-link-event-publisher.tf
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
Due: none

replace matrix with static environments
  .github/workflows/infrastructure-cd.yml
Due: none

fix license header
  build/infrastructure/main/asp-charges.tf
Due: none

remove unused service plan
  build/infrastructure/main/azfun-link-event-publisher.tf
Due: none

use the same app service plan for all functions (#603)
  .github/workflows/infrastructure-cd.yml
  build/infrastructure/main/asp-charges.tf
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-receiver.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-create-link-command-receiver.tf
  build/infrastructure/main/azfun-link-command-receiver.tf
  build/infrastructure/main/azfun-link-event-publisher.tf
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
Due: none

Add azfun CD pipeline dependency on infrastructure
  .github/workflows/charge-command-receiver-cd.yml
  .github/workflows/charge-confirmation-sender-cd.yml
  .github/workflows/charge-receiver-cd.yml
  .github/workflows/charge-rejection-sender-cd.yml
  .github/workflows/create-link-command-receiver-cd.yml
  .github/workflows/link-command-receiver-cd.yml
  .github/workflows/link-event-publisher-cd.yml
  .github/workflows/link-receiver-cd.yml
  .github/workflows/metering-point-created-receiver-cd.yml
Due: none

style: editorconfig csharp_brace_style = allow multiple (#573)
  .editorconfig
Due: none

Align comment style with Protobuf conventions (#582)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Charge/ChargeConfirmation.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Charge/ChargeRejection.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/ChargeLinkCreated.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/MeteringPointDomain/MeteringPointDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeCommandAccepted.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeCommandReceived.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeCommandRejected.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandAccepted.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandReceived.proto
Due: infrastructure

Let integration test pass when no local config is present
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeSquadronTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ChargesAzureCloudServiceBusOptions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ChargesAzureCloudServiceBusResource.cs
Due: none

Provide RUN_PIPELINE_TESTS environment variable
  .github/workflows/charge-receiver-cd.yml
  .github/workflows/pr-env-setup.yml
Due: none

refac: use new context for reading database values (#581)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeRejectionOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/DefaultChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

Added PI6 objectives to README
  README.md
Due: none

Fix missing apostrophe
  README.md
Due: none

ChargeLink EndDateTime changed to not null
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Factories/ChargeLinkCreatedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Factories/ChargeLinkFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109171524 Refactor DefaultChargeLink.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkPeriodDetails.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/DefaultChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/DefaultChargeLinkMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/DefaultChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/CreateLinkCommandEventHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkCommandFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkCreatedEventFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/DefaultChargeLinkTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/DefaultChargeLinkRepositoryTests.cs
Due: businesslogic, infrastructure

refac: change mp to use FluentConfiguration
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/GreenEnergyHub.Charges.ChargeCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/GreenEnergyHub.Charges.ChargeLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.CreateLinkCommandReceiver/GreenEnergyHub.Charges.CreateLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.CreateLinkCommandReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/MeteringPointEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/DbContextRegistrator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/GreenEnergyHub.Charges.MeteringPointCreatedReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Squadron/SquadronContextFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: infrastructure
