Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

wip on new provider in charges
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/CreateDefaultChargeLinksClientConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/DefaultChargeLinkClient.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/DefaultChargeLinkClientServiceBusRequestSenderProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/IServiceBusReplySender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/IServiceBusRequestSenderProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/ServiceBusReplySender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/ServiceBusRequestSenderProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/ServiceBusRequestSenderProviderBase.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ToBeRenamedAndSplitted/DefaultChargeLinkClientTests.cs
Due: infrastructure

replace existing ci and cd pipelines with new ones and add action for publish-release-contents
  .github/actions/integration-test/action.yml
  .github/actions/publish-release-contents/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/functionhost-cd.yml
  .github/workflows/functionhost-ci.yml
  .github/workflows/infrastructure-cd.yml
Due: none

rename infrastructure/env folder from Development to Sandbox - contains resources used by team when deploying infrastructure to their own sandbox resource groups
  build/infrastructure/env/Development/sbt-consumption_metering-point-created.tf
  build/infrastructure/env/Sandbox/kv-shared-data.tf
  build/infrastructure/env/Sandbox/kv-shared-stub.tf
  build/infrastructure/env/Sandbox/locals.tf
  build/infrastructure/env/Sandbox/sbn-external-integration-events.tf
  build/infrastructure/env/Sandbox/sbq-create-link-messages.tf
  build/infrastructure/env/Sandbox/sbq-create-link.tf
  build/infrastructure/env/Sandbox/sbq-messagehub-charges.tf
  build/infrastructure/env/Sandbox/sbq-messagehub-dataavailable.tf
  build/infrastructure/env/Sandbox/sbs-charge-created-sub-charges.tf
  build/infrastructure/env/Sandbox/sbs-charge-link-created-sub-charges.tf
  build/infrastructure/env/Sandbox/sbs-charge-prices-updated-sub-charges.tf
  build/infrastructure/env/Sandbox/sbs-consumption_metering-point-created-sub-charges.tf
  build/infrastructure/env/Sandbox/sbt-charge-created.tf
  build/infrastructure/env/Sandbox/sbt-charge-link-created.tf
  build/infrastructure/env/Sandbox/sbt-charge-prices-updated.tf
  build/infrastructure/env/Sandbox/sbt-consumption_metering-point-created.tf
  build/infrastructure/env/Sandbox/stor-marketoperator-response.tf
Due: none

Remove commented code
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/DefaultChargeLink/DefaultChargeLinkTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/DefaultChargeLinkTests.cs
Due: none

Move Protobuf ItemGroup to original location
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
Due: none

Internal access for Protobuf classes
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
Due: none

updated TF to use new modules (expect ping, availability, and monitor group)
  build/infrastructure/main/azfun-functionhost.tf
  build/infrastructure/main/dash-charges.tf
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/kv-shared-data.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/mag-availability.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/plan-shared.tf
  build/infrastructure/main/providers.tf
  build/infrastructure/main/resource-group.tf
  build/infrastructure/main/resource-groups.tf
  build/infrastructure/main/sb-post-office.tf
  build/infrastructure/main/sbs-charge-command-accepted-receiver.tf
  build/infrastructure/main/sbs-chargeaccepted-sub-dataavailablenotifier.tf
  build/infrastructure/main/sbs-chargelinkaccepted-sub-dataavailablenotifier.tf
  build/infrastructure/main/sbs-chargelinkaccepted-sub-eventpublisher.tf
  build/infrastructure/main/sbs-chargelinkaccepted-sub-replier.tf
  build/infrastructure/main/sbs-command-accepted.tf
  build/infrastructure/main/sbs-command-rejected.tf
  build/infrastructure/main/sbs-link-command-received.tf
  build/infrastructure/main/sbt-command-accepted.tf
  build/infrastructure/main/sbt-command-received.tf
  build/infrastructure/main/sbt-command-rejected.tf
  build/infrastructure/main/sbt-link-command-accepted.tf
  build/infrastructure/main/sbt-post-office.tf
  build/infrastructure/main/sqldb-this.tf
  build/infrastructure/main/sqlsrv-charges.tf
  build/infrastructure/main/subscr-main.tf
  build/infrastructure/main/variables.tf
Due: none

add licens header to locals.tf
  build/infrastructure/env/Sandbox/locals.tf
Due: none

readd wordlist.txt
  wordlist.txt
Due: none

remove OPERATION_SYSTEM variabel from dotnet_solution_ci update wordlist
  .github/workflows/ci.yml
  wordlist.txt
Due: none

add env-variables to ci
  .github/workflows/ci.yml
  wordlist.txt
Due: none

use local dotnet-solution-ci.yml
  .github/workflows/ci.yml
  .github/workflows/dotnet-solution-ci.yml
Due: none

-
  .github/workflows/ci.yml
Due: none

Rename charge publisher types
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandAcceptedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/IChargeIntegrationEventsPublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeIntegrationEventsPublisherEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeIntegrationEventsPublisherEndpointConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandAcceptedEventHandlerTests.cs
Due: businesslogic

working reply
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/CreateLinkCommandRequestHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ToBeRenamedAndSplitted/IDefaultChargeLinkClient.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/CreateDefaultChargeLinksClientConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/DefaultChargeLinkClient.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/IServiceBusReplySenderProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/ServiceBusReplySender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/ServiceBusReplySenderProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/CreateLinkCommandEventHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ToBeRenamedAndSplitted/DefaultChargeLinkClientTests.cs
Due: businesslogic, infrastructure

Upgrade Energinet.DataHub.Core.FunctionApp.TestCommon
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/Energinet.DataHub.Charges.Clients.IntegrationTests.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/Fixtures/ChargesClientsFixture.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/Fixtures/ChargesClientsServiceBusOptions.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/Fixtures/ChargesClientsServiceBusResourceNames.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/Fixtures/LibraryFixture.cs
Due: none

Fix the last correlation id based asserts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/ChargeLinkIngestion.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeIngestion.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Common/HttpResponseHeaders.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/DomainTests/ChargeLinks/ChargeLinkIngestionTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/DomainTests/Charges/ChargeIngestionTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestCommon/ServiceBusTestListener.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestCommon/WhenProviderExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/Charges/ValidCreateTariffCommand.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/EmbeddedResourceHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/HttpResponseMessageExtensions.cs
Due: none

Charges solutions builds again - some tests fail
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/CreateLinkCommandEventHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ToBeRenamedAndSplitted/DefaultChargeLinkClientTests.cs
Due: businesslogic

small changes to IAC
  .github/workflows/ci.yml
  .github/workflows/dotnet-solution-ci.yml
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
Due: none

Modify tests following DefaultChargeLinkClient changes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ToBeRenamedAndSplitted/DefaultChargeLinkClient.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/CreateLinkCommandEventHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ToBeRenamedAndSplitted/DefaultChargeLinkClientTests.cs
Due: infrastructure

changes to IaC + CI/CD
  .github/actions/publish-release-contents/action.yml
  .github/workflows/ci.yml
  .github/workflows/clients-ci.yml
  .github/workflows/dotnet-solution-ci.yml
  NOTICE.md
  build/infrastructure/env/Sandbox/locals.tf
  build/infrastructure/main/dash-charges.tf
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/sqldb-this.tf
  build/infrastructure/main/variables.tf
  build/infrastructure/modules/availability-alert/main.tf
  build/infrastructure/modules/monitor-action-group-email/main.tf
  build/infrastructure/modules/ping-webtest/main.tf
  wordlist.txt
Due: none

moved files which did not need to be shared
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkReplyReaderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Mappers/CreateDefaultChargeLinksFailedInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Mappers/CreateDefaultChargeLinksSucceededInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksFailedDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksSucceededDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/GreenEnergyHub.Charges.Application.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ToBeRenamedAndSplitted/DefaultChargeLinkClientTests.cs
Due: businesslogic

renamed the client placed in the charges sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/CreateLinkCommandRequestHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ToBeRenamedAndSplitted/ICreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/CreateDefaultChargeLinksClientConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/IServiceBusReplySender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/IServiceBusReplySenderProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/ServiceBusReplySender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/ServiceBusReplySenderProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/CreateLinkCommandEventHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ToBeRenamedAndSplitted/DefaultChargeLinkClientTests.cs
Due: businesslogic, infrastructure

bumped clients version
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
Due: none

remove unused modules
  build/infrastructure/modules/availability-alert/main.tf
  build/infrastructure/modules/availability-alert/outputs.tf
  build/infrastructure/modules/availability-alert/variables.tf
  build/infrastructure/modules/ping-webtest/main.tf
  build/infrastructure/modules/ping-webtest/outputs.tf
  build/infrastructure/modules/ping-webtest/variables.tf
Due: none

removed unused modules
  build/infrastructure/main/mag-availability.tf
  build/infrastructure/modules/monitor-action-group-email/main.tf
  build/infrastructure/modules/monitor-action-group-email/outputs.tf
  build/infrastructure/modules/monitor-action-group-email/variables.tf
Due: none

fix pr comments
  .github/workflows/ci.yml
Due: none

Rename and move tests of CreateDefaultChargeLinkReplier
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/CreateDefaultChargeLinkReplier/ICreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/CreateLinkCommandRequestHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/GreenEnergyHub.Charges.Application.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/CreateDefaultChargeLinksClientConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinkReplierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/CreateLinkCommandEventHandlerTests.cs
Due: businesslogic, infrastructure

Downgrade version
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
Due: none

moved ReplySender
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/CreateDefaultChargeLinksClientConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ServiceBusReplySenderProvider/IServiceBusReplySender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ServiceBusReplySenderProvider/IServiceBusReplySenderProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ServiceBusReplySenderProvider/ServiceBusReplySender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ServiceBusReplySenderProvider/ServiceBusReplySenderProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinkReplierTests.cs
Due: infrastructure

clients now only have a single SBSender to register
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/DefaultChargeLink/DefaultChargeLinkTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkClientTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Providers/DefaultChargeLinkMessagesClientServiceBusRequestSenderProvider.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Providers/IDefaultChargeLinkClientServiceBusRequestSenderProvider.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Providers/IDefaultChargeLinkMessagesClientServiceBusRequestSenderProvider.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Providers/ServiceBusRequestSenderProvider.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Providers/ServiceBusRequestSenderProviderBase.cs
Due: none

updated documentation
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/documentation.md
Due: none

Update proto documentation
  docs/contracts.md
Due: none

Configuration added for the ServiceBusSenderProvider
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/DefaultChargeLink/DefaultChargeLinkTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/IServiceBusRequestSenderConfiguration.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/ServiceBusRequestSenderConfiguration.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/ServiceBusRequestSenderTestConfiguration.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Providers/ServiceBusRequestSenderProvider.cs
Due: none

Correct path to proto contracts
  docs/contracts.md
Due: none

Re-enable integration tests in pipeline
  .github/workflows/clients-ci.yml
  .github/workflows/dotnet-solution-ci.yml
Due: none

Insert AZURE_KEYVAULT_URL in CI build
  .github/workflows/ci.yml
  .github/workflows/clients-ci.yml
Due: none

updated json setting
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/integrationtest.local.settings.json.sample
Due: none
