Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

sonarcloud workflow only runs on pr if path is hit
  .github/workflows/sonarcloud.yml
Due: none

updated codecov with path
  .github/workflows/codecov-ci.yml
Due: none

Initial commit with mapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/GreenEnergyHub.Charges.ChargeLinkReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Local/InboundIntegrationEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLinkDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargeLinkDomainOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionSendProtobuf.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Transport/Protobuf/ProtobufMessageSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Transport/Protobuf/ProtobufOutboundMapperFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper`1.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Transport/ServiceBusChannel.cs
Due: businesslogic, infrastructure

Use own storage account on one function as a test
  build/infrastructure/main/azfun-charges-message-receiver.tf
  build/infrastructure/modules/storage-account/main.tf
  build/infrastructure/modules/storage-account/outputs.tf
  build/infrastructure/modules/storage-account/variables.tf
Due: none

removed the files containing the project for the ChargeNegativeAcknowledgementSender
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/ChargeCommandRejectedSubscriber.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/host.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/local.settings.sample.json
Due: none

Use own storage account on one function as a test (#403)
  build/infrastructure/main/azfun-charges-message-receiver.tf
  build/infrastructure/modules/storage-account/main.tf
  build/infrastructure/modules/storage-account/outputs.tf
  build/infrastructure/modules/storage-account/variables.tf
Due: none

Use quotations in storage account module
  build/infrastructure/modules/storage-account/main.tf
Due: none

Add missing quotation to TLS in module (#405)
  build/infrastructure/modules/storage-account/main.tf
Due: none

Fix storage account names
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
Due: none

Use own storage module
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
Due: none

sonarcloud and codecov workflow only runs on pr if /source or workflow is hit (#402)
  .github/workflows/codecov-ci.yml
  .github/workflows/sonarcloud.yml
Due: none

Fix name of storage accounts (#406)
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
Due: none

Removed json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/ChargeLinkHttpTrigger.cs
Due: infrastructure

Reintroduce use of shared storage account module
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-charges-message-receiver.tf
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
Due: none

Reintroduce use of shared storage account module (#407)
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-charges-message-receiver.tf
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
Due: none

rename Development to development folder
  build/infrastructure/env/ddevelopment/kv-shared-data.tf
  build/infrastructure/env/ddevelopment/kv-shared-stub.tf
  build/infrastructure/env/ddevelopment/sb-external-integration-events.tf
  build/infrastructure/env/ddevelopment/sb-metering-point-created.tf
Due: none

remove duplicate d in development folder naming
  build/infrastructure/env/development/kv-shared-data.tf
  build/infrastructure/env/development/kv-shared-stub.tf
  build/infrastructure/env/development/sb-external-integration-events.tf
  build/infrastructure/env/development/sb-metering-point-created.tf
Due: none

removed the files containing the project for the ChargeNegativeAcknowledgementSender (#404)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/ChargeCommandRejectedSubscriber.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/host.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeNegativeAcknowledgementSender/local.settings.sample.json
Due: none

Add test for ChargeCommandBusinessValidator
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/ChargeCommandBusinessValidatorTests.cs
Due: none

Add tests for BusinessValidationRulesFactory
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessValidationRulesFactoryTests.cs
Due: none

Extend business create factory with exception test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessCreateValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessValidationRulesFactoryTests.cs
Due: none

Extend BusinessStopValidationRulesFactory with exception test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessStopValidationRulesFactoryTests.cs
Due: none

Added ChargeLinkCommand and document to protobuf contract and mapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/ChargeLinkHttpTrigger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargeLinkCommandOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargeLinkDomainOutboundMapper.cs
Due: infrastructure

Extend BusinessUpdateValidationRulesFactoryTests with exception tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/Factories/BusinessUpdateValidationRulesFactoryTests.cs
Due: none

Document integration events for Charges and Charge Prices (#389)
  .github/utilities/md-spellcheck/wordlist.txt
  docs/contracts.md
Due: none

Add validation rule set tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/ValidationRuleSetTests.cs
Due: none

Fixed IoC issues and added settings for servicebus
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/GreenEnergyHub.Charges.ChargeLinkReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/local.settings.sample.json
Due: infrastructure

Add tests of ChargeCommandHandler
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeCommandHandlerTests.cs
Due: none

Add test for ChargeConfirmationSender
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Acknowledgement/ChargeConfirmationSenderTests.cs
Due: none

Add ChargeRejectionSender test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Acknowledgement/ChargeRejectionSenderTests.cs
Due: none

Md intra domain integration tests enabler (#368)
  .github/workflows/message-receiver-cd.yml
  .github/workflows/pr-env-setup.yml
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln.DotSettings
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeSquadronTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ChargesAzureCloudServiceBusOptions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/MessageReceiverConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ServiceBusTestHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/integrationtest.local.settings.json.sample
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/HostingEnvironmentTraitConstants.cs
Due: none

Fix wrong variable name in ChargeRejectionSenderTest
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Acknowledgement/ChargeRejectionSenderTests.cs
Due: none

Refactored and removed protobuf files and used messaging instead
  build/infrastructure/main/sb-charges.tf
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/GreenEnergyHub.Charges.ChargeLinkReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargeLinkCommandOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Transport/Protobuf/Integration/ServiceCollectionSendProtobuf.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Transport/Protobuf/ProtobufMessageSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Transport/Protobuf/ProtobufOutboundMapperFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Transport/Protobuf/ProtobufOutboundMapper`1.cs
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf.Integration.ServiceCollection/GreenEnergyHub.Messaging.Protobuf.Integration.ServiceCollection.csproj
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf/GreenEnergyHub.Messaging.Protobuf.csproj
Due: infrastructure

Fixed problem with dependency injection getting stuck
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Program.cs
Due: infrastructure

Renamed from integration to internal for protobuf contracts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLink.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapper.cs
Due: infrastructure

Add missing exception test to ChargeRepositoryTests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: none

Remove throws that were impossible to hit in ChargeMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/ChargeMapper.cs
Due: infrastructure

Add missing exception tests to ChargeMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Mapping/ChargeMapperTests.cs
Due: none

Add missing token to pipeline
  .github/workflows/sonarcloud.yml
Due: none

Add missing token to pipeline (#409)
  .github/workflows/sonarcloud.yml
Due: none

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
