Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Test method name change for update scenario 2
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: none

use shared plan
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/dash-charges.tf
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/plan-shared.tf
Due: none

use shared plan (#1168)
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/dash-charges.tf
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/plan-shared.tf
Due: none

Added unit tests for remaining charge update scenarios
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/InstantHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: none

Remove unused method param
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/Factories/ChargeCommandBusinessValidationRulesFactory.cs
Due: businesslogic

Changed overlapping period logic
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: businesslogic

Added extra unit test to assert throw
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: none

Change comment text on Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
Due: businesslogic

Removed ValidationRuleidentifier comments
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/Validation/ValidationRuleIdentifier.cs
Due: businesslogic

UT - assigned actualTimeline to variables
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: none

use existing subnets for vnet int and PE
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/subnets.tf
  build/infrastructure/main/variables.tf
Due: none

fix TF
  build/infrastructure/main/app-webapi.tf
Due: none

fix TF
  build/infrastructure/main/dash-charges.tf
Due: none

Refactored UpdateCharge method
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
Due: businesslogic

Initial draft on Charge.Validate()
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: businesslogic

Use new environment-specific frontend-open-id-url
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/Authorization/AuthorizationConfiguration.cs
Due: none

Use new environment-specific frontend-open-id-url (#1169)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/Authorization/AuthorizationConfiguration.cs
Due: none

Implement UnitOfWork
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/IChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure.Core/Persistence/DbTypes.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure.Core/Persistence/IUnitOfWork.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/UnitOfWork.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/DefaultChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MarketParticipantRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MeteringPointRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Persistence/EntityConfigurations/AvailableChargeDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandReceivedEventHandlerTests.cs
Due: businesslogic, infrastructure

Fix integration test charges repo
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeRepositoryTests.cs
Due: none

Change repo method name and use Validate on charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/IChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/DomainTests/ChargeIngestionTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandReceivedEventHandlerTests.cs
Due: businesslogic, infrastructure

Utilize UnitOfWork in remaining repositories
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinksReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPoints/Handlers/MeteringPointPersister.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/IChargeLinksRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/IMeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/ChargeLinksRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/MeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MeteringPointRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/MeteringPointPersisterTests.cs
Due: businesslogic, infrastructure

Removed unitOfWork in chargeRepo tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeRepositoryTests.cs
Due: none

Fix bug in EnsureNoGapsInChargePeriodTimeline
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
Due: businesslogic

Remove commented code
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/UnitOfWork.cs
Due: infrastructure

Moved responsibility of manipulating charge periods to the charge model
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargePeriod.cs
Due: businesslogic

Fixed unit test setup of event handler test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandReceivedEventHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/Command/ChargeBuilder.cs
Due: businesslogic

Replaced IUnitOfWork instance with mock in unit test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/MeteringPointPersisterTests.cs
Due: none

Mock IJwtTokenValidator
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/Fixtures/WebApi/WebApiFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/Startup.cs
Due: none

Set Bearer token value
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/Fixtures/WebApi/WebApiFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/V1/ChargeLinksControllerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/V2/ChargeLinksControllerTests.cs
Due: none

ChargeIngestion tests with charge update
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/GreenEnergyHub.Charges.IntegrationTest.Core.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/ChargeDocument.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/TariffBundleWithCreateAndUpdate.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/DomainTests/ChargeIngestionTests.cs
Due: none

Show how to mock IJwtTokenValidator
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/Fixtures/WebApi/WebApiFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/ODataControllerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/V1/ChargeLinksControllerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/V1/ODataControllerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/V2/ChargeLinksControllerTests.cs
Due: none

Renamed method
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/Fixtures/WebApi/WebApiFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/ODataControllerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/V1/ChargeLinksControllerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/V1/ODataControllerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/V2/ChargeLinksControllerTests.cs
Due: none

Comment
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/Fixtures/WebApi/WebApiFactory.cs
Due: none

On our way to handling charges in a list
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/IChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeCommand.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeDtoNullChecker.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeOperationDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/Factories/ChargeCommandBusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/ValidationRules/ChangingTariffTaxValueNotAllowedRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/ValidationRules/StartDateValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/Factories/ChargeCommandInputValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/BusinessReasonCodeMustBeUpdateChargeInformationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/ChargeDescriptionHasMaximumLengthRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/ChargeIdLengthValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/ChargeNameHasMaximumLengthRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/ChargeOperationIdRequiredRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/ChargeOwnerIsRequiredValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/ChargePriceMaximumDigitsAndDecimalsRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/ChargeTypeIsKnownValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/ChargeTypeTariffPriceCountRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/DocumentTypeMustBeRequestUpdateChargeInformationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/FeeMustHaveSinglePriceRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/MaximumPriceRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/RecipientIsMandatoryTypeValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/ResolutionFeeValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/ResolutionSubscriptionValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/ResolutionTariffValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/SenderIsMandatoryTypeValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/StartDateTimeRequiredValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/StopChargeNotYetSupportedValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/SubscriptionMustHaveSinglePriceRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/VatClassificationValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/SharedDtos/DocumentDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeIngestion.cs
Due: businesslogic

Add Jan Duelund as codeowner
  .github/CODEOWNERS
Due: none

More progress, but DocumentDto should belong to ChargeCommand
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/ChargePricesUpdatedPublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/ChargePublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/IChargePricesUpdatedPublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/IChargePublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Factories/ChargeCreatedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Factories/ChargePricesUpdatedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Factories/IChargeCreatedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Factories/IChargePricesUpdatedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeIntegrationEventsPublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/IChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommandAcceptedEvents/ChargeCommandAcceptedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeCommand.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeIngestion.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/ChargeBundle/ChargeCommandConverter.cs
Due: businesslogic, infrastructure

Move DocumentDto out of ChargeDto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeCommand.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeCommandNullChecker.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeOperationDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/Factories/ChargeCommandBusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/Factories/ChargeCommandInputValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/BusinessReasonCodeMustBeUpdateChargeInformationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/DocumentTypeMustBeRequestUpdateChargeInformationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/RecipientIsMandatoryTypeValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/InputValidation/ValidationRules/SenderIsMandatoryTypeValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/SharedDtos/DocumentDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeIngestion.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/ChargeBundle/ChargeCommandConverter.cs
Due: businesslogic, infrastructure

fix typo
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/sb-charges.tf
Due: none

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
