Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Update query stack
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/GridArea.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/GridAreaLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/QueryDbContext.cs
Due: none

Update source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201261730 Create tables.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201261730 Create tables.sql
Due: infrastructure

Update source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/ActorRegisterSynchronizer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/ActorRegisterSynchronizer.cs
Due: infrastructure

move pointers + remove old db (#1089)
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/sqldb-this.tf
Due: none

Improve Create_MergesAllMergeFields for ChargeLinks
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Models/AvailableChargeLinkReceiptData/ChargeLinksCimValidationErrorTextFactoryTests.cs
Due: none

If IsValid just provide first as TriggeredBy
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/ValidationRules/ChargeLinksUpdateNotYetSupportedRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/QueryApiConfiguration.cs
Due: businesslogic

Identify bug with new tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeCommands/Validation/BusinessValidation/Factories/ChargeCommandBusinessValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeCommands/Validation/InputValidation/ChargeCommandInputValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/Factories/ChargeLinksCommandBusinessValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeLinksCommands/Validation/InputValidation/ChargeLinksCommandInputValidationRulesFactoryTests.cs
Due: none

Set TriggeredBy to first with error
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/ValidationRules/ChargeLinksUpdateNotYetSupportedRule.cs
Due: businesslogic

Implement IValidationRuleWithExtendedData
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/ValidationRules/ChargeLinksUpdateNotYetSupportedRule.cs
Due: businesslogic

logging upgrade (#1090)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/GreenEnergyHub.Charges.FunctionHost.csproj
Due: none

Accept invalid actor updates from actor register
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MarketParticipants/MarketParticipant.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/MarketParticipantsSynchronization/MarketParticipantUpdater.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Reflection/ReflectionExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ActorRegister/MarketParticipantUpdaterTests.cs
Due: businesslogic, infrastructure

Document Triggeredby
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/ValidationRules/ChargeLinksUpdateNotYetSupportedRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/ValidationRules/ChargeMustExistRule.cs
Due: businesslogic

Accept invalid actor updates from actor register (#1093)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MarketParticipants/MarketParticipant.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/MarketParticipantsSynchronization/MarketParticipantUpdater.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Reflection/ReflectionExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ActorRegister/MarketParticipantUpdaterTests.cs
Due: businesslogic, infrastructure

Added extra unit test where existing chargelinks list is empty
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/ValidationRules/ChargeLinksUpdateNotYetSupportedRuleTests.cs
Due: none

Fix DocumentSenderProvidedChargeId not set bug (#1092)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/ValidationRules/ChargeLinksUpdateNotYetSupportedRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/ValidationRules/ChargeMustExistRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeCommands/Validation/BusinessValidation/Factories/ChargeCommandBusinessValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeCommands/Validation/InputValidation/ChargeCommandInputValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/Factories/ChargeLinksCommandBusinessValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/ValidationRules/ChargeLinksUpdateNotYetSupportedRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeLinksCommands/Validation/InputValidation/ChargeLinksCommandInputValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Models/AvailableChargeLinkReceiptData/ChargeLinksCimValidationErrorTextFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/QueryApiConfiguration.cs
Due: businesslogic

Fix inconsistency app sett accepted charge links
  build/infrastructure/main/func-functionhost.tf
Due: none

Increase length of OriginalOperationId to 36
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201281340 Increase OriginalOperationId length.sql
Due: infrastructure

Fix - misconfiguration related to downstream Charge Links Endpoints (#1094)
  build/infrastructure/main/func-functionhost.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201281340 Increase OriginalOperationId length.sql
Due: infrastructure

Remember to make script embedded resource
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
Due: infrastructure

Remove remove section
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
Due: infrastructure

fix - set dbup script as embedded resource (OriginalOperationId length change) (#1095)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
Due: infrastructure

Remove Newtonsoft-bases JsonSerializer
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Json/JsonSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure.Core/MessagingExtensions/Registration/RegistrationExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/Json/JsonSerializerTests.cs
Due: businesslogic

Remove Newtonsoft-bases JsonSerializer (#1096)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Json/JsonSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure.Core/MessagingExtensions/Registration/RegistrationExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/Json/JsonSerializerTests.cs
Due: businesslogic

Check equal dates are not allowed
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/ValidationRules/ChargeLinksUpdateNotYetSupportedRuleTests.cs
Due: none

Refactor instant generation
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/ValidationRules/ChargeLinksUpdateNotYetSupportedRuleTests.cs
Due: none

What: Subnet module name changed
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/subnets.tf
Due: none

What: Variable name
  build/infrastructure/main/subnets.tf
Due: none

What: Spaces
  .github/workflows/ci.yml
Due: none

What: Key Vault secret .value
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/subnets.tf
Due: none

Enable query access to the data in the read model
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Data.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/IData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/ChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/ChargePoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/DefaultChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/GridArea.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/GridAreaLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/MarketParticipant.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/QueryDbContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/scaffold-query-stack.ps1
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/Controllers/OData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/GreenEnergyHub.Charges.WebApi.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/Startup.cs
Due: none

What: Test CI trigger
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Factories/ChargeCreatedEventFactory.cs
Due: businesslogic

What: Removed test comment
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Factories/ChargeCreatedEventFactory.cs
Due: businesslogic

What: TF version
  .github/workflows/ci.yml
Due: none

What: Var project name
  build/infrastructure/main/subnets.tf
Due: none

What: Incorrect spelling
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/subnets.tf
Due: none

What: List of connection strings
  build/infrastructure/main/app-webapi.tf
Due: none

What: Subnets
  build/infrastructure/main/subnets.tf
Due: none

Minor changes to HealthStatus
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/System/HealthStatus.cs
Due: none
