Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

test: Using InlineAutoMoqData to generate test data
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapperTests.cs
Due: none

build: Changed name of topic and conn string
  build/infrastructure/main/azfun-link-receiver.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/local.settings.sample.json
Due: infrastructure

refac: Readded topic to tf files
  build/infrastructure/env/Development/sbt-metering-point-created.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
  build/infrastructure/main/locals.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/local.settings.sample.json
Due: none

refac: Changed name of topic from accepted to received
  build/infrastructure/main/azfun-link-receiver.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/local.settings.sample.json
Due: infrastructure

refac: fixed more naming and ioc issues
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/sb-charges.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Registration/RegistrationExtensions.cs
Due: infrastructure

refac: MarketParticipant name removed
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLink.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/ChargeLinkMessageHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapperTests.cs
Due: infrastructure

refac: fixed xml mapping with new namespace
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/Commands/CimChargeLinkCommandConstants.cs
Due: infrastructure

Update source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLink.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLink.proto
Due: infrastructure

test: fixed test files with new namespace
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/Valid_CIM_ChargeLink.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/Valid_CIM_ChargeLink_WithUnusedCimContent.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/Valid_CIM_ChargeLink_WithoutEndDate.xml
Due: none

refac: fixed file naming not matching classnames
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/ChargeLinkCommandHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/Result/ChargeLinksMessageResult.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/ChargeLinkCommandHandlerTests.cs
Due: businesslogic

refac: Changed protobuf to use enums
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLink.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapperTests.cs
Due: infrastructure

refac: naming changed
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLink.proto
Due: infrastructure

refac: Removed line change
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
Due: none

Update locals to contain needed shared values
  build/infrastructure/main/locals.tf
Due: none

Add sender to locals
  build/infrastructure/main/locals.tf
Due: none

Change kv-shared-data to to be more like the setup in shared resources
  build/infrastructure/env/Development/kv-shared-data.tf
Due: none

Change kv-shared-stub to work more like shared resources setup
  build/infrastructure/env/Development/kv-shared-stub.tf
Due: none

Change sb-external events to work more like shared resources
  build/infrastructure/env/Development/sb-external-integration-events.tf
Due: none

Update main kv-shared-data to reflect changes
  build/infrastructure/main/kv-shared-data.tf
Due: none

feat: Publish Charge links using protobuf (#411)
  build/infrastructure/env/Development/kv-shared-stub.tf
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/sb-charges.tf
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/ChargeLinkCommandHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/IChargeLinkCommandHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/ChargeLinkHttpTrigger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/GreenEnergyHub.Charges.ChargeLinkReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/Result/ChargeLinksMessageResult.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Local/InboundIntegrationEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLink.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Registration/RegistrationExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/Commands/CimChargeLinkCommandConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/ChargeLinkCommandHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/Valid_CIM_ChargeLink.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/Valid_CIM_ChargeLink_WithUnusedCimContent.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/Valid_CIM_ChargeLink_WithoutEndDate.xml
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf.Integration.ServiceCollection/GreenEnergyHub.Messaging.Protobuf.Integration.ServiceCollection.csproj
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf/GreenEnergyHub.Messaging.Protobuf.csproj
Due: businesslogic, infrastructure

Update metering point function to use new listener
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
Due: none

build: Added charge link accepted subscription
  build/infrastructure/main/sb-charges.tf
Due: none

build: Add a charge link accepted subscription (#438)
  build/infrastructure/main/sb-charges.tf
Due: none

refac: readd project to sln after merge
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
Due: none

build: add sb topic auth rule listener
  build/infrastructure/main/sb-charges.tf
Due: none

Update build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/sb-charges.tf
Due: none

build: add sb topic auth rule listener (#439)
  build/infrastructure/main/sb-charges.tf
Due: none

refac: Removed test sender from function
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/MeteringPointCreatedReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/local.settings.sample.json
Due: none

build: Added missing copyright
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/GreenEnergyHub.Charges.MeteringPointCreatedReceiver.csproj
Due: none

build: add missing copyright
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
Due: none

Remove special Test cases
  build/infrastructure/env/Test/kv-shared-data.tf
  build/infrastructure/env/Test/kv-shared-stub.tf
  build/infrastructure/env/Test/sb-external-integration-events.tf
  build/infrastructure/env/Test/sb-metering-point-created.tf
Due: none

Fix namespace issue with external integration terraform file
  build/infrastructure/env/Development/sb-external-integration-events.tf
Due: none

Split sb-metering-point in two separate files to mimic shared resources
  build/infrastructure/env/Development/sb-metering-point-created.tf
  build/infrastructure/env/Development/sbs-metering-point-created-sub-charges.tf
  build/infrastructure/env/Development/sbt-metering-point-created.tf
Due: none

Fix dependency on kv-shared-data
  build/infrastructure/env/Development/kv-shared-data.tf
Due: none

Use 1.7.0 of all terraform modules
  build/infrastructure/main/appi.tf
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-charges-message-receiver.tf
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/sb-post-office.tf
  build/infrastructure/main/sqlsrv-charges.tf
Due: none

build: Add github workflows for function
  .github/workflows/metring-point-created-receiver-cd.yml
  .github/workflows/metring-point-created-receiver-ci.yml
Due: none

doc: update doc to adhere to markdown
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/README.md
Due: infrastructure

doc: add language to fenced code
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/README.md
Due: infrastructure

Move to 1.7.0 i kv-shared-stub
  build/infrastructure/env/Development/kv-shared-stub.tf
Due: none

doc: add protobuf to wordlist
  .github/utilities/md-spellcheck/wordlist.txt
Due: none

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
