Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Make test work
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202110121245 Create ChargeLinkHistory table.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkHistory/ChargeLinkFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkHistory/ChargeLinkHistory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkHistory/IChargeLinkFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkHistory/IChargeLinkHistoryRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/ChargeLinkHistoryConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeLinkHistoryRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeLinkHistoryRepositoryTests.cs
Due: businesslogic, infrastructure

Align naming of pipelines
  .github/workflows/codecov-check.yml
  .github/workflows/license-check.yml
  .github/workflows/pr-env-setup.yml
  .github/workflows/pr-env-teardown.yml
  .github/workflows/sonarcloud-check.yml
  .github/workflows/tfsec-check.yml
Due: none

refactor property names
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202110121245 Create ChargeLinkHistory table.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkHistory/ChargeLinkHistory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkHistory/ChargeLinkHistoryFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/ChargeLinkHistoryConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeLinkHistoryRepositoryTests.cs
Due: businesslogic, infrastructure

Move SendMessage to separate class, that can be used by request clients
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkRequest/DefaultChargeLinkRequestClientTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkRequest/Contracts/CreateDefaultChargeLinks.proto
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkRequest/DefaultChargeLinkRequestClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkRequest/ServiceBusRequestSender.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Factories/IServiceBusRequestSenderFactory.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Factories/ServiceBusRequestSenderFactory.cs
Due: none

DefaultChargeLinkMessagesRequestClient take one
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkMessages/Contracts/CreateDefaultChargeLinkMessages.proto
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkMessages/DefaultChargeLinkMessagesRequestClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkMessages/IDefaultChargeLinkMessagesRequestClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Models/CreateDefaultChargeLinkMessagesDto.cs
Due: none

Rename MessageType to RequestStatus
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkReplyDeserializerTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkReplyReader.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkReplyReaderBase.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Enums/RequestStatus.cs
Due: none

rename ChargeLinkHistory.cs to ChargeLinkTransmissionRequest.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202110121245 Create ChargeLinkHistory table.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkHistory/ChargeLinkHistoryFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkHistory/ChargeLinkTransmissionRequest.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkHistory/IChargeLinkTransmissionRequestFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkHistory/IChargeLinkTransmissionRequestRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkCreatedDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/ChargeLinkTransmissionRequestConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeLinkTransmissionRequestRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeLinkHistoryRepositoryTests.cs
Due: businesslogic, infrastructure

Throw more specific exception in mappers when null received
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksFailedInboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksFailedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksSucceededInboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksSucceededOutboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksFailedInboundMapper.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksFailedOutboundMapper.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksSucceededInboundMapper.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksSucceededOutboundMapper.cs
Due: none

change folder name
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkTransmissionRequest/ChargeLinkHistoryFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkTransmissionRequest/ChargeLinkTransmissionRequest.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkTransmissionRequest/IChargeLinkTransmissionRequestFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkTransmissionRequest/IChargeLinkTransmissionRequestRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkCreatedDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/ChargeLinkTransmissionRequestConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeLinkTransmissionRequestRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeLinkHistoryRepositoryTests.cs
Due: businesslogic, infrastructure

Add pipeline for publishing nuget package
  .github/workflows/clients-publish.yml
Due: none

more renaming of ChargeLinkHistory
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202110121245 Create ChargeLinkTransmissionRequest table.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinkTransmissionRequest/ChargeLinkTransmissionRequestFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/IngestionFunctionNames.cs
Due: businesslogic, infrastructure

fix csproj sql embedded filename
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
Due: infrastructure

Simplify HandleSucces and HandleFailure
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkReplyDeserializerTests.cs
Due: none

update interface comment
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
Due: infrastructure

rename test method
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeLinkTransmissionRequestsRepositoryTests.cs
Due: none

Change ErrorNotDetermined to Unspecified
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/Contracts/CreateDefaultChargeLinksFailed.proto
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Enums/ErrorCode.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksFailedInboundMapper.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksFailedOutboundMapper.cs
Due: none

588 read reply (#703)
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkReplyDeserializerTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkRequestClientTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksFailedInboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksFailedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksSucceededInboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksSucceededOutboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/Contracts/CreateDefaultChargeLinks.proto
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/Contracts/CreateDefaultChargeLinksFailed.proto
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/Contracts/CreateDefaultChargeLinksSucceeded.proto
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkReplyReader.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkReplyReaderBase.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkRequestClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkRequestClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Enums/ErrorCode.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Enums/RequestStatus.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/GreenEnergyHub.DataHub.Charges.Clients.csproj
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksFailedDto.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksSucceededDto.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksFailedInboundMapper.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksFailedOutboundMapper.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksSucceededInboundMapper.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksSucceededOutboundMapper.cs
  source/messaging/source/GreenEnergyHub.Messaging.Protobuf/ProtobufInboundMapper`1.cs
Due: none

review fixes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkCommandReceivedHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkEventPublishHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeCommands/Validation/BusinessValidation/Factories/BusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargeSenderProvidedIdentifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/IChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ChargeDbQueries.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Validation/BusinessValidation/Factories/BusinessValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandAcceptedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeLinkRepositoryTests.cs
Due: businesslogic, infrastructure

removed factory from ChargeLunkCOmmandReceiverHandler
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkCommandReceivedHandler.cs
Due: businesslogic

Remove unneeded old links
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

Fix wrong path in workflow trigger
  .github/workflows/clients-publish.yml
Due: none

updated failing unittets
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Validation/BusinessValidation/Factories/BusinessValidationRulesFactoryTests.cs
Due: none

Disable namespace reuse
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppServiceBusOptions.cs
Due: none

Disable reuse of namespace in cloud options
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ChargesAzureCloudServiceBusOptions.cs
Due: none

Set session when sending response
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinkCreatedBundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/IChargeLinkCreatedBundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/SeedWork/SyncRequest/ISyncRequestMetadata.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/MessageHub/ChargeLinkCreatedBundleSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/IngestionFunctionNames.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkCreated/MessageHub/ChargeLinkCreatedBundleReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/SyncRequest/ISyncRequestMetaDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/SyncRequest/SyncRequestMetaDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/SyncRequest/SyncRequestMetadata.cs
Due: businesslogic, infrastructure

build: Pipeline for publishing clients nuget (#707)
  .github/actions/dotnet-publish-nuget/action.yml
  .github/workflows/clients-publish.yml
  .github/workflows/codecov-check.yml
  .github/workflows/license-check.yml
  .github/workflows/pr-env-setup.yml
  .github/workflows/pr-env-teardown.yml
  .github/workflows/sonarcloud-check.yml
  .github/workflows/tfsec-check.yml
Due: none

Fix binary path
  .github/workflows/clients-publish.yml
Due: none

fix: Fix binary path (#710)
  .github/workflows/clients-publish.yml
Due: none

fixed unittest
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifierTests.cs
Due: none

Implement and test Create Default Charge Link Messages
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/DefaultChargeLinkMessagesRequestClientTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/ServiceBus/ServiceBusRequestSenderTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkRequestClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkMessages/Contracts/CreateDefaultChargeLinkMessagesFailed.proto
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkMessages/Contracts/CreateDefaultChargeLinkMessagesSucceeded.proto
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkMessages/DefaultChargeLinkMessagesRequestClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Factories/IServiceBusRequestSenderFactory.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/ServiceBus/IServiceBusRequestSender.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/ServiceBus/ServiceBusRequestSender.cs
Due: none

Remove todo
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkRequestClientTests.cs
Due: none

Improve naming in tests
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkRequestClientTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/DefaultChargeLinkMessagesRequestClientTests.cs
Due: none

What: Delete TestCommon projects/code
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon.Tests/Fixtures/AzuriteCollectionFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon.Tests/Fixtures/ServiceBusListenerMockCollectionFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon.Tests/Fixtures/ServiceBusListenerMockFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon.Tests/Fixtures/ServiceBusListenerMockServiceBusOptions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon.Tests/Fixtures/SqlServerDatabaseCollectionFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon.Tests/GreenEnergyHub.FunctionApp.TestCommon.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon.Tests/Integration/Azurite/AzuriteManagerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon.Tests/Integration/Database/SqlServerDatabaseManagerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon.Tests/Integration/ServiceBus/ListenerMock/ServiceBusListenerMockTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/Azurite/AzuriteManager.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/Database/SqlServerDatabaseManager.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/FunctionAppFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/FunctionAppHost/FunctionAppHostConfigurationBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/FunctionAppHost/FunctionAppHostManager.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/FunctionAppHost/FunctionAppHostSettings.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/FunctionAppHost/HostStartedOutputListener.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/FunctionAppTestBase.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/GreenEnergyHub.FunctionApp.TestCommon.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/IConfigurationExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/ServiceBus/ListenerMock/AssertionException.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/ServiceBus/ListenerMock/AssertionExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/ServiceBus/ListenerMock/DoProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/ServiceBus/ListenerMock/DoProviderExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/ServiceBus/ListenerMock/ServiceBusListenerMock.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/ServiceBus/ListenerMock/WhenProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.FunctionApp.TestCommon/ServiceBus/ListenerMock/WhenProviderExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon.Tests/GreenEnergyHub.TestCommon.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon.Tests/Unit/AutoFixture/AutoFixtureExtensionsTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon.Tests/Unit/AwaiterTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon/AutoFixture/Customizations/ConstructorParameterRelay.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon/AutoFixture/Extensions/AutoFixtureExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon/AutoFixture/Extensions/SetParameterCreateProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon/AutoFixture/Extensions/SetParameterProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon/Awaiter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon/Diagnostics/ITestDiagnosticsLogger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon/Diagnostics/TestDiagnosticsLogger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon/GreenEnergyHub.TestCommon.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.TestCommon/TestBase.cs
Due: none

What: Remove TestCommon projects from solution
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
Due: none

What: Use TestCommon NuGet packages
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Charges/ChargeIngestionTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppServiceBusOptions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Health/HealthStatusTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Database/ChargesDatabaseManager.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
Due: none

Add DefaultChargeLinkMessagesReplyReader
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkReplyReaderTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/DefaultChargeLinkMessagesReplyReaderTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesFailedInboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesFailedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesSucceededInboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesSucceededOutboundMapperTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkMessages/DefaultChargeLinkMessagesReplyReader.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkMessages/DefaultChargeLinkMessagesReplyReaderBase.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Models/CreateDefaultChargeLinkMessagesFailedDto.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Models/CreateDefaultChargeLinkMessagesSucceededDto.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinkMessagesFailedInboundMapper.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinkMessagesSucceededInboundMapper.cs
Due: none

Use correct Create Default Charge Links
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkRequestClient.cs
Due: none

Move createLinkRequestQueueName to method parameter
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkRequestClientTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/DefaultChargeLinkMessagesRequestClientTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/ServiceBus/ServiceBusRequestSenderTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkRequestClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/DefaultChargeLinkMessages/DefaultChargeLinkMessagesRequestClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Factories/IServiceBusRequestSenderFactory.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/Factories/ServiceBusRequestSenderFactory.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/ServiceBus/IServiceBusRequestSender.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/ServiceBus/ServiceBusRequestSender.cs
Due: none

Simplify queueName
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients.Tests/ServiceBus/ServiceBusRequestSenderTests.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/ServiceBus/IServiceBusRequestSender.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Clients/ServiceBus/ServiceBusRequestSender.cs
Due: none
