Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

591 - Guarding duplicate `ConsumptionMeteringPointCreated` integration events (#702)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPoints/Handlers/ConsumptionMeteringPointPersister.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202110191245 Remove duplicated MPs and set unique constraint on MP ID.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/IMeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/MeteringPoint/ConsumptionMeteringPointPersisterEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedPersisterTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: businesslogic, infrastructure

Correct path to "Messages" contracts
  docs/contracts.md
Due: none

Update unit test to RSM-031 (only)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkCreatedDataAvailableNotifierTests.cs
Due: none

changed github ref to get branch name (#726)
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

updated BRANCH variable
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

updated BRANCH variable in dotnet-publish-nuget (#727)
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

updated variable
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

updated determin suffix step
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

update
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

Fix review comments
  .github/workflows/functionhost-ci.yml
  build/infrastructure/env/Development/kv-shared-data.tf
  build/infrastructure/env/Development/kv-shared-stub.tf
  build/infrastructure/main/azfun-functionhost.tf
  build/infrastructure/main/locals.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinkBundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/IChargeLinkBundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/Infrastructure/IChargeLinkBundleCreator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/Infrastructure/IChargeLinkBundleReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/MessageHub/ChargeLinkBundleSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkBundleSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleCreator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkBundleSenderTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleReplierTests.cs
Due: businesslogic, infrastructure

build: fix publish to nuget (#728)
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

removed branch and if else strategy from determin step
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

revert to inital determin step
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

updated libraries project til 1.0.1
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
Due: none

Add postoffice peek (#709)
  .github/workflows/functionhost-ci.yml
  build/infrastructure/env/Development/kv-shared-data.tf
  build/infrastructure/env/Development/kv-shared-stub.tf
  build/infrastructure/env/Development/sbq-messagehub-charges.tf
  build/infrastructure/env/Development/sbq-messagehub-dataavailable.tf
  build/infrastructure/env/Development/stor-marketoperator-response.tf
  build/infrastructure/main/azfun-functionhost.tf
  build/infrastructure/main/locals.tf
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln.DotSettings
  source/GreenEnergyHub.Charges/publish-functions-from-localhost.cmd
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinkBundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/IChargeLinkBundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/IChargeLinkDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/Infrastructure/IChargeLinkBundleCreator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/Infrastructure/IChargeLinkBundleReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/SeedWork/SyncRequest/ISyncRequestMetadata.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/MessageHub/ChargeLinkBundleSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkBundleSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleCreator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/SyncRequest/ISyncRequestMetaDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/SyncRequest/SyncRequestMetaDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/SyncRequest/SyncRequestMetadata.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppServiceBusOptions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkBundleSenderTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleReplierTests.cs
Due: businesslogic, infrastructure

Fix infra integration with MessageHub
  build/infrastructure/main/kv-shared-data.tf
Due: none

588 revert Determine version suffix (#729)
  .github/actions/dotnet-publish-nuget/action.yml
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
Due: none

Remove unused Proto contracts and update contracts.md (#725)
  docs/contracts.md
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessages.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesSucceeded.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinks.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksSucceeded.proto
Due: infrastructure

Fix infra integration with MessageHub (#730)
  build/infrastructure/main/kv-shared-data.tf
Due: none

Check all MessageHub queues exist
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkBundleSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Health/HealthStatus.cs
Due: none

Add new DocumentType
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MarketParticipants/DocumentType.cs
Due: businesslogic

Extend DocumentTypeMapper with new document type needed to notify participants of charge link changes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MarketDocument/DocumentTypeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/MarketDocument/DocumentTypeMapperTests.cs
Due: infrastructure

Add extra string constant
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MarketDocument/BusinessReasonCodeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MarketDocument/CimDocumentConverterConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MarketDocument/DocumentTypeMapper.cs
Due: infrastructure

Update BusinessReasonCodeMapper with new tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/MarketDocument/BusinessReasonCodeMapperTests.cs
Due: none

Update BusinessReasonCodeMapper test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/MarketDocument/BusinessReasonCodeMapperTests.cs
Due: none

Add support for mapping to CIM for IndustryClassification
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MarketDocument/IndustryClassificationMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/MarketDocument/IndustryClassificationMapperTests.cs
Due: infrastructure

Add functionality to map MarketParticipantRole
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MarketDocument/IndustryClassificationMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MarketDocument/MarketParticipantRoleMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/MarketDocument/MarketParticipantRoleMapperTests.cs
Due: infrastructure

Move market document constants and update name to reflect use
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/CimMarketDocumentConstants.cs
Due: infrastructure

Move MarketDocument components to new folder and namespace
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/BusinessReasonCodeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/CodingScheme.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/CodingSchemeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/DocumentConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/DocumentTypeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/IndustryClassificationMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/MarketParticipantRoleMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/BusinessReasonCodeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/CodingSchemeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/DocumentTypeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/IndustryClassificationMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/MarketParticipantRoleMapperTests.cs
Due: infrastructure

Add coding schemes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MarketDocument/CimDocumentConverterConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MarketDocument/CodingScheme.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MarketDocument/CodingSchemeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/MarketDocument/CodingSchemeMapperTests.cs
Due: infrastructure

Add charge link CIM constants
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/CimChargeLinkConstants.cs
Due: infrastructure

Extend ChargeType mapper and move it to new location
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/ChargeTypeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/CodingSchemeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinks/Cim/ChargeTypeMapperTests.cs
Due: infrastructure

Add additional instant extensions
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/DateTime/InstantExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/DateTime/InstantExtensionsTests.cs
Due: businesslogic

Move charge link command objects to new location in infrastructure
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkIngestionConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/ChargeLinkCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/ChargeLinkCommandDeserializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/CimChargeLinkCommandConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinks/Cim/ChargeLinkCommandConverterTests.cs
Due: infrastructure

Add charge link XML constants
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/CimChargeLinkConstants.cs
Due: infrastructure

Add configuration for sender identification
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Configuration/HubSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Configuration/IHubSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Configuration/HubSenderConfigurationTests.cs
Due: businesslogic

Add market document constants
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/CimMarketDocumentConstants.cs
Due: infrastructure

Add temporary object from DB while it is being developed
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkTransmissionDto.cs
Due: businesslogic

back to solid png backgrounds
  docs/process-flows/images/ChargePriceListProcessFlow.drawio
  docs/process-flows/images/ChargePriceListProcessFlow.png
  docs/process-flows/images/CreateChargeLinkProcessFlow.drawio
  docs/process-flows/images/CreateChargeLinkProcessFlow.png
  docs/process-flows/images/PersistingChargesRuleSet_ProcessFlow.png
Due: none

Add serializer from temporary object to XML stream
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/IChargeLinkPostOfficeSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/ChargeLinkPostOfficeSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinks/Cim/ChargeLinkPostOfficeSerializerTests.cs
Due: businesslogic, infrastructure
