Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Renamed ChargeMessageReceiver project to ChargeReceiver
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeReceiver/ChargeHttpTrigger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeReceiver/GreenEnergyHub.Charges.ChargeReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeReceiver/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeReceiver/Properties/serviceDependencies.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeReceiver/Properties/serviceDependencies.local.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeReceiver/host.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeReceiver/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
Due: none

tf - rename message receiver to charge receiver
  build/infrastructure/main/azfun-charges-message-receiver.tf
Due: none

tf file renamed to charge receiver & deploy script
  build/infrastructure/main/azfun-charge-receiver.tf
  source/GreenEnergyHub.Charges/deploy-from-localhost.cmd
Due: none

Adjust CICD for ChargeReceiver to use renamed proj
  .github/workflows/charge-receiver-cd.yml
  .github/workflows/charge-receiver-ci.yml
Due: none

Add Terraform locals documentation
  build/infrastructure/main/locals.tf
Due: none

Repository to read DefaultChargeLinks based on MeteringPointId
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Repositories/IDefaultChargeLinkSettingRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPointCreatedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/DefaultChargeLinkSetting.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/ChargeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/DefaultChargeLinkSetting.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/DefaultChargeLinkSettingRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/DefaultChargeLinkSettingRepositoryTests.cs
Due: businesslogic, infrastructure

Updated flow to ChargeReceiver and renamed files
  docs/images/ChangeOfChargePriceListProcessFlow.drawio
  docs/images/ChangeOfChargePriceListProcessFlow.png
  docs/images/ChargePriceListProcessFlow.drawio
  docs/images/ChargePriceListProcessFlow.png
  docs/process-flows/README.md
Due: none

FA assertion used in test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/DefaultChargeLinkSettingRepositoryTests.cs
Due: none

licens missing
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/DefaultChargeLinkSetting.cs
Due: infrastructure

Docs - Updated flow to ChargeReceiver and renamed files (#538)
  docs/images/ChangeOfChargePriceListProcessFlow.drawio
  docs/images/ChangeOfChargePriceListProcessFlow.png
  docs/images/ChargePriceListProcessFlow.drawio
  docs/images/ChargePriceListProcessFlow.png
  docs/process-flows/README.md
Due: none

Changed how Charge info is represented on the DefaultChargeLink
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Repositories/IDefaultChargeLinkSettingRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/DefaultChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/DefaultChargeLinkSettingRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/DefaultChargeLinkSettingRepositoryTests.cs
Due: businesslogic, infrastructure

removed setting from ChargeDefualtSetting
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Repositories/IDefaultChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/DefaultChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/DefaultChargeLinkSettingRepositoryTests.cs
Due: businesslogic, infrastructure

review fixes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/DefaultChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/DefaultChargeLinkSetting.cs
Due: businesslogic, infrastructure

mp test working
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Squadron/SqlServerOptions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

review fixes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Repositories/IDefaultChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/DefaultChargeLinkMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/DefaultChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/DefaultChargeLinkSettingRepositoryTests.cs
Due: businesslogic, infrastructure

Add ChargeLink SQL model
  docs/data-models/ChargeLinkDataModel.drawio
  docs/data-models/ChargeLinkDataModel.png
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108310833 Add ChargeLink Model.sql
Due: infrastructure

Remove transparent background
  docs/data-models/ChargeLinkDataModel.png
Due: none

refactored DefaultChargeLink model
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Repositories/IDefaultChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/DefaultChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/DefaultChargeLinkMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/DefaultChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/DefaultChargeLinkSettingRepositoryTests.cs
Due: businesslogic, infrastructure

unittest for the DefaultChargeLinkMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Mapping/DefaultChargeLinkMapperTests.cs
Due: none

Add ChargeLink SQL model (#540)
  docs/data-models/ChargeLinkDataModel.drawio
  docs/data-models/ChargeLinkDataModel.png
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108310833 Add ChargeLink Model.sql
Due: infrastructure

summary expanded for StartDateTime
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/DefaultChargeLink.cs
Due: businesslogic

add squadron sql test of mp repo tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Squadron/SquadronContextFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: infrastructure

tests refactor and new tests ffor DefaultChargeLink and Mapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/DefaultChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/DefaultChargeLinkTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Mapping/ChargeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: businesslogic

missing licens for DefaultChargeLinkMapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/DefaultChargeLinkMapper.cs
Due: infrastructure

DefaultChargeLink exposes property ApplicableForLinking
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/DefaultChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/DefaultChargeLinkTests.cs
Due: businesslogic

reverted bracers style
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPointCreatedEventHandler.cs
Due: businesslogic

cleanup
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/Squadron/SquadronContextFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

nits
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
Due: infrastructure

test commit to see if repository test is run on github
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: none

undo failing on purpose
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: none

No more settings on DefaultLinkSettings
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/DefaultChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/DefaultChargeLinkMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/DefaultChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/DefaultChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/DefaultChargeLinkTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Mapping/DefaultChargeLinkMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/DefaultChargeLinkSettingRepositoryTests.cs
Due: businesslogic, infrastructure

refac: ChargeLinkCommandAcceptedEvent now comes from InternalEvent
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Factories/ChargeLinkCreatedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Mapping/ChargeLinkCommandMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/Events/Local/ChargeLinkCommandAcceptedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandAccepted.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkCreatedEventFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Mapping/ChargeLinkCommandMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandAcceptedOutboundMapperTests.cs
Due: businesslogic, infrastructure

Add Terraform locals documentation (#534)
  build/infrastructure/main/locals.tf
Due: none

Added nullable to RetiredByChargeLinkOp in data model
  docs/data-models/ChargeLinkDataModel.drawio
  docs/images/ChargeLinkDataModel.png
Due: none

DefaultChargeLink refactor + tets
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Repositories/IDefaultChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/DefaultChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/DefaultChargeLinkMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/DefaultChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/DefaultChargeLinkTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Mapping/DefaultChargeLinkMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/DefaultChargeLinkSettingRepositoryTests.cs
Due: businesslogic, infrastructure

Rename DefaultChargeLinkSetting to DefaultChargeLink
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109011409 Rename to DefaultChargeLink.sql
Due: infrastructure

Added Nullable to RetiredByChargeLinkOp in data model
  docs/data-models/ChargeLinkDataModel.drawio
  docs/images/ChargeLinkDataModel.png
Due: none

Add model and logic to create a new ChargeLink
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Factories/ChargeLinkCreatedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Factories/ChargeLinkFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Factories/IChargeLinkFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkCommandReceivedHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/IChargeLinkCommandReceivedHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Repositories/IChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Repositories/IMeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/LinkCommandReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkOperation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkPeriodDetails.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/Command/ChargeLinkDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargeLinkDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargeLinkDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeLinkRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/ChargeLinkCommandAcceptedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkCreatedEventFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverterTests.cs
Due: businesslogic, infrastructure

Added Nullable to RetiredByChargeLinkOp in data model (#547)
  docs/data-models/ChargeLinkDataModel.drawio
  docs/images/ChargeLinkDataModel.png
Due: none

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
