Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

What: Naming
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.SystemTests/Fixtures/SystemFactAttribute.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.SystemTests/Fixtures/SystemTestConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.SystemTests/systemtest.local.settings.sample.json
Due: none

What: Comment
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.SystemTests/systemtest.local.settings.sample.json
Due: none

What: Default value for ShouldSkip
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.SystemTests/Fixtures/SystemTestConfiguration.cs
Due: none

comment on why the TSO sets OperationId when creating def. links
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/DefaultChargeLinksRequestCommandFactory.cs
Due: businesslogic

What: Prepare system tests package
  .github/actions/publish-release-contents/action.yml
  .github/workflows/ci.yml
Due: none

Clean domain model of charge links
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202112100940 Move data from ChargeLink.PeriodDetails to ChargeLink.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkOperation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkPeriodDetails.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/ChargeLinkEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkFactoryTests.cs
Due: businesslogic, infrastructure

updated doc for ChargeLinkDto.OpertaionId
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/ChargeLinkDto.cs
Due: businesslogic

Review improvement
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/ChargeEntityConfiguration.cs
Due: infrastructure

Clean domain model of charge links (#944)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202112100940 Move data from ChargeLink.PeriodDetails to ChargeLink.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkOperation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkPeriodDetails.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/ChargeLinkEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Factories/ChargeLinkFactoryTests.cs
Due: businesslogic, infrastructure

Clean up EF Core configurations
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/DbTypes.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinkReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinksDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/ChargeEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/DefaultChargeLinkEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/MeteringPointEntityConfiguration.cs
Due: infrastructure

Add global.json for both .Net solutions
  source/Energinet.Charges.Libraries/global.json
  source/GreenEnergyHub.Charges/global.json
Due: none

Add global.json for both .Net solutions (#948)
  source/Energinet.Charges.Libraries/global.json
  source/GreenEnergyHub.Charges/global.json
Due: none

Clean up EF Core configurations (#947)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/DbTypes.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinkReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinksDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/ChargeEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/DefaultChargeLinkEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/MeteringPointEntityConfiguration.cs
Due: infrastructure

Merge with main
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeOperationDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/ChargeCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandRejectedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeCommandTestBuilder.cs
Due: businesslogic, infrastructure

remove todo
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/ChargeCommandConverter.cs
Due: infrastructure

fix null exception
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeCommandReceivedInboundMapper.cs
Due: infrastructure

removed init from ChargeOperationDto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeOperationDto.cs
Due: businesslogic

Removed setters in Point.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Point.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandAcceptedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandReceivedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeCommandRejectedOutboundMapperTests.cs
Due: businesslogic

Add not yet supported validation rule
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/ValidationRules/ChargeUpdateNotYetSupportedRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/ValidationRuleIdentifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Validation/BusinessValidation/ValidationRules/ChargeUpdateNotYetSupportedRuleTests.cs
Due: businesslogic

add custom exception to handle returnflow
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/ChargeOperationDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/ChargeCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/ChargeCommandDeserializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Exceptions/ChargeOperationIsNullException.cs
Due: businesslogic, infrastructure

Add new rule to factory
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/Factories/BusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Validation/BusinessValidation/Factories/BusinessValidationRulesFactoryTests.cs
Due: businesslogic

Add test of exception in ChargeCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeIngestionConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/ChargeCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/ChargeCommandDeserializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/IChargeCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeBundle/Cim/ChargeCommandDeserializerTests.cs
Due: infrastructure

Add comment about rule coverage
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/ValidationRules/ChargeUpdateNotYetSupportedRule.cs
Due: businesslogic

feat: Add validation stopping updates to an existing charge (#952)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/Factories/BusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/ValidationRules/ChargeUpdateNotYetSupportedRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/ValidationRuleIdentifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Validation/BusinessValidation/Factories/BusinessValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Validation/BusinessValidation/ValidationRules/ChargeUpdateNotYetSupportedRuleTests.cs
Due: businesslogic

Developer deploy to new team sandbox
  build/infrastructure/localhost.tfvars.sample
  source/GreenEnergyHub.Charges/publish-functions-from-localhost.cmd
Due: none

Add mock test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargesMessageHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/IChargesMessageHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/Message/ChargesMessage.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeCommandReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeIngestion.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/AzureFunctions/ChargeIngestionTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/Charges/ChargeDocument.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/Charges/CreateTariffsBundle.xml
Due: businesslogic

Use improved Energinet GitHub actions
  .github/actions/dotnet-publish-nuget/action.yml
  .github/actions/nuget-assert-release-version/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clients-ci.yml
  .github/workflows/clients-registration-ci.yml
Due: none

Update deployment documentation
  build/infrastructure/README.md
  build/infrastructure/localhost.tfvars.sample
Due: none

Fix bug
  .github/workflows/ci.yml
Due: none

Spelling
  build/infrastructure/README.md
Due: none

Bug fix
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

Spell check
  build/infrastructure/README.md
Due: none

Bug hunting...
  .github/workflows/ci.yml
Due: none

Bug hunting
  .github/workflows/ci.yml
Due: none

Fix bugs
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Use bug fixed version 2.7.0
  .github/actions/dotnet-publish-nuget/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clients-ci.yml
  .github/workflows/clients-registration-ci.yml
Due: none

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
