Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

AddedCreatedByEventType to MpOperation table
  docs/data-models/MeteringPointDataModel.drawio
  docs/data-models/MeteringPointDataModel.png
Due: none

store metering point and unittest
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/IMeteringPointCreatedHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPointCreatedHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/MeteringPointCreatedReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/ChargeLinkCommandAcceptedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
Due: businesslogic, infrastructure

Fix NuGet downgrade problems
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/GreenEnergyHub.Charges.ChargeCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/GreenEnergyHub.Charges.MessageReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/GreenEnergyHub.Charges.MeteringPointCreatedReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
  source/messaging/source/GreenEnergyHub.Messaging.Integration.ServiceCollection/GreenEnergyHub.Messaging.Integration.ServiceCollection.csproj
Due: infrastructure

Fix NuGet package downgrade problems
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
Due: none

add missing copyright
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPointCreatedHandler.cs
Due: businesslogic

more copyright
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
Due: none

Changed outputs from should_ship to has_changes
  .github/workflows/pr-env-setup.yml
Due: none

build: PR env setup to only run on infrastructure or code changes in charges repo (#486)
  .github/workflows/pr-env-setup.yml
Due: none

remove test code line
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MeteringPointMapper.cs
Due: infrastructure

fix wrong variable in try parse
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MeteringPointMapper.cs
Due: infrastructure

Renamed rowid on domain model to id
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: businesslogic

introduced enums for settlement method and connectionstate
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/ConnectionState.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/SettlementMethod.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MeteringPointMapper.cs
Due: businesslogic, infrastructure

rename to StoreMeteringPointCreatedEventAsync
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChangeOfCharges/Repositories/IMeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPointCreatedHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: businesslogic, infrastructure

renamed eventhandler
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/IMeteringPointCreatedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPointCreatedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/MeteringPointCreatedReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
Due: businesslogic

refactored to EnsureDatabaseCreated without save
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

rename context models to plural
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: infrastructure

rename and rearranged test method
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

rename from GridAreaId to GridArea
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/MeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: businesslogic, infrastructure

added explicit values to enums stored in db
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/ConnectionState.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/MeteringPoint.cs
Due: businesslogic, infrastructure

fix build error
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: infrastructure

nit
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

rewrote asserts in Map_WhenCalled_ShouldMapFromReceivedToAcceptedWithCorrectValues
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Mapping/ChargeLinkCommandMapperTests.cs
Due: none

FixedLinkCommandReceivedOutboundMapperTest
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapperTests.cs
Due: none

reworked test to refelect we cant verify the messageDispatch call in ChargeLinkCommandHandlerTests.HandleAsync_WhenCalledWithValidChargeLink_ShouldReturnOk
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/ChargeLinkCommandHandlerTests.cs
Due: none

Changed contract for ChargeLinkCommandReceived and related tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandReceived.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapper.cs
Due: infrastructure

updated ci/cd scripts for charge receiver to handle the renaming of the MessageReceiver project
  .github/workflows/charge-receiver-cd.yml
  .github/workflows/charge-receiver-ci.yml
Due: none

refactoring
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChangeOfCharges/Repositories/IMeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPointCreatedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Enumeration/EnumCasting.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: businesslogic, infrastructure

Fix ChargeLinkCmdConverter to return ChargeLinkCmd and not event
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/GreenEnergyHub.Charges.ChargeLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/GreenEnergyHub.Charges.ChargeLinkEventPublisher.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/GreenEnergyHub.Charges.ChargeLinkReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeMessageReceiver/GreenEnergyHub.Charges.ChargeMessageReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.CreateLinkCommandReceiver/GreenEnergyHub.Charges.CreateLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/GreenEnergyHub.Charges.MeteringPointCreatedReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverterTests.cs
Due: infrastructure

fix bug in terraform environment causing duplicate files
  build/infrastructure/env/Development/kv-shared-data_override.tf
  build/infrastructure/main/sbs-create-link-command.tf
  build/infrastructure/main/sbt-create-link-command.tf
Due: none

tests that fail
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/BogusTests.cs
Due: none

unittest tag
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/BogusTests.cs
Due: none

fix bug in terraform environment causing duplicate files (#521)
  build/infrastructure/env/Development/kv-shared-data_override.tf
  build/infrastructure/main/sbs-create-link-command.tf
  build/infrastructure/main/sbt-create-link-command.tf
Due: none

change to enum mapper to extension method
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Enumeration/EnumExtensions.cs
Due: businesslogic

remove using
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
Due: none

add logging to handler when finished successfully
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/GreenEnergyHub.Charges.Application.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPointCreatedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
  source/Shared/GreenEnergyHub/source/GreenEnergyHub.TestHelpers/LoggerTestExtensions.cs
Due: businesslogic

Removed schema from tables as agreed with reviewer
  docs/data-models/ChargeLinkDataModel.drawio
  docs/data-models/ChargeLinkDataModel.png
  docs/data-models/MeteringPointDataModel.drawio
  docs/data-models/MeteringPointDataModel.png
Due: none
