Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  integration:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Adopt new payload format in integration tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeIntegrationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/InvalidChargeAddition.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/InvalidChargeUpdate.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/InvalidTariffAddition.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/InvalidTariffUpdate.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/ValidChargeAddition.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/ValidChargeUpdate.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/ValidTariffAddition.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/ValidTariffUpdate.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/local.settings.json.sample
Due: none

Fix EnvironmentVariable bug
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/TestConfigurationHelper.cs
Due: none

Fix build error
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/Startup.cs
Due: none

Bugfix in ChargeCommandRejectedEventFactory
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeCommandRejectedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeIntegrationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/local.settings.json.sample
Due: unit

Run tests with category IntegrationTest
  .github/actions/dotnet-build-and-test/action.yml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeIntegrationTests.cs
Due: none

144 enabler message serialization (#196)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChangeOfCharges/ChangeOfChargesTransactionHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChangeOfCharges/IInternalEventCommunicationConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChangeOfCharges/InternalEventPublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeAcknowledgementSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeCommandAcknowledgementService.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeCommandHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeCommandRejectedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/IChargeCommandRejectedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/IMessageDispatcher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/ChargeCommandEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Channel.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/IServiceBusSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/MessageDispatcher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/MessageExtractor.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Registration/MessagingRegistrator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Registration/RegistrationExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MessageDeserializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/ServiceBusChannel.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/ServiceBusSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Topics/InternalEventCommunicationConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/ChargeHttpTrigger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChangeOfCharges/ChangeOfChargesTransactionHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/ServiceBusChannelTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/TestOutboundMessage.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/TestableServiceBusChannel.cs
Due: unit, integration

Update README.md
  docs/local-development/README.md
Due: none

Fix MD linting
  docs/local-development/README.md
Due: none

Ensure by test that InlineAutoMoqData attribute creates instances of class types
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/InlineAutoMoqDataAttributeTests.cs
Due: none

Add unit tests for messaging registration
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Registration/MessagingRegistrator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Registration/RegistrationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/TestMessage.cs
Due: integration

Create key vault secrets for integration test purposes
  build/infrastructure/sb-charges.tf
  build/infrastructure/sqlsrv-charges.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/local.settings.json.sample
Due: none

Fix build after merge from main
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeIntegrationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/TestConfigurationHelper.cs
Due: none

Get configuration from keyvault secrets for integration test
  .github/actions/charges-apply-db-migrations/action.yml
  .github/actions/dotnet-build-and-test/action.yml
Due: none

Do not enforce static members before non-static
  .editorconfig
Due: none

Test that all IInboundMessages can be deserialized
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/JsonMessageDeserializerTests.cs
Due: none

renamed Marketparticipants Id and Role + ChargeCommands Status is now OperationType
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeAcknowledgementSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeCommandNullChecker.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/BusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/RecipientIsMandatoryValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/SenderIsMandatoryValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChangeOfCharges/Transaction/ChargeOperation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeAcknowledgement.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/BusinessProcessRole.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/MarketParticipant.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeCommandNullCheckerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/BusinessUpdateValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/RecipientIsMandatoryValidationRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/SenderIsMandatoryValidationRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeCommandTestBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/Json/JsonSerializerTests.cs
Due: unit

added summary of Marketparticipants Role prop
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/MarketParticipant.cs
Due: unit

refactored marketparticipants Role to BusinessProcessRole
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeAcknowledgementSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeAcknowledgement.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/MarketParticipant.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/MarketParticipantRole.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeCommandTestBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/Json/JsonSerializerTests.cs
Due: unit

new summary for marketparicipant's id
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/MarketParticipant.cs
Due: unit

Improve test implementation
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/InlineAutoMoqDataAttributeTests.cs
Due: none

Azure login necessary to Keyvault secrets
  .github/workflows/charges-integration-tests-ci.yml
Due: none

Azure login necessary to access Keyvault secrets
  .github/workflows/charges-integration-tests-ci.yml
Due: none

Test that all IInboundMessages can be deserialized (#210)
  .editorconfig
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/JsonMessageDeserializerTests.cs
Due: none

Add unit tests for messaging registration (#209)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Registration/MessagingRegistrator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Registration/RegistrationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/TestMessage.cs
Due: integration

Renaming MarketParticipants properties. (#211)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeAcknowledgementSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeCommandNullChecker.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/BusinessValidation/BusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/RecipientIsMandatoryValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/SenderIsMandatoryValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChangeOfCharges/Transaction/ChargeOperation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeAcknowledgement.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/MarketParticipant.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeCommandNullCheckerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/BusinessValidation/BusinessUpdateValidationRulesFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/RecipientIsMandatoryValidationRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/SenderIsMandatoryValidationRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeCommandTestBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/Json/JsonSerializerTests.cs
Due: unit

Test that InlineAutoMoqData attribute creates instances of classes (#208)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/InlineAutoMoqDataAttributeTests.cs
Due: none

Initial documentation on how to get started (#163)
  README.md
  build/infrastructure/deploy-from-localhost.cmd
  docs/local-development/README.md
Due: none

Correct path to Azure install-login action
  .github/workflows/charges-integration-tests-ci.yml
Due: none

Rearrange build order
  .github/workflows/charges-integration-tests-ci.yml
Due: none

Debug should skip action
  .github/workflows/charges-integration-tests-ci.yml
Due: none

added stop and update methods to the InputvalidationRulesFactory
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ChargeCommandInputValidator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/IInputValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/InputValidationRulesFactory.cs
Due: unit

Remove paths from branches
  .github/workflows/charges-integration-tests-ci.yml
Due: none

Added ChargeOperationIdIsRequiredRule and added it to the mandatory ruleset
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/InputValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/ChargeOperationIdRequiredRule.cs
Due: unit

Debug Azure login
  .github/actions/azure-cli-install-login/action.yml
  .github/workflows/charges-integration-tests-ci.yml
Due: none

Debug Azure login
  .github/actions/azure-cli-install-login/action.yml
Due: none
