Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Merge conflict resolved
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
Due: businesslogic

Fix ChargeCommandReceivedEventHandlerTests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/ChargeBundle/ChargeCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandReceivedEventHandlerTests.cs
Due: infrastructure

1154 update before a registered stop (#1214)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: businesslogic

Re-implement Charge stop
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargePeriodsExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandReceivedEventHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: businesslogic

Added OperationOrder to AvailableChargeData
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202203221204 Add OperationOrder to AvailableData.sql
Due: infrastructure

Added DBMigration projectfile
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
Due: infrastructure

Template charge files under test for energinet.dk
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/GreenEnergyHub.Charges.IntegrationTest.Core.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/ChargeDocument.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/FeeMonthlyPriceExample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/SubscriptionMonthlyPriceExample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/TariffHourlyPricesExample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestHelpers/EmbeddedResourceHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/DomainTests/ChargeIngestionTests.cs
Due: none

Add license header
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/FeeMonthlyPriceExample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/SubscriptionMonthlyPriceExample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/TariffHourlyPricesExample.xml
Due: none

Fix xml schema error
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/FeeMonthlyPriceExample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/SubscriptionMonthlyPriceExample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/TariffHourlyPricesExample.xml
Due: none

use 6.0.0 of dotnet-solution-ci
  .github/workflows/ci.yml
Due: none

Adjust period to reflect a month
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/FeeMonthlyPriceExample.xml
Due: none

Added OperationOrder so we can get them in the correct order when notifying the messagehub
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Persistence/EntityConfigurations/AvailableChargeDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeData/AvailableChargeData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeData/AvailableChargeDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeData/AvailableChargeDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/GreenEnergyHub.Charges.WebApi.csproj
Due: none

Added OperationOrder to existing tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/RepositoryAutoMoqDataFixer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/MessageHub/AvailableChargeDataBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Infrastructure/Cim/Bundles/Charges/ChargeCimSerializerTests.cs
Due: none

Template charge files for energinet.dk (#1218)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/GreenEnergyHub.Charges.IntegrationTest.Core.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/ChargeDocument.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/FeeMonthlyPriceExample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/SubscriptionMonthlyPriceExample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/TariffHourlyPricesExample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestHelpers/EmbeddedResourceHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/DomainTests/ChargeIngestionTests.cs
Due: none

Fixed some Charge update tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargePeriodCollectionExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: businesslogic

Move samples to folder
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/GreenEnergyHub.Charges.IntegrationTest.Core.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/ChargeDocument.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/Samples/FeeMonthlyPriceSample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/Samples/SubscriptionMonthlyPriceSample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/Samples/TariffHourlyPricesSample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/DomainTests/ChargeIngestionTests.cs
Due: none

Move samples to folder (#1220)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/GreenEnergyHub.Charges.IntegrationTest.Core.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/ChargeDocument.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/Samples/FeeMonthlyPriceSample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/Samples/SubscriptionMonthlyPriceSample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/Samples/TariffHourlyPricesSample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/DomainTests/ChargeIngestionTests.cs
Due: none

Fix af few more unittests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargePeriodCollectionExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: businesslogic

All unittests pass
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
Due: businesslogic

fix: set precision and scale for charge price
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/ChargeEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeRepositoryTests.cs
Due: infrastructure

fix: set precision and scale for charge price (#1221)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/ChargeEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeRepositoryTests.cs
Due: infrastructure

Changed cancel stop to add new period with start at previous stop date
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/InstantHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/Command/ChargePeriodBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: businesslogic

Fixed failing unit test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandReceivedEventHandlerTests.cs
Due: none

Renamed unit test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: none

Added OperationOrder to AvailableData tables
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202203231212 Add OperationOrder to AvailableData.sql
Due: infrastructure

Added OrderOperations for all AvailableData
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202203221204 Add OperationOrder to AvailableData.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/RepositoryAutoMoqDataFixer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Persistence/EntityConfigurations/AvailableChargeLinkReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Persistence/EntityConfigurations/AvailableChargeLinksDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Persistence/EntityConfigurations/AvailableChargeReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeData/AvailableChargeData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksData/AvailableChargeLinksData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksData/AvailableChargeLinksDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksReceiptData/AvailableChargeLinksReceiptData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksReceiptData/AvailableChargeLinksReceiptDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksReceiptData/AvailableChargeLinksRejectionDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeReceiptData/AvailableChargeReceiptData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeReceiptData/AvailableChargeReceiptDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeReceiptData/AvailableChargeRejectionDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableData/AvailableDataBase.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableData/AvailableDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/Command/ChargeCommandBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/BundleSpecification/ChargeLinks/ChargeLinksRejectionBundleSpecificationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/BundleSpecification/Charges/ChargeRejectionBundleSpecificationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Infrastructure/Cim/Bundles/ChargeLinks/ChargeLinkCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Infrastructure/Cim/Bundles/ChargeLinksReceipt/ChargeLinkReceiptCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Infrastructure/Cim/Bundles/ChargeReceipt/ChargeReceiptCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Models/AvailableChargeData/AvailableChargeDataFactoryTests.cs
Due: infrastructure

Remove xsi and schemalocation
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Cim/CimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeCimSerializerMasterDataAndPrices.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeCimSerializerMasterDataWithoutPrices.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeCimSerializerPricesWithoutMasterData.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkCimSerializer.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkReceiptCimSerializerConfirmation.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkReceiptCimSerializerRejection.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeReceiptCimSerializerConfirmation.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeReceiptCimSerializerRejection.blob
Due: none

Add method to InstantExt to use correct timeinterval format in notifications
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/DateTime/InstantExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Cim/Bundles/Charges/ChargeCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeCimSerializerMasterDataAndPrices.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeCimSerializerPricesWithoutMasterData.blob
Due: businesslogic

Added GetCreatedDateTimeFormat method to InstantExtensions
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/DateTime/InstantExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestHelpers/EmbeddedResourceHelper.cs
Due: businesslogic

Fix: Use correct ISO8601 format `yyyy-MM-ddTHH:mmZ` in `<cim:start>` and `<cim:end>` which represents `timeInterval` of a price series (#1224)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/DateTime/InstantExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestHelpers/EmbeddedResourceHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Cim/Bundles/Charges/ChargeCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeCimSerializerMasterDataAndPrices.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeCimSerializerPricesWithoutMasterData.blob
Due: businesslogic

Remove xsi and schemalocation (#1223)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Cim/CimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeCimSerializerMasterDataAndPrices.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeCimSerializerMasterDataWithoutPrices.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeCimSerializerPricesWithoutMasterData.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkCimSerializer.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkReceiptCimSerializerConfirmation.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkReceiptCimSerializerRejection.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeReceiptCimSerializerConfirmation.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeReceiptCimSerializerRejection.blob
Due: none

Fix Repository- and WebAPI tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/ChargeEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/ChargePeriod.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/Query/ChargePeriodBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/WebApi/ModelPredicates/ChargeLinkQueryLogicTests.cs
Due: infrastructure

SchemaValidate OperationType spike
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure.Core/Cim/Charges/OperationTypeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/ChargeBundle/ChargeCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/ChargeBundle/CimXmlSchemaCollection.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/ChargeBundle/TemporaryCimXmlSchemaContainer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/ChargeBundle/TemporaryCimXmlSchemaResolver.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/Schemas/urn-ediel-org-structure-requestchangeofpricelist-0-1.xsd
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/InvalidSchemaTariffDocument.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/InvalidTariffDocument.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/TariffBundleWithValidAndInvalid.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/TaxTariffWithPriceDocument.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/CimDeserialization/ChargeBundle/ChargeCommandConverterTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/Syntax_Valid_CIM_Charge_With_OperationType.xml
Due: infrastructure

Include types and codelists
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/Schemas/urn-entsoe-eu-local-extension-types.xsd
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/Schemas/urn-entsoe-eu-wgedi-codelists.xsd
Due: infrastructure

Assert OperationType is set
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/CimDeserialization/ChargeBundle/ChargeCommandConverterTests.cs
Due: none

Use temporary xml schema collection
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/ChargeBundle/ChargeCommandDeserializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/InvalidSchemaTariffDocument.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/InvalidTariffDocument.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/Samples/FeeMonthlyPriceSample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/Samples/SubscriptionMonthlyPriceSample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/Samples/TariffHourlyPricesSample.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/TariffBundleWithValidAndInvalid.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTest.Core/TestFiles/Charges/TaxTariffWithPriceDocument.xml
Due: infrastructure

removed todo
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableData/AvailableDataBase.cs
Due: none

ChargePeriod removed - all but testprojects builds
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202203231530 Denormalize ChargePeriods.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargePeriod.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargePeriodCollectionExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargePeriodFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/IChargePeriodFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeCommandReceiverConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/ChargeEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/ChargePeriod.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/QueryDbContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandReceivedEventHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/Command/ChargeBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/Command/ChargePeriodBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/Query/ChargePeriodBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargePeriodFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/ModelPredicates/ChargeLinkQueryLogic.cs
Due: businesslogic, infrastructure

Jonasdmoeller/cancel stop new period (#1222)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/InstantHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandReceivedEventHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/Command/ChargePeriodBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
Due: businesslogic

ChargePeriods denormalized - everything builds
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Handlers/ChargeCommandReceivedEventHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/Command/ChargeBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/Query/ChargeBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/ChargeTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeLinksCommands/ChargeLinksCommandFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/WebApi/ModelPredicates/ChargeLinkQueryLogicTests.cs
Due: businesslogic

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
