Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Missed one schema - now removed
  docs/data-models/MeteringPointDataModel.drawio
  docs/data-models/MeteringPointDataModel.png
Due: none

Fixed ChargeCommandNullCheckerTests missing assert as pointed out by SonarCloud
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/ChargeCommandNullCheckerTests.cs
Due: none

Cleaning up smells - Removed uness Clock in LinkCommandReceivedInboundMapper and changed param name in IChargeCommandHandler
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/IChargeCommandHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedInboundMapper.cs
Due: businesslogic, infrastructure

rename MeterGridArea to GridAreaId
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108250923 MP grid area id.txt
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/GreenEnergyHub.Charges.ChargeCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/MeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/MeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/GreenEnergyHub.Charges.MessageReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/GreenEnergyHub.Charges.MeteringPointCreatedReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/MeteringPointCreatedIntegrationInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: businesslogic, infrastructure

name nit
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChangeOfCharges/Repositories/IMeteringPointRepository.cs
Due: businesslogic

nit remove line
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Mapping/MeteringPointMapper.cs
Due: businesslogic

make private setters and settlement method nullable
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPointCreatedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108250923 MP grid area id and nullable settlement method.txt
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108250923 MP grid area id.txt
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Enumeration/EnumExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/MeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/MeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
  source/Shared/GreenEnergyHub/source/GreenEnergyHub.TestHelpers/LoggerTestExtensions.cs
Due: businesslogic, infrastructure

refac: DateTime2 used in DB
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108251511 Update DateTimes.sql
Due: infrastructure

remove public setter for ParentMeteringPointId
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/MeteringPointCreatedEvent.cs
Due: businesslogic

removed strange tag in .csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
Due: infrastructure

fix embedded sql file
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108250923 MP grid area id and nullable settlement method.sql
Due: infrastructure

replaced sql server with sql db in shared server
  .github/workflows/infrastructure-cd.yml
  build/infrastructure/env/Development/kv-shared-data_override.tf
  build/infrastructure/main/kv-secrets.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/resource-group.tf
  build/infrastructure/main/sqldb-charges.tf
  build/infrastructure/main/sqlsrv-charges.tf
  build/infrastructure/main/variables.tf
Due: none

fix logging assertion
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPointCreatedEventHandler.cs
Due: businesslogic

try to fix build error
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Mapping/MeteringPointMapper.cs
Due: businesslogic

rename script to Use DateTime2
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108251511 Use DateTime2.sql
Due: infrastructure

add UnitTest attribute
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

docs: add data models for `Charge Link` and `Metering Point` (#506)
  docs/data-models/ChargeLinkDataModel.drawio
  docs/data-models/ChargeLinkDataModel.png
  docs/data-models/MeteringPointDataModel.drawio
  docs/data-models/MeteringPointDataModel.png
Due: none

add in unique naming for sql instances based on test method name
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/MethodExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

add missing copyright
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/MethodExtensions.cs
Due: none

remove extension method for method name
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/MethodExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

Removed duplicated local.settings.json settings in csproj files
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/GreenEnergyHub.Charges.ChargeLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/GreenEnergyHub.Charges.ChargeLinkEventPublisher.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/GreenEnergyHub.Charges.ChargeLinkReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeMessageReceiver/GreenEnergyHub.Charges.ChargeMessageReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.CreateLinkCommandReceiver/GreenEnergyHub.Charges.CreateLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/GreenEnergyHub.Charges.MeteringPointCreatedReceiver.csproj
Due: infrastructure

Removed unecessary setting of Transaction on ChargeLinkCommand
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverter.cs
Due: infrastructure

feat: add storing of Metering Points (#510)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChangeOfCharges/Repositories/IMeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/GreenEnergyHub.Charges.Application.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/IMeteringPointCreatedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPointCreatedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108250923 MP grid area id and nullable settlement method.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/GreenEnergyHub.Charges.ChargeCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.CreateLinkCommandReceiver/CreateChargeLinksReceiverServiceBusTrigger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/CreateLinkCommandEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/MeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/ConnectionState.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPointType.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/SettlementMethod.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/ChargeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MarketParticipantMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Mapping/MeteringPointMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/Model/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/MeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/GreenEnergyHub.Charges.MessageReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/GreenEnergyHub.Charges.MeteringPointCreatedReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/MeteringPointCreatedReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/Startup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MeteringPointCreatedReceiver/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/ChargeLinkCommandAcceptedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/MeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/MeteringPointCreatedIntegrationInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Mapping/ChargeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Mapping/MarketParticipantMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
  source/Shared/GreenEnergyHub/source/GreenEnergyHub.TestHelpers/LoggerTestExtensions.cs
Due: businesslogic, infrastructure

updated testhelpers for protobuf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/ProtoBufAssert.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestCore/ProtoBufAssertTests.cs
  source/Shared/GreenEnergyHub/source/GreenEnergyHub.TestHelpers/FluentAssertionsExtensions/FluentAssertionsExtionsions.cs
Due: none

Using ChargeLinkCommand in UpdateInstantsToValidTimes method as suggested by reviewer
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/LinkCommandReceivedOutboundMapperTests.cs
Due: none

Remove unused private field and added param to ArgExp
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Validation/InputValidation/ValidationRules/ChargeTypeTariffPriceCountRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverter.cs
Due: businesslogic, infrastructure

Removed redundant IOutboundMessage inheritance
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Acknowledgements/ChargeConfirmation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/Acknowledgements/ChargeRejection.cs
Due: businesslogic

Fix single-line comments code smells
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Factories/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Mapping/ChargeLinkCommandMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Validation/BusinessValidation/ValidationRules/StartDateValidationRuleTests.cs
Due: businesslogic

refac: DateTime2 used in DB (#525)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108251511 Use DateTime2.sql
Due: infrastructure

fix Microsoft.Extensions.Logging.Abstractions version issues
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/GreenEnergyHub.Charges.Application.csproj
  source/Shared/GreenEnergyHub/source/GreenEnergyHub.TestHelpers/GreenEnergyHub.TestHelpers.csproj
Due: businesslogic

fix Microsoft.Extensions.Logging.Abstractions version issues (#527)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/GreenEnergyHub.Charges.Application.csproj
  source/Shared/GreenEnergyHub/source/GreenEnergyHub.TestHelpers/GreenEnergyHub.TestHelpers.csproj
Due: businesslogic

renamed DateTime2 script to DateTimeTwo to adhere to naming convention
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108251511 Use DateTimeTwo.sql
Due: infrastructure

refac: numbers allowed in name in SQL scripts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Helpers/NamingConvention.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108251511 Use DateTime2.sql
Due: infrastructure

refac: numbers allowed in name in SQL scripts (#528)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Helpers/NamingConvention.cs
Due: infrastructure

fix: add missing connectionstring in Azure function
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
Due: none

fix: add missing connectionstring in Azure function (#529)
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
Due: none

fix: wrong column name issue
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108300923 Rename MP grid area id.sql
Due: infrastructure

fix: wrong column name (#530)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202108300923 Rename MP grid area id.sql
Due: infrastructure

fix: add new mp rename sql file as embedded resource
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
Due: infrastructure

remove _override from kv-shared-data.tf and reinserted dependencies
  build/infrastructure/env/Development/kv-shared-data.tf
Due: none

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
