Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

refac: move reply and notify to separate handler
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkDataAvailableNotifyAndReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkDataAvailableReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/IChargeLinkDataAvailableNotifierAndReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/IChargeLinkDataAvailableReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkDataAvailableNotifierAndReplyHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkDataAvailableReplyHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierTests.cs
Due: businesslogic

more tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkDataAvailableNotifierAndReplyHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkDataAvailableReplyHandlerTests.cs
Due: none

Add specifications
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinksBundleSpecification.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinksConfirmationBundleSpecification.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/MessageHub/ChargeBundleSpecification.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MessageHub/IBundleSpecification.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinksBundleSpecificationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinksConfirmationBundleSpecificationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/MessageHub/ChargeBundleSpecificationTests.cs
Due: businesslogic

Add Generic AvailableDataNotificationFactory
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MessageHub/AvailableDataNotificationFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/MessageHub/AvailableDataNotificationFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/BundleSize.cs
Due: businesslogic

Remove old factories
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinkConfirmationNotificationFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinksNotificationFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/MessageHub/ChargeNotificationFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MessageHub/IAvailableDataNotificationFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkConfirmationNotificationFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkNotificationFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/MessageHub/ChargeNotificationFactoryTests.cs
Due: businesslogic

Adjust BundleCreatorProvider
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/AvailableChargeLinksDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MessageHub/BundleCreatorProvider.cs
Due: businesslogic, infrastructure

Adjust AvailableDataNotifier with changes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MessageHub/AvailableDataNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MessageHub/AvailableDataNotifierTests.cs
Due: businesslogic

Add specifications to DependencyInjection
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkConfirmationDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkDataAvailableNotifierConfiguration.cs
Due: none

Remove AvailableDataNotifier method no longer needed
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MessageHub/AvailableDataNotifier.cs
Due: businesslogic

Add explanation of why business reason code is not as dangerous as BundleType
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MessageHub/BundleSpecification.cs
Due: businesslogic

Change BundleCreatorProvider to switch return
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MessageHub/BundleCreatorProvider.cs
Due: infrastructure

test: make test run
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkDataAvailableReplyHandlerTests.cs
Due: none

Add handling of no available data in notifier
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MessageHub/AvailableDataNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MessageHub/AvailableDataNotifierTests.cs
Due: businesslogic

Create new handler for notify and reply (#909)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkDataAvailableNotifyAndReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkDataAvailableReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/IChargeLinkDataAvailableNotifierAndReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/IChargeLinkDataAvailableReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkDataAvailableNotifierAndReplyHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkDataAvailableReplyHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierTests.cs
Due: businesslogic

Added assert and expected vars to ChargeLinksClientTests
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/ChargeLinks/ChargeLinksClientTests.cs
Due: none

created private GetMockHttpMessageHandler method
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/ChargeLinks/ChargeLinksClientTests.cs
Due: none

Using InlineAutoMoqData for ChargeLinkDto initialization
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/ChargeLinks/ChargeLinksClientTests.cs
Due: none

Remove usings no used
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/ChargeLinks/ChargeLinksClientTests.cs
Due: none

Add charge confirmation bundle specification
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/MessageHub/ChargeConfirmationBundleSpecification.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/MessageHub/ChargeConfirmationBundleSpecificationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/BundleSize.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/SingleChargeConfirmationWorstCase.blob
Due: businesslogic

Add bundle provider for charge receipts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MessageHub/BundleCreatorProvider.cs
Due: infrastructure

refactored test and moved files
  source/Contracts/ChargeLinkDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Registration/ChargeLinks/ServiceCollectionExtensions/ServiceCollectionExtensions.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Registration/DefaultChargeLink/SimpleInjector/ContainerExtensions.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/ChargeLinks/ChargeLinksClientTests.cs
Due: none

Added NotFoundResponseTest to ChargeLinkClientTests
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/ChargeLinks/ChargeLinksClientTests.cs
Due: none

Add charge confirmation data available factory
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/MessageHub/AvailableChargeConfirmationDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/MessageHub/AvailableChargeConfirmationDataFactoryTests.cs
Due: businesslogic

Added summary incl param name for ChargeLinkDto record
  source/Contracts/ChargeLinkDto.cs
Due: none

Added missing AAA in test
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/ChargeLinks/ChargeLinksClientTests.cs
Due: none

Removed comment from ChargeLinkClient
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/ChargeLinks/ChargeLinksClient.cs
Due: none

Rename and refactor charge confirmation endpoint
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/ChargeConfirmationSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/IChargeConfirmationSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/MessageHub/ChargeConfirmationDataAvailableNotifierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeConfirmationSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Acknowledgement/ChargeConfirmationSenderTests.cs
Due: businesslogic

Update Dependency injection and remove classes previously injected that are no longer needed
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Acknowledgement/ChargeConfirmation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeConfirmationSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Charge/ChargeConfirmation.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargeConfirmationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ChargeConfirmationOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/ChargeConfirmationContractEnumTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeConfirmationInboundMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ChargeConfirmationOutboundMapperTests.cs
Due: businesslogic, infrastructure

Added summary on ServiceCollectionExtensions.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Registration/ChargeLinks/ServiceCollectionExtensions/ServiceCollectionExtensions.cs
Due: none

Rename configuration to match endpoint name
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeConfirmationDataAvailableNotifierEndpointConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
Due: none

Update release-notes and documentation mds
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Registration/documents/documentation.md
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Registration/documents/release-notes/release-notes.md
Due: none

Address PR review comments
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/AvailableChargeLinksDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/MessageHub/AvailableChargeDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MessageHub/AvailableDataNotifier.cs
Due: businesslogic

minor release notes and documentation corrections
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Registration/documents/documentation.md
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Registration/documents/release-notes/release-notes.md
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/documentation.md
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/release-notes/release-notes.md
Due: none

Minor comment fixes
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/ChargeLinks/ChargeLinksClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/ChargeLinks/IChargeLinksClient.cs
Due: none

Added ServiceCollectionExtensionsTests and changed namespace
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Registration/ChargeLinks/ServiceCollectionExtensions/ServiceCollectionExtensions.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.RegistrationTests/ChargeLinks/ServiceCollectionExtensionsTests.cs
Due: none

Remove old post office test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/DomainTests/ChargeIngestionTests.cs
Due: none

Debug test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/MessageHub/ChargeConfirmationDataAvailableNotifierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeConfirmationDataAvailableNotifierEndpointConfiguration.cs
Due: none

Fix order of points in cim serialization
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/ChargeCimSerializer.cs
Due: infrastructure

Debug testing, all DI
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeConfirmationDataAvailableNotifierEndpointConfiguration.cs
Due: none

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
