Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Secrets keyvault url maybe not necessary
  .github/workflows/ci.yml
Due: none

Reenable System test CI for pipeline bug fixing
  .github/workflows/ci.yml
Due: none

Add missing comma
  .github/workflows/ci.yml
Due: none

Fix (some) SonarQube warnings (#1081)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Helpers/CustomScriptProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Enumeration/ExactValueNameComparisonStrategy.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/Enumeration/IEnumValueNameComparisonStrategy.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/Factories/ChargeCommandBusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/ValidationRules/CommandSenderMustBeAnExistingMarketParticipantRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/Validation/InputValidation/Factories/ChargeLinksCommandInputValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/Validation/IInputValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/Validation/IInputValidator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure.Core/MessagingExtensions/Registration/ProtobufOneOfConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/Json/JsonSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeCommands/Validation/BusinessValidation/ValidationRules/CommandSenderMustBeAnExistingMarketParticipantRuleTests.cs
Due: businesslogic, infrastructure

Enforce .ConfigureAwait(false) on tasks
  .editorconfig
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinksCommandBundleHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinksDataAvailableNotifiedPublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinksReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/CreateLinkRequestHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPoints/Handlers/MeteringPointPersister.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/Factories/ChargeCommandBusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/ChargeLinksCommandFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/Factories/ChargeLinksCommandBusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/MessageHub/BundleSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/System/ActorRegisterEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/System/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/MarketParticipantSynchronizer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/ChargeLinkBundle/ChargeLinkCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/ChargeLinksRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/MarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ReplySender/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Bundling/BundleReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Bundling/BundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Cim/CimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/MessageHub/AvailableDataNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeData/AvailableChargeDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksData/AvailableChargeLinksDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksReceiptData/AvailableChargeLinkReceiptDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeReceiptData/AvailableChargeReceiptDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableData/AvailableDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/Controllers/ChargeLinksController.cs
Due: businesslogic, infrastructure

AuthorizationConfiguration could be redundant(?)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/Database/ChargesDatabaseFixture.cs
Due: none

What: Update branch
  build/infrastructure/main/app-webapi.tf
Due: none

Update dotnet-solution-ci version
  .github/workflows/ci.yml
  .github/workflows/clients-ci.yml
  .github/workflows/clients-registration-ci.yml
Due: none

Renamed to BackendServiceAppId
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Common/EnvironmentSettingNames.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ServiceCollectionExtensions.cs
Due: none

Update Energinet packages
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/GreenEnergyHub.Charges.FunctionHost.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure.Core/GreenEnergyHub.Charges.Infrastructure.Core.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.SystemTests/GreenEnergyHub.Charges.SystemTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
Due: infrastructure

Revert changes in ChargesDatabaseFixture
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/Database/ChargesDatabaseFixture.cs
Due: none

Re-add SystemTest Publish to release
  .github/actions/publish-release-contents/action.yml
Due: none

A little clean up of the market participant repository (#1079)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/ChargeLinksCommandFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MarketParticipants/IMarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/MarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MarketParticipantRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeData/AvailableChargeDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksData/AvailableChargeLinksDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableData/AvailableDataFactoryBase.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Dtos/ChargeLinksCommands/ChargeLinksCommandFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/BundleSpecification/ChargeLinks/ChargeLinksRejectionBundleSpecificationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/BundleSpecification/Charges/ChargeRejectionBundleSpecificationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Infrastructure/Cim/Bundles/ChargeLinks/ChargeLinkCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Infrastructure/Cim/Bundles/ChargeLinksReceipt/ChargeLinkReceiptCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Infrastructure/Cim/Bundles/ChargeReceipt/ChargeReceiptCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Infrastructure/Cim/Bundles/Charges/ChargeCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Models/AvailableChargeData/AvailableChargeDataFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Models/AvailableChargeLinkReceiptData/AvailableChargeLinkReceiptDataFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Models/AvailableChargeLinksData/AvailableChargeLinksDataFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Models/AvailableChargeReceiptData/AvailableChargeConfirmationDataFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/MessageHub/Models/AvailableChargeReceiptData/AvailableChargeRejectionDataFactoryTests.cs
Due: businesslogic, infrastructure

Remove unnecessary async/await (#1082)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/Factories/ChargeCommandBusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure.Core/MessagingExtensions/MessageExtractor.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/MessageHub/AvailableDataNotifier.cs
  source/Shared/GreenEnergyHub/source/GreenEnergyHub.Json/JsonSerializer.cs
Due: businesslogic, infrastructure

fix ref to mssql server
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/mssqldb-this.tf
Due: none

Work in progress
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201210900 Add grid area.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201251200 Fix MeteringPoint.GridAreaId.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202201210940 Add grid areas.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/MeteringPointCreatedEvents/MeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Contracts/External/MeteringPointCreated/MeteringPointCreatedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/GridAreaEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/GridArea.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/MarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MarketParticipantRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MeteringPointRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksData/AvailableChargeLinksDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/CreateLinkRequestHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/MeteringPointPersisterTests.cs
Due: businesslogic, infrastructure

Fix bugs after merge
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/MessageHub/AvailableDataNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksData/AvailableChargeLinksDataFactory.cs
Due: none

Set ValueGeneratedNever for all Id properties
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/Persistence/GridAreas/GridAreaEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/DefaultChargeLinkEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/MeteringPointEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Persistence/EntityConfigurations/AvailableChargeDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Persistence/EntityConfigurations/AvailableChargeLinkReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Persistence/EntityConfigurations/AvailableChargeLinksDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeLinkBuilder.cs
Due: infrastructure

Improve tests to ensure id isn't change by db
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MeteringPointRepositoryTests.cs
Due: none

Enforce .ConfigureAwait(false) on tasks (#1084)
  .editorconfig
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinksCommandBundleHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinksDataAvailableNotifiedPublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinksReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/CreateLinkRequestHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Charges/Handlers/ChargeCommandReceivedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPoints/Handlers/MeteringPointPersister.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charges/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeCommands/Validation/BusinessValidation/Factories/ChargeCommandBusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/ChargeLinksCommandFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/ChargeLinksCommands/Validation/BusinessValidation/Factories/ChargeLinksCommandBusinessValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/MessageHub/BundleSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/System/ActorRegisterEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/System/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/MarketParticipantSynchronizer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CimDeserialization/ChargeLinkBundle/ChargeLinkCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/ChargeLinksRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/ChargeRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ReplySender/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Bundling/BundleReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Bundling/BundleSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Cim/CimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/MessageHub/AvailableDataNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeData/AvailableChargeDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksData/AvailableChargeLinksDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksData/AvailableChargeLinksDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeLinksReceiptData/AvailableChargeLinkReceiptDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableChargeReceiptData/AvailableChargeReceiptDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Models/AvailableData/AvailableDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.WebApi/Controllers/ChargeLinksController.cs
Due: businesslogic, infrastructure

Update SQL models and data to support grid area links
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPoints/Handlers/MeteringPointPersister.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201210900 Add grid area.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201251200 Fix MeteringPoint.GridAreaId.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201261730 Create tables.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Seed/202201261740 Add default charges owner.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Seed/202201261741 Add default charges.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Seed/202201261742 Add default charge links.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202201200830 Add market participants.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202201200831 Add metering points.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202201200832 Add charges and links.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202201210940 Add grid areas.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202201261750 Add test data.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/GridAreaLinkEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/MeteringPointEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/GridAreaLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/MarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MarketParticipantRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MeteringPointRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/ChargeLinksControllerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/SeededData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/MeteringPointPersisterTests.cs
Due: businesslogic, infrastructure

Fix unit tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPoints/Handlers/MeteringPointPersister.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202201261750 Add test data.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/MeteringPointCreatedEvents/MeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPointFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Contracts/External/MeteringPointCreated/MeteringPointCreatedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/MeteringPointPersisterEndpointTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MarketParticipantRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MeteringPointRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/ChargeLinksControllerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/SeededData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/MeteringPointPersisterTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Contracts/External/MeteringPointCreated/MeteringPointCreatedIntegrationInboundMapperTests.cs
Due: businesslogic, infrastructure

Create SQL database based on azurerm_mssql_database TF resource (#1085)
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/mssqldb-this.tf
  build/infrastructure/main/outputs.tf
Due: none

move pointers + remove old db
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/sqldb-this.tf
Due: none

IMarketparticipantRepository GetOrNull methods now marked with ?
  .github/workflows/clients-ci.yml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MarketParticipants/IMarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/MarketParticipantRepository.cs
Due: businesslogic, infrastructure

Set ValueGeneratedNever for all Id properties (#1086)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/Persistence/GridAreas/GridAreaEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/DefaultChargeLinkEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/MeteringPointEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/ChargeRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/MeteringPointRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Persistence/EntityConfigurations/AvailableChargeDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Persistence/EntityConfigurations/AvailableChargeLinkReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageHub/Infrastructure/Persistence/EntityConfigurations/AvailableChargeLinksDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeLinkBuilder.cs
Due: infrastructure

logging upgrade
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/GreenEnergyHub.Charges.FunctionHost.csproj
Due: none

naming fix
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ServiceCollectionExtensions.cs
Due: none

added configureawait for getornull
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/MarketParticipantRepository.cs
Due: infrastructure

updated nuget packages to new namespace
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/GreenEnergyHub.Charges.Domain.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure.Core/GreenEnergyHub.Charges.Infrastructure.Core.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
Due: businesslogic, infrastructure

Synchronize grid areas and links from the actor register
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201261730 Create tables.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202201261750 Add test data.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/System/ActorRegisterEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/System/ActorRegisterEndpointConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/ActorRegisterSynchronizer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/GridAreaLinksSynchronization/GridAreaLinksSynchronizer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/GridAreaLinksSynchronization/IGridAreaLinksSynchronizer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/GridAreasSynchronization/GridAreasSynchronizer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/GridAreasSynchronization/IGridAreasSynchronizer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/IActorRegisterSynchronizer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/MarketParticipantsSynchronization/IMarketParticipantsSynchronizer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/MarketParticipantsSynchronization/MarketParticipantRoleMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/MarketParticipantsSynchronization/MarketParticipantUpdater.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/MarketParticipantsSynchronization/MarketParticipantsSynchronizer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/Persistence/ActorRegister.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/Persistence/Actors/ActorEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/Persistence/GridAreaLinks/GridAreaLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/Persistence/GridAreaLinks/GridAreaLinkEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/Persistence/IActorRegister.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/EntityConfigurations/GridAreaEntityConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/GridArea.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/GridAreaLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ActorRegister/MarketParticipantUpdaterTests.cs
Due: infrastructure

What: Subnets + IP addresses
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/subnets.tf
  build/infrastructure/main/variables.tf
Due: none

What: Update network and service bus
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/sbt-command-accepted.tf
  build/infrastructure/main/sbt-command-received.tf
  build/infrastructure/main/sbt-command-rejected.tf
  build/infrastructure/main/sbt-default-charge-links-data-available-notified.tf
  build/infrastructure/main/sbt-links-command-accepted.tf
  build/infrastructure/main/sbt-links-command-received.tf
  build/infrastructure/main/sbt-links-command-rejected.tf
Due: none

What: Provider version 2.91.0
  build/infrastructure/main/providers.tf
Due: none

Various fixes from test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201261730 Create tables.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/Persistence/ActorRegister.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/Persistence/GridAreaLinks/GridAreaLink.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ActorRegister/Persistence/GridAreaLinks/GridAreaLinkEntityConfiguration.cs
Due: infrastructure

Resolve or remove my todos
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPoints/Handlers/MeteringPointPersister.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Persistence/Repositories/MarketParticipantRepository.cs
Due: businesslogic, infrastructure

What: TF v1.1.2
  build/infrastructure/main/providers.tf
Due: none

Update scaffolded query stack
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/MarketParticipant.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/MeteringPoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/QueryDbContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/scaffold-query-stack.ps1
Due: none

Add missing files
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/GridArea.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.QueryApi/Model/GridAreaLink.cs
Due: none

Add missing FK
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202201261730 Create tables.sql
Due: infrastructure

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
