Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  integration:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

In checkout action remove path prop (#247)
  .github/workflows/charge-command-receiver-cd.yml
  .github/workflows/charge-confirmation-sender-cd.yml
  .github/workflows/charge-rejection-sender-cd.yml
  .github/workflows/message-receiver-cd.yml
Due: none

Fixed test build error
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ChargePriceMaximumDigitsRuleTests.cs
Due: none

Fixed test build error
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ChargeTypeTariffPriceCountRuleTests.cs
Due: none

Fix integration test env variables and keyvault
  .github/actions/integration-test/action.yml
  .github/workflows/charge-confirmation-sender-cd.yml
  .github/workflows/charge-rejection-sender-cd.yml
  .github/workflows/message-receiver-cd.yml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/local.settings.json.sample
Due: none

Fix integration test env variables and keyvault (#248)
  .github/actions/integration-test/action.yml
  .github/workflows/charge-confirmation-sender-cd.yml
  .github/workflows/charge-rejection-sender-cd.yml
  .github/workflows/message-receiver-cd.yml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargePipelineTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/local.settings.json.sample
Due: none

Fixed test build error
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/MaximumPriceRuleTests.cs
Due: none

Fix keyvault secret names
  .github/actions/integration-test/action.yml
Due: none

Fix keyvault secret names (#249)
  .github/actions/integration-test/action.yml
Due: none

Don't fetch non-existing keyvault secret
  .github/actions/integration-test/action.yml
Due: none

Don't fetch non-existing keyvault secret (#250)
  .github/actions/integration-test/action.yml
Due: none

Fix integration test project name
  .github/workflows/charge-command-receiver-cd.yml
  .github/workflows/charge-confirmation-sender-cd.yml
  .github/workflows/charge-rejection-sender-cd.yml
  .github/workflows/message-receiver-cd.yml
Due: none

Fix integration test project name (#251)
  .github/workflows/charge-command-receiver-cd.yml
  .github/workflows/charge-confirmation-sender-cd.yml
  .github/workflows/charge-rejection-sender-cd.yml
  .github/workflows/message-receiver-cd.yml
Due: none

Try to fix execution of integration test dll
  .github/workflows/charge-command-receiver-cd.yml
  .github/workflows/charge-confirmation-sender-cd.yml
Due: none

Try to fix execution of integration test dll (#252)
  .github/workflows/charge-command-receiver-cd.yml
  .github/workflows/charge-confirmation-sender-cd.yml
Due: none

Add availability tests for all function apps (#237)
  build/infrastructure/azfun-charge-confirmation-sender.tf
  build/infrastructure/azfun-charge-negative-acknowledgement-sender.tf
  build/infrastructure/azfun-charge-rejection-sender.tf
  build/infrastructure/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/azfun-charges-message-receiver.tf
  build/infrastructure/modules/ping-webtest/main.tf
  build/infrastructure/modules/ping-webtest/outputs.tf
  build/infrastructure/modules/ping-webtest/variables.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/HealthStatus.cs
Due: integration

Changed name of params in GeneratePricePointList
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ChargeTypeTariffPriceCountRuleTests.cs
Due: none

Changed unittest names
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ChargeTypeTariffPriceCountRuleTests.cs
Due: none

Added exception throwing with unhandled resolution type
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/ChargeTypeTariffPriceCountRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ChargeTypeTariffPriceCountRuleTests.cs
Due: unit

Implemented and added unit test for VR507-1 (#241)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/InputValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/ChargeTypeTariffPriceCountRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/ValidationRuleIdentifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ChargeTypeTariffPriceCountRuleTests.cs
Due: unit

Unittest file name refactored
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ChargePriceMaximumDigitsAndDecimalsRuleTests.cs
Due: none

Renamed unittest
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ChargePriceMaximumDigitsAndDecimalsRuleTests.cs
Due: none

Renamed wrongly named test file and class name
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ChargeFeeSubscriptionPriceCountRuleTests.cs
Due: none

Build integration test-project in ci-pipeline
  .github/workflows/charge-command-receiver-cd.yml
  .github/workflows/charge-confirmation-sender-cd.yml
  .github/workflows/charge-rejection-sender-cd.yml
  .github/workflows/integration-test-ci.yml
  .github/workflows/message-receiver-cd.yml
Due: none

Remove NSubstitute reference
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
Due: none

new charge db schema
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202105191329 New charge model.sql
Due: integration

Testdata for new marketparticipants
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Test/202105201033 New MarketParticipants.sql
Due: integration

Implemented Input validation VR509 (#243)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/InputValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/MaximumPriceRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/ValidationRuleIdentifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/MaximumPriceRuleTests.cs
Due: unit

Change of charges integration test11 (#253)
  .github/workflows/charge-command-receiver-cd.yml
  .github/workflows/charge-confirmation-sender-cd.yml
  .github/workflows/charge-rejection-sender-cd.yml
  .github/workflows/integration-test-ci.yml
  .github/workflows/message-receiver-cd.yml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
Due: none

Preserve integration test artifacts
  .github/workflows/charge-confirmation-sender-cd.yml
  .github/workflows/charge-rejection-sender-cd.yml
  .github/workflows/integration-test-ci.yml
  .github/workflows/message-receiver-cd.yml
Due: none

Input Validation Rule VR457 (#240)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/InputValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/ChargePriceMaximumDigitsAndDecimalsRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/ValidationRuleIdentifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ChargePriceMaximumDigitsAndDecimalsRuleTests.cs
Due: unit

Change of charges integrationtest12 (#255)
  .github/workflows/charge-confirmation-sender-cd.yml
  .github/workflows/charge-rejection-sender-cd.yml
  .github/workflows/integration-test-ci.yml
  .github/workflows/message-receiver-cd.yml
Due: none

Bug fix integration test CI
  .github/workflows/integration-test-ci.yml
Due: none

Update codecov-ci.yml
  .github/workflows/codecov-ci.yml
Due: none

Renamed unittest names
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ChargeFeeSubscriptionPriceCountRuleTests.cs
Due: none

Split rule into 2 separate
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/InputValidationRulesFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/FeeMustHaveSinglePriceRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/SubscriptionMustHaveSinglePriceRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/ValidationRuleIdentifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/FeeMustHaveSinglePriceRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/SubscriptionMustHaveSinglePriceRuleTests.cs
Due: unit

Added missing ValidationRuleIdentifier enum
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/SubscriptionMustHaveSinglePriceRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/ValidationRuleIdentifier.cs
Due: unit

Removed unused parameter
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/FeeMustHaveSinglePriceRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/SubscriptionMustHaveSinglePriceRuleTests.cs
Due: none

Renamed unittest
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/FeeMustHaveSinglePriceRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/SubscriptionMustHaveSinglePriceRuleTests.cs
Due: none

Used Neither instead of NotEither in name
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/FeeMustHaveSinglePriceRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/SubscriptionMustHaveSinglePriceRuleTests.cs
Due: none
