Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Datetime var names to suffix Utc
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/Models/ChargeLinkDto.cs
Due: none

Renamed to IChargeLinksClient
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/IChargeLinksClient.cs
Due: none

Remove overlooked occurrences
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinksDataConfiguration.cs
Due: infrastructure

Add package extension overload (#873)
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/ContainerExtensions.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/Energinet.DataHub.Charges.Clients.SimpleInjector.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjector/documents/release-notes/release-notes.md
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.SimpleInjectorTests/ContainerExtensionsTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/documentation.md
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/release-notes/release-notes.md
Due: none

Move ReasonCode to MarketActivityRecord in ingretion
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkReceiptBundle/Cim/ChargeLinkReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeReceiptBundle/Cim/ChargeReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketActivityRecord/ReasonCodeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ReasonCodeMapperTests.cs
Due: infrastructure

Fix wrong business reason code in test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeReceiptBundle/Cim/ChargeReceiptCimSerializerTests.cs
Due: none

Fix wrong document type mapping of charge receipts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/DocumentTypeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/DocumentTypeMapperTests.cs
Due: infrastructure

removed unused queue names from functionhost
  build/infrastructure/main/func-functionhost.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Common/EnvironmentSettingNames.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
Due: none

Add publish webapi to pub-release-contents action (#874)
  .github/actions/publish-release-contents/action.yml
Due: none

Add ChargeLinksClient
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff/ChargeLinksClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff/Energinet.DataHub.Charges.Clients.Bff.csproj
Due: none

Add test of charge receipt serialization
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeReceiptCimSerializerConfirmation.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeReceiptCimSerializerRejection.blob
Due: none

Add ChargeLinksClientFactory
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff/ChargeLinksClientFactory.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff/IHttpClientFactory.cs
Due: none

Added ContainerExt and ChargeType.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/Models/ChargeType.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff/ContainerExtensions.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff/Energinet.DataHub.Charges.Clients.Bff.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff/IHttpClientFactory.cs
Due: none

Remove comment from Dto
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/Models/ChargeLinkDto.cs
Due: none

add description of SendWrappedServiceBusMessageToQueueAsync
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/MockTelemetryClient.cs
Due: none

Update TestCommon and remove deprecated FxCopAnalyzers
  source/Energinet.Charges.Libraries/source/Directory.Build.props
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/Energinet.DataHub.Charges.Clients.IntegrationTests.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/release-notes/release-notes.md
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestCore/GreenEnergyHub.Charges.TestCore.csproj
Due: none

fix merge build issues
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/DefaultChargeLinksDataAvailableNotifiedLinkCommandReceivedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/DefaultChargeLinksDataAvailableNotifiedLinkCommandReceivedOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/DomainTests/CreateDefaultChargeLinksReceiverTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/MockTelemetryClient.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/MessageExtractorTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/TestableServiceBusChannel.cs
Due: infrastructure

rename method
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Correlation/CorrelationIdMiddleware.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Correlation/FunctionTelemetryScopeMiddleware.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/DomainTests/CreateDefaultChargeLinksReceiverTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/MockTelemetryClient.cs
Due: infrastructure

add extra description to wrapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/MockTelemetryClient.cs
Due: none

Enable always on
  build/infrastructure/main/func-functionhost.tf
Due: none

Remove superfluous EF Core configuration (#875)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinkReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinksDataConfiguration.cs
Due: infrastructure

try to fix terraform problem in service bus topic
  build/infrastructure/main/sbt-default-charge-link-data-available-notified.tf
Due: none

Enable always on (#878)
  build/infrastructure/main/func-functionhost.tf
Due: none

Update source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeReceiptBundle/Cim/CimChargeReceiptConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeReceiptBundle/Cim/CimChargeReceiptConstants.cs
Due: infrastructure

Implemented interface in ChargeLinksClient
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Abstractions/IChargeLinksClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff/ChargeLinksClient.cs
Due: none

feat: Serialize charge receipts (#876)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeReceiptData/AvailableChargeReceiptData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeReceiptData/AvailableChargeReceiptDataReasonCode.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableData/ReasonCode.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableData/ReceiptStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MarketParticipants/DocumentType.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeReceiptBundle/Cim/ChargeReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeReceiptBundle/Cim/CimChargeReceiptConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeReceiptBundle/Cim/IChargeReceiptCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinkReceiptDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketActivityRecord/ReasonCodeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/DocumentTypeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/ReceiptStatusMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ReasonCodeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkReceiptBundle/Cim/ReceiptStatusMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeReceiptBundle/Cim/ChargeReceiptCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/DocumentTypeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeReceiptCimSerializerConfirmation.blob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeReceiptCimSerializerRejection.blob
Due: businesslogic, infrastructure

Add Bff tests project
  source/Energinet.Charges.Libraries/Energinet.DataHub.Charges.Libraries.sln
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Bff.Tests/ChargeLinksClientTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Bff.Tests/Energinet.DataHub.Charges.Bff.Tests.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Bff.Tests/Energinet.DataHub.Charges.Clients.Bff.Tests.csproj
Due: none

Add script with available charge receipt data
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202111250821 Create AvailableChargeReceiptData tables.sql
Due: infrastructure

Add configuration of available charge receipts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeReceiptDataConfiguration.cs
Due: infrastructure

terraform renaming
  build/infrastructure/main/func-functionhost.tf
  build/infrastructure/main/sbt-default-charge-link-data-available-notified.tf
  build/infrastructure/main/sbt-link-command-received.tf
Due: none

Add charge receipt to DB context
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
Due: infrastructure

Added tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/ChargeLinksControllerTests.cs
Due: none

Add repository of charge receipts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeReceiptData/IAvailableChargeReceiptDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/AvailableChargeReceiptDataRepository.cs
Due: businesslogic, infrastructure

Add AutoMoq Fixer for charge receipts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/AvailableChargeReceiptDataRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/RepositoryAutoMoqDataFixer.cs
Due: none

Add integration test for available charge receipts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/Repositories/AvailableChargeReceiptDataRepositoryTests.cs
Due: none

use FluentAssertions
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/IntegrationTests/WebApi/ChargeLinksControllerTests.cs
Due: none

Adjust dependabot settings (#871)
  .github/dependabot.yml
Due: none

Add implicit available charge receipt constructor
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeReceiptData/AvailableChargeReceiptData.cs
Due: businesslogic
