Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Correct indentation
  .github/workflows/ci.yml
Due: none

Charges.Clients is not yet using TestCommon 1.0.1
  .github/workflows/clients-ci.yml
Due: none

refac: rename endpoint to match domain diagram
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/CreateDefaultChargeLinksReplierEndpoint.cs
Due: none

updated settingsg
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/integrationtest.local.settings.json.sample
Due: none

Re-insert required Azure secrets
  .github/workflows/ci.yml
  .github/workflows/dotnet-solution-ci.yml
Due: none

Remove unused AZURE_KEYVAULT_URL secret
  .github/workflows/ci.yml
Due: none

Update proto documentation
  source/Contracts/CreateDefaultChargeLinks.proto
  source/Contracts/CreateDefaultChargeLinksReply.proto
Due: none

build: add topic and subscription
  build/infrastructure/main/sbt-default-charge-link-data-available-notified.tf
Due: none

Internalize internal stuff
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Common/EnvironmentSettingNames.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
Due: none

build: add vars to functionhost
  build/infrastructure/main/func-functionhost.tf
Due: none

Add AZURE_KEYVAULT_URL to CI build
  .github/workflows/ci.yml
Due: none

Add missing $
  .github/workflows/ci.yml
Due: none

Use current branch dotnet-solution-ci.yml
  .github/workflows/ci.yml
Due: none

Use dotnet-solution-ci version 1.13.0
  .github/workflows/ci.yml
Due: none

Wild guess - work in progress
  .github/workflows/ci.yml
Due: none

Still guessing
  .github/workflows/ci.yml
Due: none

Changed proto files comments after review
  source/Contracts/CreateDefaultChargeLinks.proto
  source/Contracts/CreateDefaultChargeLinksReply.proto
Due: none

Additional comment changed to proto file
  source/Contracts/CreateDefaultChargeLinks.proto
Due: none

Azure login
  .github/workflows/dotnet-solution-ci.yml
Due: none

review fixes part 1
  source/Contracts/CreateDefaultChargeLinksReply.proto
  source/Contracts/ErrorCode.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkClientTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkReplyReaderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Mappers/CreateDefaultChargeLinksFailedInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksFailedDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/IServiceBusRequestSenderConfiguration.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/ServiceBusRequestSenderConfiguration.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Providers/ServiceBusRequestSenderProvider.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/CreateDefaultChargeLinkReplier/ICreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/CreateLinkCommandRequestHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/CreateDefaultChargeLinksClientConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinkReplierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/CreateLinkCommandEventHandlerTests.cs
Due: businesslogic, infrastructure

updated documentation
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/documentation.md
Due: none

changed variable names in createDefaultChargeLinksReplyFailed
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinksReplier.cs
Due: infrastructure

Reset proto class generation output path
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
Due: none

changed namespace on the ErrorCode
  source/Contracts/ErrorCode.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkReplyReaderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Mappers/CreateDefaultChargeLinksFailedInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksFailedDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinkReplierTests.cs
Due: infrastructure

Update public interface documentation
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkReplyReader.cs
Due: none

Update source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
Due: infrastructure

review fixes
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Providers/ServiceBusRequestSenderProvider.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/documentation.md
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/CreateDefaultChargeLinkReplier/ICreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ServiceBusReplySenderProvider/ServiceBusReplySenderProvider.cs
Due: businesslogic, infrastructure

working on contain registor
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/Configuration/DefaultChargeLinkClientConfigurationTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Configuration/DefaultChargeLinkClientConfiguration.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
Due: none

renamed namespace for ErrorCode and the Dtos in the clients package.
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.IntegrationTests/DefaultChargeLink/DefaultChargeLinkTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkClientTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkReplyReaderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Mappers/CreateDefaultChargeLinksFailedInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Mappers/CreateDefaultChargeLinksSucceededInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/DefaultChargeLinksCreatedSuccessfullyDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/DefaultChargeLinksCreationFailedStatusDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/RequestDefaultChargeLinksForMeteringPointDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/CreateLinkCommandRequestHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinkReplierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/CreateLinkCommandEventHandlerTests.cs
Due: businesslogic

create new queue
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkDataAvailableNotifierEndpointHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/IChargeLinkDataAvailableNotifierEndpointHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ICreateDefaultChargeLinksReplierHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/GreenEnergyHub.Charges.Domain.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/CreateDefaultChargeLinksReplierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Common/EnvironmentSettingNames.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkEventReplierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandlerTests.cs
Due: businesslogic

added tests of registration
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/Configuration/DefaultChargeLinkClientConfigurationTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/Energinet.DataHub.Charges.Clients.Tests.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Configuration/DefaultChargeLinkClientConfiguration.cs
Due: none

added link to regitration example in documentation
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/documents/documentation.md
Due: none

changed the replier to be able to be registered as scoped
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/CreateDefaultChargeLinkReplier/ICreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/CreateLinkCommandRequestHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinksReplier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/CreateDefaultChargeLinkReplier/CreateDefaultChargeLinkReplierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/Handlers/CreateLinkCommandEventHandlerTests.cs
Due: businesslogic, infrastructure

review fixes
  source/Contracts/CreateDefaultChargeLinks.proto
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/Configuration/DefaultChargeLinkClientConfigurationTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Providers/ServiceBusRequestSenderProvider.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/ServiceBus/IServiceBusRequestSender.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/ServiceBus/ServiceBusRequestSender.cs
Due: none

refactor endpoint
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkDataAvailableNotifierEndpointHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/Handlers/ChargeLinkEventReplyHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/DefaultChargeLinksDataAvailableNotifiedEvents/DefaultChargeLinkDataAvailableNotifierEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/DefaultChargeLinksDataAvailableNotifiedEvents/DefaultChargeLinkDataAvailableNotifierEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Dtos/DefaultChargeLinksDataAvailableNotifiedEvents/IDefaultChargeLinkDataAvailableNotifierEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/GreenEnergyHub.Charges.Domain.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/DefaultChargeLinkEventReplierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/DefaultChargeLinksDataAvailableNotified.proto
Due: businesslogic, infrastructure

configuration
  build/infrastructure/main/sbt-default-charge-link-data-available-notified.tf
  build/infrastructure/main/sbt-link-command-received.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/CreateDefaultChargeLinksClientConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/LinkCommandAcceptedInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Domain/Charges/DefaultChargeLinkTests.cs
Due: infrastructure

Use geh shared dotnet-solution-ci
  .github/workflows/ci.yml
Due: none

updated public entry points to have a [DisallowNull] attribute instead of [NotNull]
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/IServiceBusRequestSenderConfiguration.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/ServiceBusRequestSenderConfiguration.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/ServiceBusRequestSenderTestConfiguration.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Providers/ServiceBusRequestSenderProvider.cs
Due: none
