Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Move stream to input to signal sender has responsibility of it
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/IChargeLinkPostOfficeSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/ChargeLinkPostOfficeSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinks/Cim/ChargeLinkPostOfficeSerializerTests.cs
Due: businesslogic, infrastructure

Rename serializer to match folder structure better
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/ChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/IChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinks/Cim/ChargeLinkCimSerializerTests.cs
Due: infrastructure

Add test comparing result stream with known outcome
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/ChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinks/Cim/ChargeLinkCimSerializerTests.cs
Due: infrastructure

Add expected XML
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkCimSerializer.xml
Due: none

Switch to using AvailableChargeLinkData class instead of temporary dto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChargeLinks/ChargeLinkTransmissionDto.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/ChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinks/Cim/IChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinks/Cim/ChargeLinkCimSerializerTests.cs
Due: businesslogic, infrastructure

Change namespace to add main after rebase
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkIngestionConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCommandDeserializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/ChargeTypeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/CimChargeLinkCommandConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/CimChargeLinkConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/IChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCommandConverterTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/Cim/ChargeTypeMapperTests.cs
Due: infrastructure

Add missing ties in ChargeLinkBundleCreator
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleCreator.cs
Due: infrastructure

Alternative display of MessageHub communication
  docs/process-flows/images/CreateChargeLinkProcessFlow.drawio
  docs/process-flows/images/CreateChargeLinkProcessFlow.png
Due: none

Stop using the word 'receiving'
  docs/process-flows/images/CreateChargeLinkProcessFlow.drawio
  docs/process-flows/images/CreateChargeLinkProcessFlow.png
Due: none

Add test of ChargeLinkBundleCreator
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleCreatorTests.cs
Due: none

Added NotifyBillingMasterData label
  docs/process-flows/images/CreateChargeLinkProcessFlow.drawio
  docs/process-flows/images/CreateChargeLinkProcessFlow.png
Due: none

init
  docs/process-flows/README.md
Due: none

Move HubSenderConfiguration to infrastructure
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Configuration/IHubSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Configuration/HubSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Configuration/IHubSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleCreatorTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Configuration/HubSenderConfigurationTests.cs
Due: businesslogic, infrastructure

Changing header texts
  docs/process-flows/README.md
Due: none

Reintroduce sender
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Configuration/HubSenderConfiguration.cs
Due: infrastructure

Aligning URL references on other pages
  docs/business-processes/change-of-fee.md
  docs/business-processes/change-of-subscription.md
  docs/business-processes/change-of-tariff.md
  docs/business-processes/settlement_master_data.md
Due: none

Aligning URL ref part 2
  docs/business-processes/settlement_master_data.md
Due: none

Removed create from Charge Link Flow header
  docs/process-flows/README.md
Due: none

Adjusting URL references part 3
  docs/business-processes/change-of-fee.md
  docs/business-processes/change-of-subscription.md
  docs/business-processes/change-of-tariff.md
Due: none

Add dependency injection for serialization and repository
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkBundleSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
Due: none

Adjusting URL ref part 4
  docs/process-flows/README.md
Due: none

Attempting anchor URL approach
  docs/business-processes/settlement_master_data.md
  docs/process-flows/README.md
Due: none

Adj URL ref
  docs/business-processes/settlement_master_data.md
Due: none

Adj URL ref1
  docs/business-processes/settlement_master_data.md
Due: none

Removed anchors
  docs/process-flows/README.md
Due: none

Renamed settlement-master-data. md and fixed link
  README.md
  docs/business-processes/settlement-master-data.md
Due: none

feat: first stub of repository and factory
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202110210813 Create AvailableChargeData table.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeData/AvailableChargeData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeData/AvailableChargeDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/AvailableChargeDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Factories/AvailableChargeDataFactoryTests.cs
Due: businesslogic, infrastructure

Extended flows table with the persist flow
  docs/process-flows/README.md
Due: none

Extract sender to settings
  build/infrastructure/main/azfun-functionhost.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkBundleSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
Due: none

add db test and update db script for simple model
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202110210813 Create AvailableChargeData table.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/AvailableChargeDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/AvailableChargeDataRepositoryTests.cs
Due: infrastructure

make PK non clustered
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202110210813 Create AvailableChargeData table.sql
Due: infrastructure

Fix missing license and update test to workaround license requirement
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkCimSerializer.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/License.txt
Due: none

feat: Generate CIM/XML bundles (#732)
  build/infrastructure/main/azfun-functionhost.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/DateTime/InstantExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkBundleSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkIngestionConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCommandDeserializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/ChargeTypeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/CimChargeLinkCommandConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/CimChargeLinkConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/Cim/IChargeLinkCimSerializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleCreator.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Configuration/HubSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Configuration/IHubSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/BusinessReasonCodeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/CimMarketDocumentConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/CodingScheme.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/CodingSchemeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/DocumentConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/DocumentTypeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/IndustryClassificationMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/MarketDocument/Cim/MarketParticipantRoleMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/MarketDocument/MarketParticipantRoleMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/DateTime/InstantExtensionsTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCimSerializerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/Cim/ChargeLinkCommandConverterTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/Cim/ChargeTypeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkBundle/MessageHub/ChargeLinkBundleCreatorTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Configuration/HubSenderConfigurationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/BusinessReasonCodeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/CodingSchemeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/DocumentTypeMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/IndustryClassificationMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/MarketDocument/Cim/MarketParticipantRoleMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/ExpectedOutputChargeLinkCimSerializer.xml
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/License.txt
Due: businesslogic, infrastructure

Add valid CIM charge test file
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/GreenEnergyHub.Charges.Tests.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/Valid_CIM_Charge.xml
Due: none

Add ResolutionMapper and tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Charges/Cim/ResolutionMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Charges/Cim/ResolutionMapperTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/Valid_CIM_Charge.xml
Due: infrastructure

Add basic parser
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Charges/Cim/ChargeCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Charges/Cim/ChargeCommandDeserializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Charges/Cim/CimChargeCommandConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Charges/Cim/ChargeCommandConverterTests.cs
Due: infrastructure

Change namespace to match changes in main branch
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/ChargeCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/ChargeCommandDeserializer.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/CimChargeCommandConstants.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/ChargeBundle/Cim/ResolutionMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeBundle/Cim/ChargeCommandConverterTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeBundle/Cim/ResolutionMapperTests.cs
Due: infrastructure

Add license to valid charge XML example
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/TestFiles/Valid_CIM_Charge.xml
Due: none

Added additional comments to ChargeCreated proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Charge/ChargeCreated.proto
Due: infrastructure

replyTo is now used as a custom prop
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Energinet.DataHub.Charges.Clients.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/ServiceBus/ServiceBusRequestSender.cs
Due: none

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
