Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

merge and refactor to new code
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinksData/AvailableChargeLinksDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinksData/IAvailableChargeLinksDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinksData/IAvailableChargeLinksDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/AvailableChargeLinksDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Factories/AvailableChargeLinksDataFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/AvailableChargeLinksDataRepositoryTests.cs
Due: businesslogic, infrastructure

Remove unnecessary null-checks
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksFailedInboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksFailedOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksSucceededInboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksSucceededOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesFailedInboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesFailedOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesSucceededInboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesSucceededOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinkMessagesFailedInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinkMessagesSucceededInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksFailedInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksFailedOutboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksSucceededInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksSucceededOutboundMapper.cs
Due: none

Fixed script naming bug
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
Due: infrastructure

Fix indentation in local settings
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/local.settings.sample.json
Due: none

Remove test function host
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestFunctionHost/Configuration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestFunctionHost/GreenEnergyHub.Charges.TestFunctionHost.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestFunctionHost/MessageHub/ChargeLinkCreatedBundleSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestFunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestFunctionHost/Properties/serviceDependencies.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestFunctionHost/Properties/serviceDependencies.local.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestFunctionHost/host.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.TestFunctionHost/local.settings.sample.json
Due: none

Do not suggest uppercase initials
  source/GreenEnergyHub.Charges/publish-functions-from-localhost.cmd
Due: none

feat: Add storing of AvailableChargeLinksData (#706)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202110121245 Create AvailableChargeLinksData table.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinksData/AvailableChargeLinksData.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinksData/AvailableChargeLinksDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinksData/IAvailableChargeLinksDataFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/AvailableChargeLinksData/IAvailableChargeLinksDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkCreatedDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/IngestionFunctionNames.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/ChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/EntityConfigurations/AvailableChargeLinksDataConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Context/IChargesDatabaseContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/AvailableChargeLinksDataRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MarketParticipantRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/PostOffice/ChargeLinkCreatedDataAvailableNotifierTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Charges/Factories/AvailableChargeLinksDataFactoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/AvailableChargeLinksDataRepositoryTests.cs
Due: businesslogic, infrastructure

What: Ensured unique MP IDs in MP repo tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeLinkRepositoryTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/MeteringPointRepositoryTests.cs
Due: none

Add unit tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/ChargeLinkCreated/MessageHub/ChargeLinkCreatedBundleReplier.cs
Due: none

Update StyleCop to 1.2.0-beta.354
  source/Energinet.Charges.Libraries/source/Directory.Build.props
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksFailedOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksSucceededInboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksSucceededOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/DefaultChargeLinkMessagesReplyReaderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesFailedOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesSucceededInboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesSucceededOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkRequestClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLinkMessages/DefaultChargeLinkMessagesRequestClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinkMessagesDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinkMessagesFailedDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinkMessagesSucceededDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksFailedDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksSucceededDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinkMessagesFailedInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinkMessagesSucceededInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksFailedInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksFailedOutboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksSucceededInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksSucceededOutboundMapper.cs
Due: none

Removed unused ExistsAsync method
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/IMeteringPointRepository.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Repositories/MeteringPointRepository.cs
Due: businesslogic, infrastructure

588 read create default charge link messages reply (#719)
  source/Energinet.Charges.Libraries/source/Directory.Build.props
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkReplyReaderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksFailedOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksSucceededInboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/Mappers/CreateDefaultChargeLinksSucceededOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/DefaultChargeLinkMessagesReplyReaderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesFailedInboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesFailedOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesSucceededInboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/Mappers/CreateDefaultChargeLinkMessagesSucceededOutboundMapperTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/ServiceBus/ServiceBusRequestSenderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkRequestClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLinkMessages/DefaultChargeLinkMessagesReplyReader.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLinkMessages/DefaultChargeLinkMessagesReplyReaderBase.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLinkMessages/DefaultChargeLinkMessagesRequestClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinkMessagesDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinkMessagesFailedDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinkMessagesSucceededDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksFailedDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksSucceededDto.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinkMessagesFailedInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinkMessagesSucceededInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksFailedInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksSucceededInboundMapper.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Protobuf/CreateDefaultChargeLinksSucceededOutboundMapper.cs
Due: none

docs: add update charge domain flow
  docs/domain-flows/Update Charge Priceslist.drawio
  docs/domain-flows/Update Charge Priceslist.png
Due: none

Changed Method name to EnsureMeteringPointsAreIdentical
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPoints/Handlers/ConsumptionMeteringPointPersister.cs
Due: businesslogic

Add unit test
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkCreatedBundleSenderTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkCreatedDataAvailableNotifierTests.cs
Due: none

What: made .Setup 's oneliners
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedPersisterTests.cs
Due: none

Update build/infrastructure/env/Development/sbq-messagehub-dataavailable.tf
  build/infrastructure/env/Development/sbq-messagehub-dataavailable.tf
Due: none

What: Removed 'Remove' entries from csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
Due: infrastructure

Don't restrict to tax and grid operator
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinkCreatedDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkCreatedDataAvailableNotifierTests.cs
Due: businesslogic

Configure integrationstests for pipelines
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppServiceBusOptions.cs
Due: none

docs: rename postoffice to messagehub
  docs/domain-flows/Update Charge Priceslist.drawio
  docs/domain-flows/Update Charge Priceslist.png
Due: none

Document ISyncRequestMetaData
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/SeedWork/SyncRequest/ISyncRequestMetadata.cs
Due: businesslogic

docs: updated CreateCharge process flow
  docs/process-flows/images/CreateChargeLinkProcessFlow.drawio
  docs/process-flows/images/CreateChargeLinkProcessFlow.png
Due: none

CreateDefaultChargeLinksFailedRespondAsync and CreateDefaultChargeLinksSucceededRespondAsync
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkRequestClientTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkRequestClient.cs
Due: none

lint
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkRequestClient.cs
Due: none

docs: cosmetic change to Persisting charge ruel process flow
  docs/process-flows/images/PersistingChargesRuleSet_ProcessFlow.drawio
  docs/process-flows/images/PersistingChargesRuleSet_ProcessFlow.png
Due: none

Adjust to RSM-031 CIM XML 'NotifyBillingMasterData'
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/MessageHub/IChargeLinkDataAvailableNotifier.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/MessageHub/ChargeLinkCreatedBundleSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/MessageHub/ChargeLinkDataAvailableNotifierEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkCreatedDataAvailableNotifierConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/ChargeLinks/MessageHub/ChargeLinkCreatedDataAvailableNotifierTests.cs
Due: businesslogic

docs: update Price list process flow
  docs/process-flows/images/ChargePriceListProcessFlow.drawio
  docs/process-flows/images/ChargePriceListProcessFlow.png
Due: none

review fixes
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkRequestClientTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkClient.cs
Due: none

renamed valid tests
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkRequestClientTests.cs
Due: none

interface methods and repond renamed to reply
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkRequestClientTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkClient.cs
Due: none

review fix
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkRequestClientTests.cs
Due: none

updated publish step to be able to publish with new version number
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

double curly on GITHUB_REF#refs/heads/
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

Remove unused Proto contracts and update contracts.md
  docs/contracts.md
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessages.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesSucceeded.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinks.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksSucceeded.proto
Due: infrastructure

review fixes
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkReplyReaderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkRequestClientTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/DefaultChargeLinkMessagesReplyReaderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/DefaultChargeLinkMessagesRequestClientTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/Energinet.DataHub.Charges.Clients.Tests.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksDto.cs
Due: none

feat: create default charge link respons (#723)
  .github/actions/dotnet-publish-nuget/action.yml
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkReplyReaderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLink/DefaultChargeLinkRequestClientTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/DefaultChargeLinkMessagesReplyReaderTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/DefaultChargeLinkMessages/DefaultChargeLinkMessagesRequestClientTests.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients.Tests/Energinet.DataHub.Charges.Clients.Tests.csproj
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/DefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/DefaultChargeLink/IDefaultChargeLinkClient.cs
  source/Energinet.Charges.Libraries/source/Energinet.DataHub.Charges.Clients/Models/CreateDefaultChargeLinksDto.cs
Due: none

changed github ref to get branch name
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

updated BRANCH variable
  .github/actions/dotnet-publish-nuget/action.yml
Due: none

Path conditions:
  businesslogic: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure: any of: source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/, source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/
