Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

What: CollectionFixture documentation Why: Was missing
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Functions/Fixtures/ChargeLinkReceiverFunctionAppCollectionFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Functions/Fixtures/ChargeReceiverFunctionAppCollectionFixture.cs
Due: none

What: Removed cmd to start/stop functions Why: Not needed anymore
  source/GreenEnergyHub.Charges/startstop-from-localhost.cmd
Due: none

Remove unused service bus auth rules
  build/infrastructure/main/sb-charges.tf
Due: none

Extract subscriptions to own terraform files to align with link and shared repo
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/sbs_command_accepted.tf
  build/infrastructure/main/sbs_command_received.tf
  build/infrastructure/main/sbs_command_rejected.tf
Due: none

Extract topics to own files to align with links and shared repo
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/sbt_command_accepted.tf
  build/infrastructure/main/sbt_command_received.tf
  build/infrastructure/main/sbt_command_rejected.tf
Due: none

Update to use terraform GEH 2.0.0 modules
  build/infrastructure/main/appi.tf
  build/infrastructure/main/asp-charges.tf
  build/infrastructure/main/azfun-functionhost.tf
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/sb-post-office.tf
  build/infrastructure/main/sbt-create-link-command.tf
  build/infrastructure/main/sbt-link-command-accepted.tf
  build/infrastructure/main/sbt-link-command-received.tf
  build/infrastructure/main/sbt_command_accepted.tf
  build/infrastructure/main/sbt_command_received.tf
  build/infrastructure/main/sbt_command_rejected.tf
  build/infrastructure/main/sqlsrv-charges.tf
Due: none

Rename terraform files to align naming of files
  build/infrastructure/main/sbs-command-accepted.tf
  build/infrastructure/main/sbs-command-received.tf
  build/infrastructure/main/sbs-command-rejected.tf
  build/infrastructure/main/sbt-command-accepted.tf
  build/infrastructure/main/sbt-command-received.tf
  build/infrastructure/main/sbt-command-rejected.tf
Due: none

Use GetRequiredService to avoid new nullable signature
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ChargeDbQueries.cs
Due: none

Removed rowIds and changed int to uniqueidentifier
  docs/data-models/ChargeLinkDataModel.drawio
  docs/data-models/ChargeLinkDataModel.png
  docs/data-models/ChargesDataModel.drawio
  docs/data-models/ChargesDataModel.png
  docs/data-models/DefaultChargeLinkDataModel.drawio
  docs/data-models/DefaultChargeLinkDataModel.png
  docs/data-models/MeteringPointDataModel.drawio
  docs/data-models/MeteringPointDataModel.png
Due: none

refac: rename MeteringPointCreated
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/MeteringPoints/Handlers/IConsumptionMeteringPointCreatedEventHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPointCreatedEvents/ConsumptionMeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPointFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/MeteringPoint/ConsumptionMeteringPointCreatedReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/MeteringPointDomain/MeteringPointDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/FunctionHost/FunctionsShouldBeIncludedInCoverageTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapperTests.cs
Due: businesslogic, infrastructure

build: rename MP in terraform
  build/infrastructure/main/azfun-functionhost.tf
  build/infrastructure/main/locals.tf
Due: none

Defining contracts for creating charge links as part of the 'metering point created' process (#643)
  README.md
  docs/contracts.md
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessages.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinkMessagesSucceeded.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinks.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksFailed.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/ChargeLink/Commands/CreateDefaultChargeLinksSucceeded.proto
Due: infrastructure

build: rename in local env
  build/infrastructure/env/Development/sbs-consumption_metering-point-created-sub-charges.tf
Due: none

build: rename
  build/infrastructure/env/Development/sbt-consumption_metering-point-created.tf
Due: none

Set EndDateTime values and altering it not nullable
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109301024 DefaultChargeLink enddatetime alter not null.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109301025 ChargePeriodDetails enddatetime set values and alter not null.sql
Due: infrastructure

refac: update ConsumptionMeteringPointCreatedEvent
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPointCreatedEvents/ConsumptionMeteringPointCreatedEvent.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeterReadingPeriodicity.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringMethod.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/NetSettlementGroup.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/ProductType.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/MeteringPointDomain/MeteringPointDomain.proto
Due: businesslogic, infrastructure

build: fix merge error
  build/infrastructure/main/azfun-functionhost.tf
Due: none

Changed existing indexes to drop to i1
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109301024 DefaultChargeLink enddatetime alter not null.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109301025 ChargePeriodDetails enddatetime set values and alter not null.sql
Due: infrastructure

refac: use enum safer casting
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapper.cs
Due: infrastructure

New attempt with current index values from U
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109301024 DefaultChargeLink enddatetime alter not null.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109301025 ChargePeriodDetails enddatetime set values and alter not null.sql
Due: infrastructure

What: Add example of extracting body Why: To show developers how this can be done
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Common/EnvironmentSettingNames.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Charges/ChargeIngestionTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppFixture.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Fixtures/ChargesFunctionAppServiceBusOptions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/GreenEnergyHub.Charges.IntegrationTests.csproj
Due: none

Reorganize dependency injection so each function has its own file
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeCommandReceiverConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeConfirmationSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeIngestionConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkCommandReceiverConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkEventPublisherConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeLinkIngestionConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/ChargeRejectionSenderConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/CreateChargeLinkReceiverConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/EnvironmentHelper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/MeteringPointCreatedReceiverConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
Due: none

Update CorrelationContext to align with Team Batman
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/CorrelationContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/ICorrelationContext.cs
Due: infrastructure

Update reads from correlation context to use new interface
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/ServiceBusChannel.cs
Due: infrastructure

Add TraceContext and tests
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/TraceContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/TraceContextTests.cs
Due: infrastructure

Move correlation context and trace context to new namespace
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Correlation/CorrelationContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Correlation/ICorrelationContext.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Correlation/TraceContext.cs
Due: infrastructure

Update namespace in classes using old namespace of correlation context
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Registration/RegistrationExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverter.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Messaging/ServiceBusChannel.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverterTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/ServiceBusChannelTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/TestableServiceBusChannel.cs
Due: infrastructure

Move tests to match new namespace
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Correlation/CorrelationContextTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Correlation/TraceContextTests.cs
Due: none

Add CorrelationIdMiddleware
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Correlation/CorrelationIdMiddleware.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/GreenEnergyHub.Charges.Infrastructure.csproj
Due: infrastructure

initial creation of the Charges.Libraries solution
  source/GreenEnergyHub.Charges.Libraries/GreenEnergyHub.DataHub.Charges.Clients.sln.DotSettings
  source/GreenEnergyHub.Charges.Libraries/GreenEnergyHub.DataHub.Charges.Libraries.sln
  source/GreenEnergyHub.Charges.Libraries/nuget.config
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Libraries.Tests/GreenEnergyHub.DataHub.Charges.Libraries.Tests.csproj
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Libraries/CreateDefaultChargeLinkClient.cs
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Libraries/CreateDefaultChargeLinkMessages.proto
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Libraries/GreenEnergyHub.DataHub.Charges.Libraries.csproj
Due: none

test: factory temp refac
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/MeteringPoints/MeteringPointFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapperTests.cs
Due: businesslogic

removed Clients part from namespace in project file
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Libraries/GreenEnergyHub.DataHub.Charges.Libraries.csproj
Due: none

Remove correlation setup from functions
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/ChargeLinkCommandReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/ChargeLinkEventPublisherEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/ChargeLinks/ChargeLinkIngestion.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeCommandReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeConfirmationSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeIngestion.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Charges/ChargeRejectionSenderEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/MeteringPoint/CreateChargeLinkReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/MeteringPoint/MeteringPointCreatedReceiverEndpoint.cs
Due: none

Fix tests using wrong interface
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/Serialization/Commands/ChargeLinkCommandConverterTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Messaging/ServiceBusChannelTests.cs
Due: none

Remove unused usings
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Correlation/CorrelationIdMiddleware.cs
Due: infrastructure

Add middleware
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Configuration/SharedConfiguration.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.FunctionHost/Program.cs
Due: none

fixed namespace
  source/GreenEnergyHub.Charges.Libraries/source/GreenEnergyHub.DataHub.Charges.Libraries/CreateDefaultChargeLinkClient.cs
Due: none

test: refactor test to new model
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/MeteringPoints/Handlers/ConsumptionMeteringPointCreatedHandlerTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Integration/Mappers/ConsumptionMeteringPointCreatedIntegrationInboundMapperTests.cs
Due: none

Fix: Alter `EndDateTime` to NOT NULL in `DefaultChargeLink` and `ChargePeriodDetails` tables (#663)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109301024 DefaultChargeLink enddatetime alter not null.sql
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202109301025 ChargePeriodDetails enddatetime set values and alter not null.sql
Due: infrastructure
