Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

flags:
  unit:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  integration:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp

coverage:
  status:
    project:
      default:
        flags:
          - unit
          - integration
      unit:
        flags:
          - unit
      integration:
        flags:
          - integration

Specify how to use subscription id
  build/infrastructure/README.md
Due: none

Fix spellcheck
  build/infrastructure/README.md
Due: none

Update SonarCloud pipeline to support both .NET 3.1 and .NET 5.0
  .github/workflows/sonarcloud.yml
Due: none

Updated Readme with current PI goals for Charges
  README.md
Due: none

lint fix
  README.md
Due: none

Update Charges repo with current program increment goals (#379)
  README.md
Due: none

Update SonarCloud pipeline to support both .NET 3.1 and .NET 5.0 (#380)
  .github/workflows/sonarcloud.yml
Due: none

Add Shell for Function receiving Charge Links (#377)
  .github/workflows/link-receiver-cd.yml
  .github/workflows/link-receiver-ci.yml
  build/infrastructure/azfun-link-receiver.tf
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/deploy-from-localhost.cmd
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/ChargeLinkHttpTrigger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/GreenEnergyHub.Charges.ChargeLinkReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Properties/serviceDependencies.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Properties/serviceDependencies.local.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/host.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/local.settings.sample.json
Due: none

Remove Energinet Azure subscription from settings sample
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/integrationtest.local.settings.json.sample
Due: none

Remove unnecessary shell specification in workflow
  .github/workflows/pull-request-gate-infrastructure-ci.yml
Due: none

Remove logging of id's and secrets
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestHelpers/ChargesAzureCloudServiceBusOptions.cs
Due: none

Rename files and workflow name to align with naming in timeseries domain
  .github/workflows/pull-request-gate-infrastructure-ci-destroy.yml
  .github/workflows/pull-request-gate-infrastructure-ci.yml
Due: none

Rename files and workflow name to align with naming in timeseries domain
  .github/workflows/pr-env-setup.yml
  .github/workflows/pr-env-teardown.yml
Due: none

Check for chargeId on receivedEvent
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/Application/ChangeOfCharges/ChangeOfChargeSquadronTests.cs
Due: none

Update readme with instructions to set Azure subscription (#378)
  build/infrastructure/README.md
Due: none

Add business reason code to document
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/Document.cs
Due: unit

Remove business reason code from charge operation and adjust uses to placement on document
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Acknowledgement/ChargeConfirmationSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Acknowledgement/ChargeRejectionSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Factories/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/BusinessReasonCodeMustBeUpdateChargeInformationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/ProcessTypeIsKnownValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChangeOfCharges/Transaction/ChargeOperation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/BusinessReasonCodeMustBeUpdateChargeInformationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ProcessTypeIsKnownValidationRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeCommandTestBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: unit

Update json examples in integration tests to reflect move of business reason code
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/InvalidCreateTariffCommand.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/ValidCreateTariffCommand.json
Due: none

Infrastructure for MP created in dev environments
  build/infrastructure/.gitignore
  build/infrastructure/deploy-from-localhost.cmd
  build/infrastructure/env/Development/kv-shared-data.tf
  build/infrastructure/env/Development/kv-shared.tf
  build/infrastructure/env/Development/sb-external-integration-events.tf
  build/infrastructure/env/Development/sb-metering-point-created.tf
  build/infrastructure/localhost.tfvars.sample
  build/infrastructure/locals.tf
  build/infrastructure/main/README.md
  build/infrastructure/main/appi.tf
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-charges-message-receiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
  build/infrastructure/main/backend.tf
  build/infrastructure/main/dash-charges-template.json
  build/infrastructure/main/dash-charges.tf
  build/infrastructure/main/deploy-from-localhost.cmd
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/kv-shared-data.tf
  build/infrastructure/main/localhost.tfvars.sample
  build/infrastructure/main/locals.tf
  build/infrastructure/main/modules/ping-webtest/main.tf
  build/infrastructure/main/modules/ping-webtest/outputs.tf
  build/infrastructure/main/modules/ping-webtest/variables.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/providers.tf
  build/infrastructure/main/resource-group.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/sb-post-office.tf
  build/infrastructure/main/sqlsrv-charges.tf
  build/infrastructure/main/variables.tf
Due: none

Adjustments agreed with @renetnielsen
  build/infrastructure/env/Development/kv-shared-data.tf
  build/infrastructure/env/Development/kv-shared-stub.tf
  build/infrastructure/env/Development/sb-metering-point-created.tf
  build/infrastructure/main/deploy-from-localhost.cmd
  build/infrastructure/main/localhost.tfvars.sample
Due: none

Support external deps in dev envs infrastructure
  .github/actions/terraform-cd/action.yml
  .github/workflows/pr-env-setup.yml
  .github/workflows/pr-env-teardown.yml
Due: none

Fix pipeline error
  .github/workflows/pr-env-setup.yml
Due: none

Move BusinessReasonCode from Operation to Document (#381)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Acknowledgement/ChargeConfirmationSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Acknowledgement/ChargeRejectionSender.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Factories/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/BusinessReasonCodeMustBeUpdateChargeInformationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Validation/InputValidation/ValidationRules/ProcessTypeIsKnownValidationRule.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/ChangeOfCharges/Transaction/ChargeOperation.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/Document.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/InvalidCreateTariffCommand.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.IntegrationTests/TestFiles/ValidCreateTariffCommand.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/BusinessReasonCodeMustBeUpdateChargeInformationTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Validation/InputValidation/ValidationRules/ProcessTypeIsKnownValidationRuleTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeCommandTestBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: unit

Fix TF path
  .github/actions/terraform-cd/action.yml
Due: none

Remove duplicate correlation ID from document
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/Document.cs
Due: unit

Added SQL scripts for creating Metering Point table
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202107011226 New Metering Point.sql
Due: integration

Clean up folder structure of infrastructure code
  build/infrastructure/.gitignore
  build/infrastructure/README.md
  build/infrastructure/deploy-from-localhost.cmd
  build/infrastructure/localhost.tfvars.sample
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-charges-message-receiver.tf
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
  build/infrastructure/main/deploy-from-localhost.cmd
  build/infrastructure/modules/ping-webtest/main.tf
  build/infrastructure/modules/ping-webtest/outputs.tf
  build/infrastructure/modules/ping-webtest/variables.tf
Due: none

Fix Markdown checks
  build/infrastructure/README.md
Due: none

Fix backend.tf path
  .github/workflows/infrastructure-cd.yml
  .github/workflows/pr-env-setup.yml
  .github/workflows/pr-env-teardown.yml
Due: none

Fix TF variables set from pipelines
  .github/actions/terraform-cd/action.yml
Due: none

refac: Changed MeteringGridArea and enum type
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202107011226 New Metering Point.sql
Due: integration

refac: Added index on MeteringPointId
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202107011226 New Metering Point.sql
Due: integration

Add correlation ID to charge
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charge.cs
Due: unit

refac: Removed index on PK
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202107011226 New Metering Point.sql
Due: integration

Update use and tests of correlation ID which was using the wrong one
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Factories/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/ChargeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeCommandTestBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: unit, integration

Add infrastructure to support subscribing to metering point created events (#382)
  .github/actions/terraform-cd/action.yml
  .github/workflows/infrastructure-cd.yml
  .github/workflows/pr-env-setup.yml
  .github/workflows/pr-env-teardown.yml
  build/infrastructure/.gitignore
  build/infrastructure/README.md
  build/infrastructure/deploy-from-localhost.cmd
  build/infrastructure/env/Development/kv-shared-data.tf
  build/infrastructure/env/Development/kv-shared-stub.tf
  build/infrastructure/env/Development/sb-external-integration-events.tf
  build/infrastructure/env/Development/sb-metering-point-created.tf
  build/infrastructure/localhost.tfvars.sample
  build/infrastructure/locals.tf
  build/infrastructure/main/appi.tf
  build/infrastructure/main/azfun-charge-confirmation-sender.tf
  build/infrastructure/main/azfun-charge-rejection-sender.tf
  build/infrastructure/main/azfun-charges-chargecommandreceiver.tf
  build/infrastructure/main/azfun-charges-message-receiver.tf
  build/infrastructure/main/azfun-link-receiver.tf
  build/infrastructure/main/azfun-metering-point-created-receiver.tf
  build/infrastructure/main/backend.tf
  build/infrastructure/main/dash-charges-template.json
  build/infrastructure/main/dash-charges.tf
  build/infrastructure/main/kv-charges.tf
  build/infrastructure/main/kv-shared-data.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/providers.tf
  build/infrastructure/main/resource-group.tf
  build/infrastructure/main/sb-charges.tf
  build/infrastructure/main/sb-post-office.tf
  build/infrastructure/main/sqlsrv-charges.tf
  build/infrastructure/main/variables.tf
Due: none

feat: Added SQL scripts for creating Metering Point table (#383)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/GreenEnergyHub.Charges.ApplyDBMigrationsApp.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/Scripts/Model/202107011226 New Metering Point.sql
Due: integration

Remove duplicate correlation ID on Document (#384)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Factories/ChargeFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Charge.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Common/Document.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Mapping/ChargeMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Builders/ChargeCommandTestBuilder.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Repositories/ChargeRepositoryTests.cs
Due: unit, integration

Add Charges data model drawio and png
  docs/data-models/ChargesDataModel.drawio
  docs/data-models/ChargesDataModel.png
Due: none
