Repository Energinet-DataHub/ARCHIVED-geh-charges: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/
  infrastructure:
    paths:
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ApplyDBMigrationsApp/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeAcknowledgementSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeCommandReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeConfirmationSender/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeRejectionSender/      
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/
      - source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.MessageReceiver/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

feat: Add charge link event publisher project (#454)
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/ChargeLinkEventPublisherServiceBusTrigger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/GreenEnergyHub.Charges.ChargeLinkEventPublisher.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/HealthStatus.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Properties/serviceDependencies.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Properties/serviceDependencies.local.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/host.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/local.settings.sample.json
Due: none

build: add terraform for new function
  build/infrastructure/main/azfun-link-command-receiver.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/GreenEnergyHub.Charges.ChargeLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
Due: none

build: update link command tf
  build/infrastructure/main/azfun-link-command-receiver.tf
Due: none

Add action for deleting terraform state
  .github/actions/delete-terraform-state/action.yml
Due: none

Use new action in teardown
  .github/workflows/pr-env-teardown.yml
Due: none

build: updated local.settings.sample.json
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/local.settings.sample.json
Due: none

Add deployment of event publisher to local deployment script
  source/GreenEnergyHub.Charges/deploy-from-localhost.cmd
Due: none

Fix issue with tfstate surviving teardown (#455)
  .github/actions/delete-terraform-state/action.yml
  .github/workflows/pr-env-teardown.yml
Due: none

Add pipeline for CI for Charge Link Event Publisher
  .github/workflows/link-event-publisher-ci.yml
Due: none

Autoconfirm deletion
  .github/actions/delete-terraform-state/action.yml
Due: none

Add pipeline for CD of link event publisher
  .github/workflows/link-event-publisher-cd.yml
Due: none

Autoconfirm deletion (#456)
  .github/actions/delete-terraform-state/action.yml
Due: none

build: CI/CD for link event publisher (#457)
  .github/workflows/link-event-publisher-cd.yml
  .github/workflows/link-event-publisher-ci.yml
  source/GreenEnergyHub.Charges/deploy-from-localhost.cmd
Due: none

build: fix function tf naming issues
  build/infrastructure/main/azfun-link-command-receiver.tf
Due: none

build: rename to have single topic and subs files
  build/infrastructure/main/sbs-link-command-accepted.tf
Due: none

build: setup topic and sub for function
  build/infrastructure/main/azfun-link-command-receiver.tf
  build/infrastructure/main/sbs-link-command-received.tf
  build/infrastructure/main/sbt-link-command-received.tf
Due: none

build: update subscription name in locals
  build/infrastructure/main/sb-charges.tf
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/local.settings.sample.json
Due: none

fix: compile errors
  source/GreenEnergyHub.Charges/GreenEnergyHub.Charges.sln
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
Due: none

Split into two protobuf contracts, one per event
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandAccepted.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandAcceptedDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandReceived.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/DocumentDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Enums.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/MarketParticipantDomain.proto
Due: infrastructure

fix: cast to command type
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/LinkCommandReceiverEndpoint.cs
Due: none

Update to use new contracts
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/DateTime/InstantExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapperTests.cs
Due: businesslogic, infrastructure

Update test to reflect changes to contract
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapperTests.cs
Due: none

Add tests of new extension methods
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/DateTime/InstantExtensionsTests.cs
Due: none

refac: Update internal protobuf contracts (#458)
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkReceiver/Program.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Core/DateTime/InstantExtensions.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandAccepted.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandAcceptedDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkCommandReceived.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/ChargeLinkDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/DocumentDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Enums.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapper.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/MarketParticipantDomain.proto
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Core/DateTime/InstantExtensionsTests.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeLinkCommandOutboundMapperTests.cs
Due: businesslogic, infrastructure

Add message extractor to service bus trigger
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/ChargeLinkEventPublisherServiceBusTrigger.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Program.cs
Due: none

Add mapper for accepted link commands
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Infrastructure/Internal/Mappers/ChargeLinkCommandAcceptedInboundMapper.cs
Due: infrastructure

Add test of new accepted link command mapper
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Infrastructure/Internal/Mappers/ChargeLinkCommandAcceptedInboundMapperTests.cs
Due: none

Update EventPublisher to use newly refactored protobuf contract
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Program.cs
Due: none

fix: worker instead of webjob
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/GreenEnergyHub.Charges.ChargeLinkCommandReceiver.csproj
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/LinkCommandReceiverEndpoint.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
Due: none

Add abstract class for outbound integration events
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/OutboundIntegrationEvent.cs
Due: businesslogic

Handle Transaction in abstract class
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/OutboundIntegrationEvent.cs
Due: businesslogic

fix: add protobuf namespace
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkCommandReceiver/Program.cs
Due: none

Add ChargeLinkCreated event classes
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/ChargeLinkCreated.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/ChargeLinkPeriod.cs
Due: businesslogic

Add basic charge link event publisher
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/ChargeLinkEventPublisher.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/IChargeLinkEventPublisher.cs
Due: businesslogic

Dependency inject event publish handler
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/ChargeLinkEventPublishHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/IChargeLinkEventPublishHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.ChargeLinkEventPublisher/Program.cs
Due: businesslogic

Add basic implementation of event publish handler
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/ChargeLinkEventPublishHandler.cs
Due: businesslogic

Rename event to ChargeLinkCreatedEvent
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/ChargeLinkEventPublishHandler.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Domain/Events/Integration/ChargeLinkCreatedEvent.cs
Due: businesslogic

Add factory for charge link created events
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Factories/ChargeLinkCreatedEventFactory.cs
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/Factories/IChargeLinkCreatedEventFactory.cs
Due: businesslogic

Add test of ChargeLinkCreatedEventFactory
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Tests/Application/Factories/ChargeLinkCreatedEventFactoryTests.cs
Due: none

Use event factory in event publish handler
  source/GreenEnergyHub.Charges/source/GreenEnergyHub.Charges.Application/ChargeLinks/ChargeLinkEventPublishHandler.cs
Due: businesslogic
